// Header Style Module
.Wsetting_header {
  p {
    margin: 0;
    font-size: 20px !important;
    font-weight: bold;
    > i {
      border: 1px solid #e31b1b;
      color: #e31b1b;
      padding: 5px;
      border-radius: 10px;
      margin-left: 15px;
      cursor: pointer;
    }
  }
}

.content_links {
  width: 100%;
  cursor: pointer;
}

// Setting Page P tag Style Module
.Wsettings_main {
  // background: #f0f0f0;
  max-width: 100%;
  outline: none;
  height: 100vh;
  overflow: auto;
  overflow-x: auto;
  scrollbar-width: thin;
  p {
    font-size: 15px;
    color: #474747;
    text-transform: capitalize;
  }
}

// Final Account Button Module
.confrom_account {
  button {
    background: linear-gradient(to bottom right, #f80402 0, #a50f0d);
    border-radius: 8px;
    padding: 10px 25px;
    color: #fff;
    font-weight: 700;
    margin: 0;
    border: none;
    margin-right: 15px;
  }
}

.d_settings_content {
  padding-left: 30px !important;
}

.d_settings_dropdown {
  color: #e31b1b;
}

.d_settings_selected_content {
  padding: 30px;
}

.d_settings_label {
  font-size: 18px;
  color: #484848;
}

.d_settings_delete_acc {
  cursor: pointer;
  // background: white;
  background: linear-gradient(to bottom right, #f80402 0, #a50f0d);
  border-radius: 5px;
  border: none;
  // color: #c8cfe0;
  color: #fff;
  // border: 1px solid #c8cfe0;
  padding: 10px 20px;
  width: 180px !important;
  margin-top: 20px;
}

.d_settings_label_pink {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: #e31b1b;
  cursor: pointer !important;
}

.d_setting_dark_label {
  font-size: 22px;
  font-family: "Product Sans Bold";
  color: #474747;
}

.d_settings_chevron {
  color: #6e6e6e !important;
  font-size: 14px !important;
  padding-left: 10px;
}

.WNavbar_setting {
  // background: linear-gradient(to bottom right,#f80402 0,#a50f0d);
  background: white;
  min-height: 60px;
  > div {
    > div:nth-child(1) {
      display: flex;
      color: #fff;
      > i {
        cursor: pointer;
      }
      h5 {
        font-size: 24px !important;
        font-family: "Product Sans Bold" !important;
        color: #484848 !important;
        padding: 0 15px;
      }
    }
    > div:nth-child(2) {
      a,
      span {
        border: 2px solid #fff;
        border-radius: 22px;
        padding: 5px 15px;
        cursor: pointer;
        color: #fff;
        &:hover {
          text-decoration: none;
        }
      }
      > div {
      }
    }
  }
}

.deleteAccModal {
  position: relative;
  > div:nth-child(2) {
    font-family: "Product Sans Bold";
    color: #484848;
    font-size: 24px;
  }
}

.cancelModalButton {
  cursor: pointer;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center;
  padding: 10px 0px;
  color: #404040;
  width: 180px;
  font-size: 18px;
  border-radius: 5px;
  font-family: "Product Sans Bold";
  border: 2px solid #404040;
  background: #fff;
}

.confirmModalButton {
  cursor: pointer;
  font-family: "Product Sans Bold";
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center;
  padding: 10px 0px;
  color: white;
  width: 180px;
  font-size: 18px;
  border-radius: 5px;
  border: none;
  background: linear-gradient(to bottom right, #f80402 0, #a50f0d);
}

.d_newsFeed_modal_close_btn {
  background: #fff;
  cursor: pointer;
  box-shadow: 0px 1px 4px #000029;
  height: 34px;
  width: 34px;
  border-radius: 50px;
  position: absolute;
  top: -14px;
  right: -14px;
  z-index: 2000;
  > img {
    margin-left: 11px;
    margin-top: 7px;
  }
}

.sl_header {
  > p:nth-child(1) {
    > b {
      font-size: 16px !important;
      font-family: "Circular Air Bold" !important;
      color: #000 !important;
    }
  }
  > p:nth-child(2) {
    font-size: 14px !important;
    font-family: "Circular Air Book" !important;
    color: #484848;
    opacity: 0.7 !important;
  }
}

.notPopularPlan {
  > p {
    font-size: 12px !important;
    color: #000;
    font-family: "Circular Air Book" !important;
  }
}

.popularPlan {
  > p {
    font-size: 12px !important;
    color: #e31b1b;
    font-family: "Circular Air Book" !important;
  }
}
