// Global Variable Scss
@import "../../../../../Variable.scss";

// Welcome Page Style Module
.MWelcome {
  // position: fixed !important;
  // bottom: 7% !important;
  p {
    font-weight: 600;
  }
  h3 {
    font-weight: 600;
  }
  span {
    color: $text-darkpink;
  }
}

// Prefer not to say Style Module
.Muser_notsay {
  position: fixed;
  font-family: "Circular Air Book";
  bottom: 10px;
  > label {
    color: #f1f1f1 !important;
  }
  > label:checked {
    color: #f1f1f1 !important;
  }
  [type="radio"]:checked + label:before,
  [type="radio"]:not(:checked) + label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    // border: 2px solid #ccc;
    border-radius: 100%;
    background: #161616 !important;
  }
}

.m_radioSelect {
  font-size: 18px;
  font-family: "Circular Air Book" !important;
  color: #484848;
}
