// Global Scss File
@import "../../../../../Variable.scss";

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  // min-width: 100%;
  // min-height: 100%;
  height: 100vh;
  z-index: 9;
}

.links {
  color: #1cacf4;
  font-size: 13px;
  text-decoration: underline;
  font-family: "Circular Air Book";
}

.info-text {
  color: #fff;
  font-size: 13px;
  font-family: "Circular Air Book";
}

.MobileSlider {
  position: fixed;
  bottom: 0;
  color: #f1f1f1;
  width: 100%;
  z-index: 99 !important;
  > div {
    padding-top: 4vh;
    .Mslider {
      // min-height: 480px;
      min-height: 400px;
      > div {
        > div {
          p {
            text-align: center;
            font-size: 1.1rem;
            font-weight: 700;
            display: inline-block;
            color: $text-black;
          }
        }
      }
    }
  }
  .Mlogin {
    padding: 0 !important;
    > .Mfacebooklogin {
      display: flex;
      justify-content: center;
      align-items: center;
      > span {
        margin: auto;
        width: 75%;
        button {
          padding: 10px;
          width: 100%;
          margin: 0 !important;
          font-family: "Circular Air Bold";
          text-transform: uppercase;
          font-size: 14px;
          color: white;
          background: transparent !important;

          box-shadow: none !important;
          border: 1px solid #fff;
          border-radius: 20px !important;
          &:hover {
            background-color: transparent !important;
          }
        }
      }
    }
    > .Mmobilelogin {
      > div {
        margin: auto;
        width: 75%;
        button {
          margin: 10px 0px !important;

          z-index: 100 !important;
          // background: $bggradiant-color !important;
          background: transparent;
          border-radius: 20px;
          color: #fff !important;
          font-weight: 600;
          padding: 8px 40px !important;
          border: 1px solid #fff;
          > span {
            font-family: "Circular Air Bold";
            font-size: 14px;
          }
        }
      }
    }
    > .MEmaillogin {
      text-align: center;
      > div {
        width: 75%;
        margin: auto;
        button {
          margin: 10px 0px !important;
          z-index: 100 !important;
          margin-top: 0px !important;
          background: transparent;
          border: 1px solid #fff;
          border-radius: 20px;
          color: $text-white !important;
          font-weight: 600;
          padding: 8px 75px !important;
          > span {
            font-family: "Circular Air Bold";
            font-size: 14px;
          }
        }
      }
    }
  }

  .MSigninissue {
    z-index: 100 !important;
    padding: 0 !important;
    p {
      font-family: "Circular Air Book";
      z-index: 100 !important;
      color: #fff !important;
      font-size: 12px;
      margin: 0;
    }
  }
  .slick-dots {
    bottom: 15px !important;
  }
}

.text-dark {
  font-family: "Circular Air Book";
  z-index: 100 !important;
  color: #fff !important;
}

.m_login_select_lang {
  > span {
    font-family: "Circular Air Book";
  }
}

// React Slick Slider Style Module
.Mslider {
  > .slick-list {
    > .slick-track {
      > div {
        > div {
          > div {
            > p {
              font-family: "Circular Air Bold";
            }
            img {
              margin: 0 auto;
              margin-top: 0px;
              max-width: 400px;
              height: auto;
              margin-top: 6vh;
            }
          }
        }
      }
    }
  }
}

.m_facebook_login {
  // height: 40px !important;
  width: 80%;
  background-color: #5674c2;
  color: white;
  border-radius: 5px;
  font-weight: bold !important;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 17px;
}
