// Global Variable Scss
@import "../../../../../Variable.scss";

// First-Name Section Scss
.MainNameSection {
  h4 {
    font-weight: 800;
    font-size: 1.6rem;
    font-style: italic;
    span {
      color: $text-darkpink;
    }
  }
  .NameValidate {
    text-align: center;
    p {
      font-size: 13px;
      margin: 0;
      font-weight: 600;
      color: $background-light;
    }
  }
  .InputName {
    margin-top: 20px;
    input {
      background-color: $border-lightcolorborder;
      border-radius: 4px;
      width: 85%;
      border: $border-lightcolorborder;
      padding: 11px;
      font-weight: 700;
    }
  }
  .NameNextDec {
    text-align: left;
    margin: 20px 0;
    font-size: 13px;
    color: $light-gray;
    padding-left: 20px;
    padding-right: 20px;
    a {
      color: $light-gray !important;
      text-decoration: underline !important;
      margin-left: 4px !important;
      &:hover {
        color: $text-darkpink !important;
      }
    }
  }
  .ValidateName {
    > div {
      > button {
        width: 100%;
        padding: 0;
        margin: 20px 0;
        box-shadow: $boxshadow-dark;
        text-transform: uppercase;
        max-width: 100%;
        height: 54px;
        color: $text-white;
        cursor: pointer;
        border-radius: 100px;

        &:focus,
        &:active,
        &:hover {
          background: $text-darkpink;
        }
      }
    }
  }
}
