// Global Variable Scss
@import "../../../../Variable.scss";

// Common Class Style Module
.MProfile {
  .Mbasic {
    p {
      color: #d1d1d1;
      font-size: 14px;
      font-family: "Circular Air Light";
    }
  }
  .Mbasicanswer {
    font-size: 14px;
    font-family: "Circular Air Light";
    color: #d1d1d1;
  }
}

.m-camera-module {
  #container-circles {
    left: 50%;
    bottom: 65px !important;
    > #outer-circle {
      height: 50px;
      width: 50px;
      > #inner-circle {
        height: 35px;
        width: 35px;
        left: 58%;
        top: 30px;
      }
    }
  }
}

.MUserProfileimg {
  height: 80vw !important;
  width: 100%;
  > div {
    height: 80vw !important;
    width: 100%;
    > div {
      height: 80vw !important;
      width: 100%;
      > div {
        height: 80vw !important;
        width: 100%;
        > video {
          height: 80vw !important;
        }
      }
    }
  }
  // > img {
  //   object-fit: cover;
  // }
}

.MUserAbout {
  > p {
    > strong {
      font-size: 18px;
      font-family: "Circular Air Bold";
      color: #d1d1d1;
    }
  }
  > textarea {
    background: #161616;
    font-size: 14px;
    font-family: "Circular Air Light";
    color: #808080;
    outline: none !important;
  }
}

// Upgrade Datum Style Module
.Mdatumplus {
  background: rgb(247, 65, 103);
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 23px;
}

// Right side Add Other Photo Right Arrow Style Module
.MProfile_addsave {
  position: absolute;
  right: 10px;
  background: transparent;
  border: none;
}

// Input to Uploade a New Picture
.MUpload_otherimg {
  background: #bcbcbc;
  border-radius: 5px;
  height: 125px;
  width: 110px;
  > div {
    > div {
      > label {
        font-size: 22px;
        height: 115px;
        width: 150px;
        > i {
          position: absolute;
          left: 40%;
          top: 40%;
        }
      }
    }
  }
}

// Currently User Porfile Picture Style Module
.Motherimg_card {
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12) !important;
  height: 160px;
  width: 125px;
  img {
    border-radius: 5px;
    width: 125px;
    height: 125px;
    background: #f8f8f8;
  }
  > i {
    position: absolute;
    right: 10px;
    top: 10px;
    border: 1px solid;
    padding: 2px;
    border-radius: 7px;
    cursor: pointer;
  }
}

.Msavesetting {
  position: fixed;
  right: 10px;
  border: none;
  background: #fff;
}

.MUserProfiledetails {
  h4 {
    > strong {
      font-size: 18px !important;
      font-family: "Circular Air Bold" !important;
      color: #d1d1d1 !important;
      opacity: 0.9;
    }
  }
}

.MLoopbasicanswer {
  font-size: 14px;
  font-family: "Circular Air Book";
  color: #000;
}

.label-common2 {
  font-size: 22px;
  font-family: "Circular Air Bold";
  color: #e31b1b;
}

.label-common1 {
  font-size: 22px;
  font-family: "Circular Air Bold";
  color: #484848;
}

.m-label-common1 {
  color: #808080;
  font-size: 22px;
  font-family: "Circular Air Bold";
}

.m_edit_notSelected {
  font-size: 18px;
  font-family: "Circular Air Book";
  color: #808080;
}

.m_edit_selected {
  font-size: 18px;
  font-family: "Circular Air Book";
  color: #fff;
}

.m_editView {
  height: 100vh;
  position: relative;
}

.m_ep_pinkCheck {
  color: #e31b1b;
}

.m_upload-about {
  position: fixed;
  bottom: 60px;
  right: 20px;
}

.m_ep_editText {
  > input {
    width: 100%;
    border-top: none;
    border-left: none;
    border-right: none;
    color: #808080;
    background: #161616;
    font-size: 16px;
    font-family: "Circular Air Book";
  }
}

.m_ep_preferNotToSay {
  position: absolute;
  bottom: 20px;
  display: flex;
  align-items: center;
  > div {
    > label {
      > span:nth-child(2) {
        font-size: 16px;
        color: #fff;
        font-family: "Circular Air Book";
      }
    }
  }
}

.m_update_profile_video {
  > div {
    flex-direction: column;
    padding-bottom: 20px;
    > div {
      font-size: 18px;
      font-family: "Circular Air Bold";
      color: #808080;
      padding-bottom: 15px;
    }
    > button {
      background: #f80402;
      color: white;
      font-size: 16px;
      font-family: "Circular Air Book";
      text-align: center;
      padding: 8px;

      width: 180px;
      border: none;
      border-radius: 24px;
    }
  }
}

.m_update_profile_photo_header {
  > div {
    > div {
      font-size: 18px;
      color: #808080;
      font-family: "Circular Air Bold";
    }
  }
}

.m_update_profile_otherImages {
  > div {
    > div {
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12) !important;
      > img {
        border-radius: 5px;
        object-fit: cover;
      }
    }
  }
}

.selfProfile-header {
  height: 44px;
  position: absolute !important;
  top: 0px !important;
  width: 100%;
}

.selfProfile-scrollView {
  height: calc(100vh - 44px);
  overflow-y: auto;
}

.cmeId {
  > span:nth-child(1) {
    font-family: "Circular Air Book";
    color: #fff;
    background: #e31b1b;
    padding: 0px 5px;
    font-size: 11px;
  }
  > span:nth-child(2) {
    padding-left: 5px;
    font-family: "Circular Air Light";
    color: #e31b1b;
    font-size: 11px;
  }
}

.about-textLength {
  font-size: 13px;
  font-family: "Product Sans";
  color: #d1d1d1;
}

.set_profile_picture {
  position: relative;

  > div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 0px;
    > div:nth-child(1) {
      > img {
        height: 18px;
        width: 18px;
      }
    }
    > div:nth-child(2) {
      font-size: 10px;
      color: #808080;
      padding-left: 5px;
      font-family: "Circular Air Book";
    }
  }
}

.m_update_profile_deletePicture {
  z-index: 101;
  position: absolute;
  right: 20px;
  top: 5px;
}

.m_update_profile_upload_image {
  background-color: #d3d3d3;
  border-radius: 5px;
}

.m_update_profile_video {
  > span {
    position: absolute;
    top: 30px;
    right: 10px;
    z-index: 99;
  }
  > div {
    height: inherit !important;
    width: inherit !important;
    > video {
      height: inherit;
      width: inherit;
    }
  }
}

.m_chat_customLoader {
  position: absolute;
  width: 80%;
  padding: 10px 10px;
  background: white !important;
  opacity: 0.9;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
  top: 50%;
  left: 50%;
  border-radius: 5px;
  transform: translate(-50%, -50%);
  z-index: 999;
  > div {
    > span {
      font-family: "Circular Air Book";
    }
  }
}
