// Slider Search Style Module
.MFilter_user {
  > div {
    > span {
      display: none;
    }
    > div {
      > span {
        > span {
          display: none;
        }
      }
    }
  }
}

.m_pref_stickyHeader {
  height: 153px;
  top: 0;
  position: fixed;
  width: 100%;
}

.m_pref_options {
  margin-top: 153px;
}

.m_searchPref_location {
  > span {
    font-size: 16px;
    color: #808080;
    font-family: "Circular Air Book";
  }
  > p {
    font-size: 14px;
    color: #d1d1d1;
    opacity: 0.7;
    font-family: "Circular Air Book";
  }
}

.m_filterParameters {
  font-size: 16px;
  color: #808080;
  font-family: "Circular Air Book";
}

.m_searchPref_genderOptions {
  font-size: 16px;
  color: #808080;
  font-family: "Circular Air Book";
  > div {
    > div {
      background: #161616 !important;
      > div {
        > div {
          color: #d1d1d1 !important;
        }
      }
    }
  }
  // .css-26l3qy-menu {

  // }
}

.m_pref_location {
  font-size: 14px !important;
}

// Select Dropdown Style Module
.Mgenderselect {
  > div {
    width: 100%;
  }
}

.m_searchPref_location_header {
  padding-top: 2px;
  font-size: 16px;
  color: #808080 !important;
  opacity: 0.7;
  font-family: "Circular Air Book";
}

// Active Tabs for Distance Style Module
.Mdistance_tabs {
  cursor: pointer;
  > div {
    // border: 1px solid #c1c1c1;
    border-radius: 0px !important;
    width: 100%;
    text-align: center;
    margin: 0 auto;

    .MSwitch_distancecontainer {
      > ul {
        list-style: none;
        padding-left: 0;
        background-color: #f4f4f4;
        margin: 0;
        > .MSwitch_view {
          display: inline-block;
          padding: 1px 15px;
          color: #fff;
        }
        > .activeitem_distance {
          background: linear-gradient(to bottom right, #f80402 0, #a50f0d);
          font-family: "Circular Air Book";
          font-size: 13px;
          border-radius: 0px !important;
          color: #fff;
        }
        > li {
          font-family: "Circular Air Book";
          font-size: 13px;
        }
      }
    }
  }
}

// Active Tabs for Height Style Module
.Mheight_tabs {
  > div {
    // border: 1px solid #c1c1c1;
    border-radius: 0px !important;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    .MSwitch_heightcontainer {
      > ul {
        list-style: none;
        padding-left: 0;
        background-color: #f4f4f4;
        margin: 0;
        > .MSwitch_view {
          display: inline-block;
          padding: 1px 15px;
          color: #fff;
        }
        > .activeitem_height {
          background: linear-gradient(to bottom right, #f80402 0, #a50f0d);
          //
          border-radius: 0px !important;
          color: #fff;
        }
        > li {
          font-family: "Circular Air Book";
          font-size: 13px;
        }
      }
    }
  }
}
