.Mdialog {
  > div {
    height: auto !important;
    transform: inherit !important;
  }
}

.LoginMdialog {
  > div {
    transform: translate(-50%, 25%) !important;
    height: inherit !important;
    width: auto !important;
  }
}

.coinHistoryModalPosition {
  > div {
    transform: translate(-50%, 10%) !important;
    width: 550px !important;
  }
}

.FilterUserModal {
  > div {
    transform: translate(-50%, 10%) !important;
    width: 400px !important;
    height: auto !important;
  }
}

.MapModal {
  > div {
    transform: translate(-50%, 10%) !important;
    width: 700px !important;
    height: auto !important;
  }
}

.InChatLocationModal {
  > div {
    transform: translate(-50%, 10%) !important;
    width: 550px !important;
    height: auto !important;
  }
}

.ActivedPlanModal {
  > div {
    transform: translate(-50%, 50%) !important;
    height: 280px !important;
    width: auto !important;
  }
}

.ProspectsModal {
  // > div {
  transform: translate(-23%, 5%) !important;
  // height: 280px !important;
  width: auto !important;
  // }
}

.CoinTransactionModal {
  > div {
    border-radius: 20px !important;
    border: none !important;
    transform: translate(-50%, 50%) !important;
    height: 430px !important;
    width: 600px !important;
  }
}

.PayPalModal {
  > div {
    border-radius: 20px !important;
    border: none !important;
    transform: translate(-50%, 50%) !important;
    height: 350px !important;
    width: 600px !important;
  }
}

._EditImageModal {
  > div {
    border-radius: 5px !important;
    border: none !important;
    transform: translate(-50%, 18%) !important;
    height: 500px !important;
    width: 600px !important;
  }
}

._m_EditImageModal {
  > div {
    border-radius: 5px !important;
    border: none !important;
    transform: translate(-59%, 18%) !important;
    height: 70% !important;
    width: 80% !important;
  }
}

/** for mobile plan activated modal */
.m_activedplan {
  transform: translate(0, 5%) !important;
  > div {
    left: 0%;
  }
}

.m_textInputModal {
  transform: translate(0, 5%) !important;
  > div {
    opacity: 1;
    // background: transparent;
    left: 0%;
  }
}

.m_settings_report {
  // border: none !important;
  // transform: translate(0, 35%) !important;
  // > div {
  //   border: none !important;
  //   opacity: 1;
  //   background: transparent;
  //   left: 0%;
  // }
  position: absolute;
  top: 80% !important;
  left: 50%;
  border-radius: 5px;
  transform: translate(-50%, -50%);
}

.d_sendLocationFromChat {
  position: absolute;
  top: 25% !important;
  left: 50%;
  border-radius: 5px;
  transform: translate(-50%, -50%);
}

.m_settings_input_text {
  position: relative;
  border: none !important;
  transform: translate(0, 25%) !important;
  > div {
    border: none !important;
    opacity: 1;
    height: 270px !important;
    background: white;
    left: 0%;
  }
}
