.datesTab {
  margin-top: 59px !important;
  > div {
    > header {
      background: #161616;
      > div {
        > div {
          > div {
            > div {
              justify-content: space-evenly;
              button {
                width: 33%;
                > span {
                  > span {
                    > span {
                      font-family: "Circular Air Book" !important;
                      text-transform: capitalize !important;
                      font-size: 14px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    > div {
      height: calc(100vh - 165px) !important;
      background: #161616;
      overflow-y: auto;
    }
  }
}

.datesPendingInfo {
  > div:nth-child(1) {
    > img {
      height: 30px;
      width: 30px;
      object-fit: cover;
      border-radius: 50%;
    }
  }
  > div:nth-child(2) {
    font-family: "Circular Air Bold";
    font-size: 16px;
    color: #484848;
  }
  > div:nth-child(3) {
    font-family: "Circular Air Book";
    font-size: 13px;
    opacity: 0.7;
    color: #484848;
  }
}

.datesPendingInfoImage {
  height: 25%;
  width: 100%;
  > img {
    height: 350px !important;
    object-fit: cover;
    width: 100%;
  }
}

.datesPendingInfoText {
  font-family: "Circular Air Bold";
  font-size: 14px;
  color: #484848;
}

.datesPendingTime {
  > div:nth-child(2) {
    font-family: "Circular Air Book";
    font-size: 13px;
    color: #049ce4;
  }
}

.datesPendingActivity {
  > div:nth-child(1) {
    font-family: "Circular Air Bold";
    font-size: 13px;
    color: #a0a0a0;
    border-radius: 5px;
    border: 2px solid #a0a0a0;
  }
  > div:nth-child(2) {
    > div {
      justify-content: space-evenly;
    }
  }
}

.datesUpcomingActivity {
  > div:nth-child(2) {
    > div {
      justify-content: space-evenly;
    }
  }
}

.date-activityButton-enabled {
  font-family: "Circular Air Bold";
  font-size: 13px;
  color: #d6d6d6;
  background: #fff;
  border-radius: 5px;
  border: 2px solid #d6d6d6;
}

.date-activityButton-disabled {
  font-family: "Circular Air Bold";
  font-size: 13px;
  color: white;
  background: #d6d6d6 !important;
  border-radius: 5px;
  border: 2px solid #d6d6d6;
}

.confirmDateModal {
  border-radius: 16px;
  > div:nth-child(1) {
    font-family: "Circular Air Book";
    font-size: 13px;
    text-align: center;
    color: #000;
  }
  > div:nth-child(2) {
    > div {
      text-align: center;
      font-family: "Circular Air Book";
      font-size: 16px;
      color: #049ce4;
    }
  }
}

.pastDateStatus {
  align-items: center;
  > div:nth-child(1) {
    > img {
      height: 35px;
      width: 35px;
      object-fit: cover;
      border-radius: 50%;
    }
  }
  > div:nth-child(2) {
    > div:nth-child(1) {
      font-family: "Circular Air Bold";
      font-size: 16px;
      color: #484848;
    }
    > div:nth-child(2) {
      font-family: "Circular Air Book";
      font-size: 13px;
      color: #a0a0a0;
    }
  }
  > div:nth-child(3) {
    font-family: "Circular Air Book";
    font-size: 13px;
    color: #a0a0a0;
  }
}

.m_date_reschedule {
  background: #e31b1b;
  border-radius: 50%;
  height: 27px;
  width: 27px;
  > img {
    margin-top: 4px;
    margin-left: 6px;
  }
}

.rescheduleDateText {
  font-family: "Circular Air Book";
  font-size: 12px;
  color: #000;
}

.rescheduleDatehearts {
  position: relative;
}

.heart1 {
  top: 60%;
  left: 18%;
  position: absolute;
}
.heart2 {
  top: 100%;
  right: 15%;
  transform: rotate(290deg);
  position: absolute;
}
.heart3 {
  top: 40%;
  right: 17%;
  position: absolute;
}
.heart4 {
  top: 0%;
  left: 20%;
  position: absolute;
}

.datesTextField {
  width: 100%;
  > div {
    font-family: "Circular Air Book" !important;
    font-size: 14px;
  }
}

.confirmDateBtn {
  position: absolute;
  right: 10px;
  bottom: 20px;
  border: none;
  background: none;
}

.rescheduleDateScreen {
  height: 100vh;
  position: relative;
}

.rescheduleDateConfirmBtn {
  font-size: 16px;
  background: linear-gradient(to bottom right, #e31b1b 0%, #ff7b43 100%);
  border: none;
  color: white;
  text-align: center;
  width: 90%;
  border-radius: 24px;
  padding: 6px 0;
  font-family: "Circular Air Book";
}

.rescheduleDateHeader {
  font-size: 16px;
  color: #000;
  font-family: "Circular Air Book";
}

.rescheduleDateSubText {
  font-size: 13px;
  color: #484848;
  font-family: "Circular Air Book";
}

.rescheduleConfirmPopupModalCloseBtn {
  position: absolute;
  right: 20px;
  top: 20px;
}

.m_dates_stickyHeader {
  top: 0px !important;
  position: fixed !important;
  height: 59px !important;
}
