.slick-arrow.slick-prev {
  display: none !important;
}

.User_balance {
  display: inline-flex;
  > ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
    min-width: 150px;
    text-align: center;
  }
  > li {
    display: inline-block;
  }
}

.Plan_border {
  border: 2px solid #e31b1b;
  padding: 10px 0;
  border-radius: 4px;
  > p:nth-child(1) {
    font-size: 16px;
    margin: 0;
  }
  > p:nth-child(2) {
    font-size: 13px;
    margin: 0;
  }
  > p:nth-child(3) {
    font-size: 17px;
    font-weight: 600;
    margin: 0;
  }
}
