// Aside Styles

.referralText {
  font-size: 22px;
  font-family: "Product Sans Bold";
  color: #474747;
}

.viewProfile {
  cursor: pointer;
  font-size: 13px;
  font-family: "Product Sans Bold";
  color: #6e6e6e;
  > span {
    > i {
      padding-left: 5px;
      color: #e31b1b;
    }
  }
}

.userInfo {
  display: flex;
  align-items: center;
  padding: 1px 0px;
  // height: 20px;
  padding-left: 7px !important;
}

.referralModal {
  position: relative;
}

.referral {
  font-size: 14px;
  cursor: pointer;
  color: #484848;
  font-family: "Circular Air Bold";
}

.sidepanel-1 {
  padding: 48px 0px 24px 0px;
}

.sidepanel-2 {
  padding: 24px 0px 16px 0px;
}

@media (min-width: 768px) and (max-width: 1440px) {
  .sidepanel-1 {
    padding: 20px 0px 15px 0px;
  }
  .sidepanel-2 {
    padding: 10px 0px 0px 0px !important;
  }
}

.currentPlan {
  color: #e31b1b;
  font-family: "Product Sans";
  font-size: 12px;
  cursor: pointer;
}

.sidepanel_buy_coins {
  color: #e31b1b;
  font-family: "Product Sans";
  cursor: pointer;
  > div:nth-child(1) {
    font-size: 12px;
  }
  > div:nth-child(2) {
    font-size: 13px;
  }
}

.referralCodeCopy {
  cursor: pointer;
  position: relative;
  // background: transparent linear-gradient(180deg, #f63f65 0%, #fa6350 100%) 0% 0% no-repeat padding-box;
  color: white;
  > img {
    width: 250px !important;
    height: 80px !important;
  }
  .refKey {
    position: absolute;
    font-size: 20px;
    top: 16px;
    width: 100%;
    text-align: center;
  }
  .refTap {
    position: absolute;
    font-size: 10px;
    top: 40px;
    width: 100%;
    text-align: center;
  }
}

.d_sidepanel_name {
  font-size: 13px;
  text-transform: capitalize;
  font-family: "Product Sans Bold";
}

.d_sidepanel_gender {
  font-size: 13px;
  color: #6e6e6e;
}

.d_sidepanel_plan {
  font-size: 13px;
  font-family: "Product Sans Bold";
  color: green;
}

.d_sidepanel_userId {
  font-size: 16px;
  font-family: "Circular Air Book";
  color: #e31b1b;
}

.new__sidepanel__user__image {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  object-fit: cover;
}

.referralModalCancelButton {
  cursor: pointer;
  background: #fff;
  box-shadow: 0px 1px 4px #000029;
  height: 34px;
  width: 34px;
  border-radius: 50px;
  position: absolute;
  top: -14px;
  right: -14px;
  > img {
    margin-left: 2px;
    margin-top: 7px;
  }
}

.referralCodeReward {
  color: #484848;
  font-size: 14px;
}

.new__sidepanel__info__section {
  box-shadow: 1px 4px 10px -8px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px 4px 10px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 4px 10px -8px rgba(0, 0, 0, 0.75);
}

.WAsidebox {
  background: #f6f6f6;
  overflow-y: hidden;
  height: inherit;
  > .WMain {
    height: inherit;
  }
  .WUsermenu {
    position: relative;
    height: calc(100vh - 423px);
    overflow-y: auto;
    width: 100%;
    // margin: 0 auto;
    z-index: 2;
    padding-bottom: 10px;
    // border-bottom: 1px solid #d1d1d1;
    > ul {
      padding-left: 8px;
      > li {
        margin-top: 10px;
        width: 100%;
        height: 25px;
        border-radius: 5px;
        cursor: pointer;
        > div {
          > p {
            font-size: 14px;
            font-weight: 700;
            color: #666;
            padding-top: 2px;
            &:active {
              text-decoration: none !important;
              color: #e31b1b !important;
            }
          }
          > i {
            color: #777 !important;
            font-size: 17px;
            &:hover {
              text-decoration: none !important;
              color: #e31b1b !important;
            }
          }
        }
      }
      .active {
        > div {
          > i {
            color: #e31b1b !important;
          }
          > p {
            > a {
              color: #e31b1b !important;
            }
          }
        }
      }
    }
    .WMenu {
      a {
        font-size: 14px;
        font-weight: 300;
        font-family: "Circular Air Bold" !important;
        color: #484848 !important;
        line-height: 5px;
        &:hover {
          text-decoration: none !important;
          color: #e31b1b !important;
        }
      }
    }
  }
  .Wusernotification {
    background: #fafafa;
    .Wadduser {
      font-size: 12px;
      cursor: pointer;
    }
    .Wseenuser {
      color: #c1c1c1;
      font-size: 10px;
      cursor: pointer;
    }
  }
  .Wfinduser {
    > div {
      > div {
        img {
          margin: 0 auto;
          width: 50px;
          height: 50px;
          border-radius: 50px;
          border: 2px solid #e0e0e0;
          margin: 0 auto;
          cursor: pointer;
        }
      }
    }
  }
}

.activeLink {
  color: #e31b1b !important;
  font-size: 16px;
  font-family: "Product Sans Bold";
  cursor: pointer;
}

// Model for Coin's Spent Style Module
.Wcoin_scroll {
  height: 50vh;
  overflow: auto;
  overflow-x: hidden;
  scrollbar-width: thin;
  > .Wspent_Coin {
    .Wcoindebit {
      background: red;
      padding: 2px;
      color: #fff;
      font-size: 11px;
    }
    .Wcoincredit {
      background: green;
      padding: 2px;
      color: #fff;
      font-size: 11px;
    }
    p,
    span {
      font-size: 15px;
      font-weight: 500;
      color: #474747;
      text-transform: capitalize;
    }
  }
}

// Coin balance Model Style Module
.WUser_Curentcoin {
  display: flex;
  p {
    font-size: 18px;
  }
}

// Buy New Coin List Style Module
.Wbuy_newcoins {
  > div {
    > .media-body {
      h5 {
        font-size: 16px;
        font-weight: bold;
      }
      > p {
        color: #888;
        font-size: 13px;
      }
    }
  }
}
.Wcoin_info {
  > div {
    > div {
      > div:nth-child(2) {
        span {
          border: 1px solid #e31b1b;
          padding: 3px 20px;
          border-radius: 3px;
          color: #e31b1b;
          cursor: pointer;
        }
      }
    }
  }
}

// Main Index Media Query for the Aside & Main Part
@media screen and (min-width: 577px) and (max-width: 766px) {
  .WAsidebox {
    height: auto !important;
  }
  .Wuserprofile {
    padding: 0px !important;
  }
  .Wlogo {
    img {
      margin-left: 0 !important;
    }
  }
}

// @media screen and (min-width: 767px) and (max-width: 992px) {
//   .WMaster {
//     padding-left: 0 !important;
//     > div {
//       > div {
//         padding-left: 0 !important;
//       }
//     }
//   }
// }

.buyCoins_tab_view {
  color: white;
  text-align: center;
  font-size: 13px;
  border-radius: 8px;
  background: linear-gradient(to bottom right, #f80402 0, #a50f0d);
  box-shadow: 0px 3px 6px #e31b1b7b;
}

.tab_view_coins {
  color: #21242a;
  font-size: 13px;
  font-weight: 300;
}

.tab_view_credits {
  color: #9d9d9d;
  font-size: 13px;
  text-align: center;
  font-weight: 300;
}

.tab_view_topUp {
  color: #484848;
  font-size: 13px;
  text-align: center;
}

.tab_view_SVG_text {
  padding-top: 5px !important;
  color: #484848 !important;
  font-size: 11px !important;
  text-align: center !important;
  text-decoration: none !important;
  cursor: pointer !important;
}

.tab_view_SVG_text_active {
  padding-top: 5px !important;
  color: #e31b1b !important;
  font-size: 11px !important;
  text-align: center !important;
  font-weight: bold !important;
  text-decoration: none !important;
  cursor: pointer !important;
}

.tab_view_SVG_icons {
  padding: 8px 0px;
}

.closeCoinHistoryModal {
  position: absolute;
  right: 15px;
  top: 13px;
  z-index: 999;
}

.coinHistoryModal {
  height: 500px !important;
  position: relative;
  > div {
    > div {
      justify-content: center;
      display: flex;
    }
  }
}

.coinPlanModal {
  // height: 250px !important;
}

.sidePanel_buyCoins {
  height: 40px;
  font-size: 14px;
  font-family: "Product Sans" !important;
  border-radius: 6px;
  background: linear-gradient(to bottom right, #f80402 0, #a50f0d);
  color: #fff;
}

.noDataFound {
  width: inherit;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-left: 35px;
}

.sidePanel_discoverPeople {
  position: absolute;
  cursor: pointer;
  right: 20px;
  top: 35px;
  z-index: 99;
}

.sidepanel_link_not_selected {
  font-size: 14px;
  color: #484848;
  cursor: pointer;
}

.sidepanel_user_img {
  padding-left: 10px !important;
}

.sidepanel_userPlan {
  padding-left: 10px !important;
}
