// Global Variable Scss
@import "../../../../Variable.scss";

.m_loc_city {
  font-size: 16px;
  color: #484848;
  font-family: "Product Sans Bold";
}

.m_loc_addr {
  font-size: 16px;
  color: #474747;
  font-family: "Product Sans";
}

.Mcurrentlocation {
  p {
    background: $background-light;
    padding: 10px 0 10px 10px;
    color: $text-darkblack;
    font-size: 16px;
    font-family: "Circular Air Bold";
    text-transform: uppercase;
  }
}

.m_location_header {
  font-size: 18px;
  color: #484848;
  font-family: "Circular Air Bold";
}

// Add New Location Style
.Mnewlocation {
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 40px;
  > div {
    // margin-top: 25px;
    padding: 8px 0;
    color: white !important;
    background: #047cfc;
    > p {
      color: white !important;
      font-size: 16px;
      font-family: "Circular Air Book";
    }
  }
}

.Dnewlocation {
  position: fixed;
  bottom: 0px;
  width: calc(500px - 50px);
  height: 40px;
  > p {
    color: #e31b1b !important;
    font-size: 18px;
    font-family: "Product Sans";
    font-weight: bold;
  }
}

// Current Location Style
.Muserlocation {
  p {
    color: #808080;
    opacity: 1;
    font-family: "Circular Air Book";
    font-size: 15px;
  }
}

.locationIcon {
  font-size: 22px !important;
  padding-left: 7px !important;
  color: rgb(247, 65, 103) !important;
}

.m_saveLocation_circle {
  border: none;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: #f80402;
  position: absolute;
  bottom: 50px;
  right: 20px;
}

.m_multiple_locations_view {
  // position: relative;
}

.m_multiple_location_static_section {
  width: 100%;
}
