// Global Variable Scss
@import "../../../../Variable.scss";

.MConfromlocation {
  text-align: center;
  button {
    position: fixed;
    bottom: 20px;
    width: 93vw;
    background: $background-darkpink;
    padding: 10px 5px;
    border: none;
    font-family: "Product Sans Bold";
    font-size: 18px;
    border-radius: 22px;
    color: $text-white;
  }
}

.m_choose_location {
  font-family: "Product Sans Bold";
  color: #e31b1b;
  font-size: 18px;
}

.m_location_searchBox {
  position: absolute;
  top: 105px;
  width: 100%;
  text-align: center;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  > input {
    padding: 8px 8px;
    width: 90% !important;
    border-radius: 8px;
    border: none !important;
  }
}
