// Global Variable Scss
@import "../../../../../Variable.scss";

// Date of Birth Section Scss
.MaindobSection {
  h4 {
    font-weight: 800;
    font-size: 1.6rem;
    font-style: italic;
    span {
      color: $text-darkpink;
    }
  }
  .dobValidate {
    text-align: center;
    p {
      font-size: 13px;
      margin: 0;
      font-weight: 600;
      color: $light-gray;
    }
  }
  .Inputdob {
    margin-top: 20px;
    input {
      background-color: $border-lightcolorborder;
      border-radius: 4px;
      width: 85%;
      border: $border-lightcolorborder;
      padding: 11px;
      font-weight: 700;
    }
  }
  .dobNextDec {
    text-align: left;
    margin: 20px 0;
    font-size: 13px;
    color: $light-gray;
    padding-left: 20px;
    padding-right: 20px;
    a {
      color: $light-gray !important;
      text-decoration: underline !important;
      margin-left: 4px !important;
      &:hover {
        color: $text-darkpink !important;
      }
    }
  }
  .Validatedob {
    > div {
      > button {
        width: 100%;
        padding: 0;
        margin: 20px 0;
        box-shadow: $boxshadow-dark;
        text-transform: uppercase;
        max-width: 100%;
        height: 54px;
        color: $text-white;
        cursor: pointer;
        border-radius: 100px;

        &:focus,
        &:active,
        &:hover {
          background: $text-darkpink;
        }
      }
    }
  }
}

// Validation Error
.dob_error {
  color: $text-darkpink;
}

// Calander icon Style Module
.Mdob_calander {
  > i {
    position: absolute;
    // bottom: 60px;
    left: 10rem;
  }
}
