.c_mainHeader {
  font-size: 100px;
  text-align: left;
  font-family: "Product Sans Bold";
  padding-left: 30px;
  color: white;
}

.verticalCarousel {
  height: 100vh !important;
  // width: 100%;
  // background-size: 100% 100%;
}

.c_users {
  padding-left: 30px;
  display: flex;
}

.customCarousel {
  position: relative;
}

.c_header {
  font-family: "Product Sans Bold";
  color: #000;
  font-size: 36px;
}

.cm_header {
  font-family: "Product Sans Bold";
  color: #000;
  font-size: 30px;
}

.c_subHeader {
  font-family: "Product Sans";
  color: #000;
  font-size: 18px;
  opacity: 0.5;
}

.c_midHeader {
  font-family: "Product Sans Bold";
  font-size: 50px;
  color: #2c2c2c;
}

.c_midSubheader {
  font-family: "Product Sans";
  color: #2c2c2c;
  font-size: 18px;
}

// to change
.carousel-control-prev,
.carousel-control-next {
  width: 5% !important;
}

.carousel-indicators {
  display: none !important;
}
