.WCommonbox {
  background: #e31b1b;
  width: 100%;
  height: 100%;
  min-height: 60px;
  .Wcommonheading {
    > div {
      p {
        font-size: 18px;
        font-weight: bold;
      }
    }
  }
  .WCommonBoost {
    border: 2px solid #fff;
    border-radius: 22px;
    padding: 5px 0;
    margin: 5px 0;
    background: transparent !important;
    cursor: pointer;
    cursor: pointer;
    > a {
      > i {
        color: #fff;
        span {
          color: #fff;
          padding-left: 15px;
          font-weight: 500;
        }
      }
    }
  }
}

.Revised_WCommonbox {
  background: #fff;
  width: 100%;
  height: 100%;
  min-height: 60px;
  .Wcommonheading {
    > div {
      p {
        color: #21242a;
        font-size: 24px;
        font-weight: 600;
      }
    }
  }
  .WCommonBoost {
    border: 2px solid #fff;
    border-radius: 22px;
    padding: 5px 0;
    margin: 5px 0;
    background: transparent !important;
    cursor: pointer;
    cursor: pointer;
    > a {
      > i {
        // color: #fff;
        span {
          // color: #fff;
          padding-left: 15px;
          font-weight: 500;
        }
      }
    }
  }
}
