// Global Variable Scss
@import "../../../../Variable.scss";

.Mcommunity {
  h4 {
    font-size: 20px;
    font-family: "Circular Air Bold";
    color: #d1d1d1;
  }
  > div {
    > div {
      p {
        font-size: 16px;
        color: #d1d1d1;
        font-family: "Circular Air Book";
        margin: 0;
      }
    }
  }
}

.exit-buttons {
  background: #686868;
}

.m_s_exitButtons {
  font-family: "Circular Air Book";
  color: #d1d1d1;
}

.Mseetings {
  p {
    font-family: "Circular Air Book";
    margin: 0 !important;
  }
}
