.Wdiscover_nearby {
  > div {
    > p {
      // background: #f0f0f0;
      max-width: 100%;
      outline: none;
      height: 85vh;
      overflow-x: scroll;
      scrollbar-width: thin;
    }
    > div {
      border: none !important;
    }
  }
}

.classes_webTabRoot {
  > div {
    > div {
      > div {
        > button {
          width: 100% !important;
          margin-right: 0px !important;
        }
      }
    }
  }
}
