// Coin-Data Module
.upgrade_balance {
  padding: 20px;
  text-align: center;
  border: none;
  background: #fff;
  box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12) !important;
  color: rgba(0, 0, 0, 0.87);
  border-radius: 20px;
  // Coin Media Module
  .plan_media {
    > i {
      color: #fbc937;
      font-size: 45px;
    }
  }
  // Coin Data Module
  .plan_data {
    p:nth-child(1) {
      font-size: 20px;
      padding-top: 10px;
      font-weight: bold;
    }
    p:nth-child(2),
    p:nth-child(3) {
      font-size: 15px;
      font-weight: 500;
    }
  }
  // Coin Amount Module
  > .plan_amount {
    p {
      font-size: 19px;
      padding-top: 5px;
      font-weight: bold;
      color: #e31b1b;
    }
  }
  // Coin Buy Module
  .plan_buy {
    button {
      background: linear-gradient(to bottom right, #f80402 0, #a50f0d);
      border-radius: 8px;
      padding: 10px 25px;
      color: #fff;
      font-weight: 700;
      margin-top: 10px;
      border: none;
    }
  }
}
