// Body Section Scss
.Section-BgColor {
  background: #f8f8f8;
}

.MainHeading {
  text-align: center;
  background: #f8f8f8;
  span {
    font-size: 15px;
    font-weight: 500;
    color: #e31b1b;
    line-height: 200%;
    margin-bottom: 10px;
  }
  h2 {
    font-size: 42px;
    font-weight: 500;
    color: #111;
    line-height: 130%;
    margin-bottom: 10px;
  }
  .Section-Headingline {
    content: "";
    display: block;
    width: 100px;
    height: 3px;
    background: #e31b1b;
    border-radius: 25%;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 5px;
  }
  p {
    font-size: 15px;
    font-weight: 400;
    color: #aaa;
    line-height: 160%;
  }
}

.OurServices {
  .Section-Heading {
    h4 {
      font-size: 30px;
      font-weight: 600;
      color: #111;
      line-height: 160%;
    }
  }
  .Section-HeadingLeftline {
    content: "";
    display: block;
    width: 100px;
    height: 3px;
    background: #e31b1b;
    border-radius: 25%;
    margin-top: 15px;
    margin-bottom: 5px;
  }
  .Section-Tectcontent {
    p {
      font-size: 15px;
      font-weight: 400;
      color: #999;
      line-height: 200%;
      margin: 15px 0;
    }
  }
  .MainFeature {
    ul {
      padding-left: 15px;
      li {
        list-style-type: disclosure-closed;
        color: #222;
        font-size: 13px;
        font-weight: 500;
        margin-top: 15px;
      }
    }
  }
  .Section-Button {
    > div {
      > button {
        font-size: 13px;
        padding: 11px 22px;
        background: linear-gradient(to bottom right, #f80402 0, #a50f0d);
        color: #fff;
        border-radius: 21px;
        margin-left: 0;
        font-weight: 600;
        border: none;
      }
    }
  }
  .Servicesimg {
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
    border-radius: 8px !important;
  }
}

// Media Query for (Max-width:767px)
@media only screen and (max-width: 767px) {
  .DesktopView {
    display: none;
  }
  .MobileView {
    display: block;
  }
}

// Media Query for (Min-width:767px)
@media only screen and (min-width: 768px) {
  .DesktopView {
    display: block;
  }
  .MobileView {
    display: none;
  }
}
