#error-symbol {
    font-size: 50px;
    border: 1px solid;
    border-radius: 50%;
    height: 55px;
    width: 55px;
    margin: auto;
  }
  
  .internet-error {
  height: 60px;
  background: #ff8100;
  margin-top: 0;
  font-size: 20px;
  }
  
  .internet-error p {
  font-size: 25px;
  line-height: 60px;
  text-align: center;
  color: #fff;
  margin: 0;
  }