// Get Started Style Module
.Wget_started {
  p {
    font-size: 17px;
    font-weight: 500;
  }
  > h5 {
    > b {
      span {
        color: #f6376d;
      }
    }
  }
}

// Checkbox Style Module
.W_userdatainput {
  > fieldset {
    > div {
      flex-direction: row !important;
      > label {
        margin: 0 15px !important;
      }
    }
  }
}

// Pefer Not to say Button
.Wuser_not {
  position: absolute !important;
  right: 20px !important;
  bottom: 15px !important;
  cursor: pointer;
  > label {
    position: absolute !important;
    right: 20px !important;
    bottom: 15px !important;
    cursor: pointer;
  }
}

// Radio Button Style Module
.Wsignupapiradiochecked_btn {
  text-align: left;
  font-family: "Circular Air Book";
  padding: 10px !important;
}

// User Height Module DropDown Module
.WUser_heightsel {
  > div {
    > .css-yk16xz-control {
      border-radius: 5px;
    }
    > .css-1pahdxg-control {
      box-shadow: none !important;
      &:hover {
        border-color: #e31b1b !important;
      }
    }
    > .css-2613qy-menu {
      > div {
        background-color: #fff !important;
      }
    }
  }
}

// Prefer not to say button style Module
.Wuser_notsay {
  cursor: pointer;
  position: absolute;
  bottom: 60px;
  transform: translate(75%, -10%);
}
