// UserProfile Scroll
.main_profile {
  height: 100vh;
  // overflow: auto;
  scrollbar-width: thin;
  > div {
    > div {
      > div {
        width: 210px;
        white-space: nowrap;
        overflow: hidden !important;
        text-overflow: ellipsis;
        h4 {
          width: 210px;
          white-space: nowrap;
          overflow: hidden !important;
          text-overflow: ellipsis;
        }
      }
    }
  }
  > div:nth-child(2) {
    // height: calc(100vh - 93px) !important;
    // overflow-y: auto !important;
  }
}

.d_userinfo_scoll_area {
  height: calc(100vh - 234px) !important;
  overflow-y: auto !important;
}

.profile-pic-update {
  img {
    height: 130px;
    width: 130px;
    object-fit: cover;
  }
}

.draggableImages {
  > div {
    display: flex;
    flex-direction: row;
  }
}

.d_no_other_images {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/** new changes **/
/********/
.profile_page_image_boxes_upload_image {
  height: 130px;
  position: relative;
  width: 130px;
  margin: 5px;
  cursor: pointer;
  background: linear-gradient(to bottom right, #f80402 0, #a50f0d);
  > form {
    height: inherit;
    > div {
      height: inherit;
      > label {
        cursor: pointer !important;
        height: inherit;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: white;
      }
    }
  }
}

.uploadButton {
  display: flex;
  justify-content: space-evenly;
  > button {
    color: white;
    width: 160px;
    padding: 6px 0;
    cursor: pointer;
    background: #e31b1b;
    border: none;
    border-radius: 5px;
  }
}

.profile_page_video_boxes_upload_image {
  // margin-top: 64px !important;

  height: 130px;
  position: relative;
  width: 130px;
  margin: 5px;
  background: linear-gradient(to bottom right, #f80402 0, #a50f0d);
  > form {
    height: inherit;
    > div {
      height: inherit;
      > label {
        cursor: pointer !important;
        height: inherit;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: white;
      }
    }
  }
}

.profile_page_video_boxes {
  position: relative;
  box-shadow: 0px 3px 6px #00000029;
  height: 130px;
  width: 130px;
  margin: 5px 10px;
  > div {
    height: 130px !important;
    width: 130px !important;
  }
}

.profile_page_image_boxes {
  position: relative;
  box-shadow: 0px 3px 6px #00000029;
  height: 160px;
  width: 140px;
  margin: 5px 10px;
  > img {
    height: 130px !important;
    object-fit: cover !important;
    width: 140px !important;
  }
  // > div {
  //   height: inherit !important;
  //   object-fit: cover !important;
  //   width: inherit !important;
  // }
}

.profile_page_image_boxes_upload_more_images {
  height: 130px;
  width: 130px;
  margin: 5px;
  background: #aeaeae;
  > div {
    font-size: 13px;
    color: white;
    height: inherit !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: inherit !important;
  }
}

/********/

// User Setting Icon Module
.user_header {
  > span {
    color: #e31b1b;
    font-weight: 600;
  }
}

.profile_setting {
  i:nth-child(1) {
    border: 1px solid #888;
    padding: 13px;
    border-radius: 8px;
    color: #888;
    font-size: 19px;
    cursor: pointer;
  }
  i:nth-child(2) {
    border: 1px solid #888;
    padding: 13px;
    border-radius: 8px;
    color: #888;
    font-size: 19px;
    margin-left: 10px;
    cursor: pointer;
  }
  i {
    &:hover {
      color: #e31b1b;
      border: 1px solid #e31b1b;
    }
  }
}

// User Slider Input Style Module
.Wuserprofile_input {
  width: 175px !important;
  height: 180px;
  background: #ababab;
  border-radius: 5px;
  cursor: pointer;
  > div {
    > div {
      > label {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 180px;
        border-radius: 5px;
        background: #e31b1b;
        opacity: 0.88;
        cursor: pointer;
        > i {
          color: #fff;
          font-size: 20px;
        }
        p {
          color: #fff;
          padding-left: 10px;
          font-size: 14px;
        }
      }
      h6 {
        position: relative;
        top: 65px;
        text-align: center;
        color: #fff;
        font-weight: 700;
      }
    }
  }
}

// User Slider No Profile at that it show dummy color as a box
.Wuserprofile_noinput {
  width: 175px !important;
  height: 175px;
  background: #ababab;
  border-radius: 5px;
  cursor: pointer;
  > label {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 175px;
    border-radius: 5px;
    opacity: 0.88;
    cursor: pointer;
    > i {
      color: #fff;
      font-size: 20px;
    }
    p {
      color: #fff;
      padding-left: 10px;
      font-size: 16px;
    }
  }
}

// User Multiple Images Comes from API data Module
.user_photos {
  > img {
    width: 100% !important;
    height: 350px !important;
    border-radius: 5px;
    object-fit: cover !important;
    cursor: pointer;
  }
  // img {
  //   width: 157px !important;
  //   height: 180px;
  //   border-radius: 5px;
  //   cursor: pointer;
  // }
}

// User-Popularity Module
.user_popularity {
  cursor: pointer;
  h5 {
    font-size: 17px;
    font-weight: 600;
    color: #474747;
    text-transform: capitalize;
  }
  p {
    font-size: 21px;
  }
  > i {
    padding: 12px 0;
    &::before {
      font-size: 18px;
    }
  }
  > .increase_popularity {
    > a {
      color: #424242;
      &:hover {
        text-decoration: none;
      }
      > i {
        &:before {
          background: linear-gradient(to bottom right, #f80402 0, #a50f0d);
          font-size: 11px;
          color: #fff;
          border-radius: 11px;
          padding: 4px;
          margin-right: 5px;
        }
        span {
          &:hover {
            color: #e31b1b;
          }
        }
      }
    }
  }
}

// User Profile Completion Process Module
.profile_header {
  h5 {
    padding-left: 15px;
    font-size: 17px;
    font-weight: 600;
    font-family: "Product Sans";
    color: #e31b1b;
    // color: #474747;
    text-transform: capitalize;
    padding-bottom: 10px;
    > i {
      // border: 1px solid #e31b1b;
      // padding: 5px;
      padding: 0;
      color: #e31b1b;
      border-radius: 10px;
      margin-left: 15px;
      cursor: pointer;
    }
  }
}
// .user_module {
//   p {
//     font-size: 15px;
//     color: #474747;
//     text-transform: capitalize;
//   }
// }
.complete_profile {
  > a {
    > button {
      background: #fff;
      border: 1px solid #888;
      border-radius: 8px;
      padding: 5px 35px;
      > i {
        &::before {
          color: #e31b1b;
          padding-right: 10px;
        }
        span {
          font-weight: normal;
          font-size: 16px;
        }
      }
      &:hover {
        background: #fff;
        border: 1px solid #e31b1b;
        color: #e31b1b;
      }
    }
  }
}

// User Profile Slider Style Module
.Wuser_profileshow {
  position: relative;
  padding: 15px 35px !important;
  > div {
    display: row;
  }
}

.d_newsFeed_uploading_loader {
}

// User FindMate Id Module
.Wuser_id {
  font-size: 15px;
  font-weight: 500;
  color: #e31b1b;
  text-transform: capitalize;
}

// User Common Text Module
.user_pro {
  p {
    font-size: 13px;
    color: #888;
  }
}

.editProfile_textArea {
  width: 100%;
  color: #212529;
}

.editProfile_textAreaGrey::placeholder {
  width: 100%;
  color: #afafaf !important;
}

.editProfile_textAreaGrey {
  width: 100%;
  color: #afafaf !important;
}

.editProfile_textArea::placeholder {
  color: #afafaf !important;
  font-size: 15px !important;
  font-family: "Product Sans" !important;
}

.moreDetailsBtn {
  background: linear-gradient(to bottom right, #f80402 0, #a50f0d);
  color: #fff;
  margin-top: 5px;
  margin-left: 15px;
  border: none;
}

.submitBtn {
  background: linear-gradient(to bottom right, #f80402 0, #a50f0d);
  color: #fff !important;
  margin-left: 15px;
  padding: 5px 15px;
  font-family: "Product Sans";
  border-radius: 5px;
  border: none;
  height: 38px !important;
  z-index: 0;
}

.edit__commonHeader1 {
  color: #000;
  font-weight: 600;
  font-size: 26px;
}

.edit__commonHeader2 {
  color: #e31b1b;
  font-size: 20px;
  font-weight: 600;
}

.edit__input {
  padding: 30px 0;
  text-align: center;
  > input {
    width: 80%;
    border-radius: 6px;
    padding: 10px;
    border: 1px solid #d1d1d1;
  }
  > input::placeholder {
    width: 80%;
    border-radius: 6px;
    padding: 10px;
    color: #d1d1d1;
    border: 1px solid #d1d1d1;
  }
}

.diff-submitBtn {
  background: linear-gradient(to bottom right, #f80402 0, #a50f0d);
  color: #fff !important;
  margin-left: 15px;
  // padding: 5px 15px;
  font-family: "Product Sans";
  border-radius: 5px;
  border: none;
  height: 30px !important;
  z-index: 0;
}

.main-submitBtn {
  background: linear-gradient(to bottom right, #f80402 0, #a50f0d);
  color: #fff !important;
  margin-left: 15px;
  padding: 5px 15px;
  font-family: "Product Sans";
  border-radius: 5px;
  border: none;
  height: 40px !important;
  z-index: 0;
}

// User Personal Profile Edit Module
.edit_info {
  background: #f7f7f7;
  padding: 10px 0;
  // padding: 10px 15px 0 15px;
  button:nth-child(1) {
    background: linear-gradient(to bottom right, #f80402 0, #a50f0d);
    border-radius: 8px;
    padding: 5px 15px;
    color: #fff;
    font-weight: normal;
    border: none;
    margin-right: 15px;
  }
  button:nth-child(2) {
    border-radius: 8px;
    padding: 5px 15px;
    color: #000;
    font-weight: normal;
    border: none;
    margin-right: 15px;
  }
  .common_userbtn {
    background: linear-gradient(to bottom right, #f80402 0, #a50f0d);
    border-radius: 8px;
    padding: 5px 15px;
    color: #fff !important;
    font-weight: normal;
    border: none;
    margin-right: 15px;
  }
  .user_gender {
    > div {
      > label {
        input {
          margin-right: 20px;
        }
      }
    }
  }
  #Userquestion_common {
    input,
    select,
    textarea {
      border: 2px solid #ccc !important;
      padding: 4px 14px;
      border-radius: 5px;
      width: 100%;
      &:hover,
      &:active,
      &:focus {
        border: 2px solid #e31b1b;
      }
    }
    > div {
      position: relative;
      top: 5px;
      > div {
        > .radiochecked_btn {
          position: initial !important;
          input {
            display: none;
          }
          label {
            position: relative;
            bottom: 2px;
            left: 15px;
            font-size: 15px;
            cursor: pointer;
            transition: all 0.25s linear;
          }
          .check {
            position: absolute;
            border-radius: 100%;
            height: 19px;
            width: 19px;
            top: 0;
            left: 0;
            z-index: 5;
            margin-top: 1px;
            transition: border 0.25s linear;
            -webkit-transition: border 0.25s linear;
            &::before {
              position: absolute;
              content: "";
              border-radius: 100%;
              height: 9px;
              width: 9px;
              top: 2px;
              left: 2px;
              margin: auto;
              transition: background 0.25s linear;
              -webkit-transition: background 0.25s linear;
            }
          }
        }
      }
    }
  }
}

// User Prefrence Edit Module
.ppp {
  background: #f7f7f7;
  // label,
  // p {
  //   font-size: 15px;
  //   color: #474747;
  //   text-transform: capitalize;
  // }
  button:nth-child(1) {
    background: linear-gradient(to bottom right, #f80402 0, #a50f0d);
    border-radius: 8px;
    padding: 5px 15px;
    color: #fff;
    font-weight: normal;
    border: none;
    margin-right: 15px;
  }
  button:nth-child(2) {
    border-radius: 8px;
    padding: 5px 15px;
    color: #000;
    font-weight: normal;
    border: none;
    margin-right: 15px;
  }
  .common_userbtn {
    background: linear-gradient(to bottom right, #f80402 0, #a50f0d);
    border-radius: 8px;
    padding: 5px 15px;
    color: #fff !important;
    font-weight: normal;
    border: none;
    margin-right: 15px;
  }
  .user_gender {
    > div {
      > label {
        input {
          margin-right: 20px;
        }
      }
    }
  }
  #Userquestion_common {
    input,
    select,
    textarea {
      border: 2px solid #ccc !important;
      padding: 4px 14px;
      border-radius: 5px;
      width: 70%;
      &:hover,
      &:active,
      &:focus {
        border: 2px solid #e31b1b;
      }
    }
    > div {
      position: relative;
      top: 5px;
      > div {
        > .radiochecked_btn {
          position: initial !important;
          input {
            display: none;
          }
          label {
            position: relative;
            bottom: 2px;
            left: 15px;
            font-size: 15px;
            cursor: pointer;
            transition: all 0.25s linear;
          }
          .check {
            position: absolute;
            border-radius: 100%;
            height: 19px;
            width: 19px;
            top: 0;
            left: 0;
            z-index: 5;
            margin-top: 1px;
            transition: border 0.25s linear;
            -webkit-transition: border 0.25s linear;
            &::before {
              position: absolute;
              content: "";
              border-radius: 100%;
              height: 9px;
              width: 9px;
              top: 2px;
              left: 2px;
              margin: auto;
              transition: background 0.25s linear;
              -webkit-transition: background 0.25s linear;
            }
          }
        }
      }
    }
  }
}
// User Right Side Style Module
.user_verification {
  border-left: 1px solid #dee2e6;
}

// User More About YourSelf Module
.usergenralinfo {
  border: 1px solid #d2d2d2 !important;
  border-radius: 22px !important;
}

// Edit User Profile Select Dropdown
.select_dropdownedit {
  width: 70%;
  > div {
    > div {
      border-radius: 5px;
      border: 2px solid #ccc !important;
    }
  }
}

// User Video Style Module
.WUser_Video {
  > div {
    width: auto !important;
    height: auto !important;
  }
  video {
    margin-left: -5px;
    overflow: hidden;
    width: 185px !important;
    height: 180px !important;
    object-fit: cover;
    border-radius: 8px;
  }
}

.boostText {
  color: #484848;
  text-align: center;
  font-family: "Product Sans";
  font-size: 20px;
}

.boost {
  padding-left: 25px !important;
  font-size: 17px;
  font-weight: 600;
  font-family: "Product Sans";
  color: #e31b1b;
  text-transform: capitalize;
  padding-bottom: 10px;
}

.userProfile_CancelButton {
  z-index: 9;
  cursor: pointer;
  background: #ff0000;
  // box-shadow: 0px 1px 4px #000029;
  height: 25px !important;
  width: 25px !important;
  border-radius: 50%;
  position: absolute;
  top: -5px;
  right: -8px;
  > img {
    height: 10px;
    width: 10px;
    margin-left: 7.8px;
    margin-top: 0px;
    fill: white !important;
  }
}

.userProfile_EditImage {
  z-index: 999;
  position: absolute;
  top: 10px;
  left: 10px;
  > img {
    width: 25px !important;
    height: 25px !important;
  }
}

// Expnasion Panel Gallery View Style Module
.WExpansion_panel {
  background: #f8f8f8;
  height: 90vh;
  > div {
    > div {
      > .Wotherimg_card {
        > div {
          > div {
            background: #fff;
            // box-shadow: 0px 1px 4px #000029;
            height: 34px;
            width: 34px;
            border-radius: 50px;
            position: absolute;
            top: -14px;
            right: -14px;
            > img {
              height: 13px;
              width: 13px;
            }
          }
        }
        width: 175px;
        height: 205px;
        text-align: center;
        border: 1px solid #e5e5e5;
        background: #ffffff;
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12) !important;
        color: rgba(0, 0, 0, 0.87);
        border-radius: 5px;
        img {
          height: 170px;
          width: 175px;
          // border-bottom: 2px solid #c0c0c0;
        }
        > .Wuserphoto_currentpic {
          padding: 7px 0 0 30px;
          &:before {
            top: 5px;
          }
          &:after {
            top: 9px;
          }
        }
      }
    }
  }
  > .WPhotochan_btn {
    button:nth-child(2) {
      font-size: 13px;
      font-weight: 700;
      border-radius: 25px;
      color: #444;
      background: #d4d4d4;
      padding: 8px 25px;
      border: none;
      margin-left: 10px;
    }
  }
}

// Current Profile Pic Style MOdule
.Wuser_ProPic {
  img {
    height: 180px;
    border-radius: 5px;
    cursor: pointer;
    width: 176px;
  }
}

.userProfile_Move {
  left: 10px;
  top: 5px;
  position: absolute;
  > img {
    height: 15px;
    width: 15px;
  }
}

.setProfilePicture {
  cursor: pointer;
  background: white;
  color: #484848;
  font-size: 12px;
  padding: 5px 0px;
  text-align: center;
  font-family: "Product Sans";
  > span {
    padding-left: 10px;
  }
}

.moments_images {
  height: 150px;
  width: 150px;
  object-fit: cover;
  margin: 10px;
  cursor: pointer;
}

.view_more {
  height: 150px;
  width: 150px;
  object-fit: cover;
  margin: 10px;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  cursor: pointer;
  font-family: "Product Sans Bold";
  font-size: 18px;
  background: #e31b1b;
}

.moments_cancel_button {
  cursor: pointer;
  background: #fff;
  box-shadow: 0px 1px 4px #000029;
  height: 34px;
  width: 34px;
  border-radius: 50px;
  position: absolute;
  top: -14px;
  right: -14px;
  > img {
    margin-left: 10px;
    margin-top: 7px;
  }
}

.moments_header {
  color: #e31b1b;
  font-size: 24px;
  font-family: "Product Sans Bold";
}

.moments_modal {
  position: relative;
  height: 600px;
  > div:nth-child(3) {
    overflow-y: auto;
    height: calc(600px - 100px);
  }
}

.id-pinkBox {
  background: #e31b1b;
  font-size: 14px;
  padding: 2px 10px;
  color: #fff;
  width: 40px;
  font-family: "Product Sans Bold";
}

.d_userProfile_ID {
  font-family: "Product Sans";
  font-size: 16px;
  color: #484848;
  padding-left: 5px;
}
