// Filter Header Style Module
.Wmodelheader_common {
  p {
    font-size: 18px;
    color: #fff;
    font-weight: 600;
  }
  background: linear-gradient(to bottom right, #f80402 0, #a50f0d);
  padding: 15px 0;
  > div {
    > .Wmodelheader_heading {
      p {
        font-size: 18px;
        color: #fff;
        font-weight: 600;
      }
    }
    > .Wmodelheader_close {
      > i {
        color: #fff;
        font-size: 20px;
        padding-top: 2px;
        cursor: pointer;
      }
    }
  }
}

.d_map_pref {
  > div {
    > div {
      position: relative !important;
    }
  }
}

.chevright {
  font-size: 18px !important;
  color: #e31b1b !important;
}

.gender_title {
  > div {
    > label {
      > span {
        font-family: "Product Sans" !important;
        font-size: 13px !important;
        // color: #e31b1b;
      }
    }
  }
}

// Filter Body Style Module
.filter_body {
  > div {
    h5 {
      font-weight: 600;
      color: #e31b1b;
      padding: 5px 0;
      font-size: 16px;
    }
    > .filter_friends {
      padding-bottom: 10px;
      border-bottom: 1px solid #ccc !important;
    }
    > .filter_gender {
    }
    .filter_age {
      border-bottom: 1px solid #ccc !important;
      font-size: 15px;
      > div {
        // padding: 11px;
        > div {
          > span {
            color: #424242 !important;
          }
          > div {
            background: #cecece !important;
            div {
              background: linear-gradient(to bottom right, #f80402 0, #a50f0d);
              border: 1px solid #ff7b43 !important;
            }
            > span {
              span {
                color: #424242 !important;
              }
            }
          }
        }
      }
    }
    .filter_city {
      padding-bottom: 10px;
      > div {
        input {
          border: 2px solid #ccc;
          border-radius: 21px;
          font-size: 15px;
          &:hover,
          &:active,
          &:focus {
            border: 2px solid #e31b1b;
          }
        }
      }
    }
    .filter_closebtn {
      button:nth-child(1) {
        font-size: 13px;
        font-weight: 300;
        width: 190px;
        border-radius: 6px;
        color: #fff;
        background: linear-gradient(to bottom right, #f80402 0, #a50f0d);
        padding: 8px 25px;
        border: none;
        margin-right: 10px;
      }
      button:nth-child(2) {
        font-size: 13px;
        font-weight: 300;
        width: 190px;
        border-radius: 6px;
        color: #808080;
        background: white !important;
        border: 1px solid #808080 !important;
        padding: 8px 25px;
        border: none;
        margin-right: 10px;
      }
    }
  }
}

.filterParameters {
  font-size: 14px !important;
  font-weight: 400 !important;
  color: #21242a !important;
  // margin-bottom: 0px !important;
}

.genderParameter {
  font-size: 14px !important;
  font-weight: 400 !important;
  color: #21242a !important;
  margin-bottom: 0px !important;
}

// Range-Slider Component Style Module
.rc-slider-track {
  background: linear-gradient(to bottom right, #f80402 0, #a50f0d);
}

.rc-slider-handle {
  border: solid 2px #ff7b43 !important;
}

// Radio Button Style Module
.radiochecked_btn {
  position: initial !important;
  input {
    display: none;
  }
  label {
    position: relative;
    bottom: 2px;
    font-size: 15px;
    cursor: pointer;
    -webkit-transition: all 0.25s linear;
  }
  .check {
    position: absolute;
    border: 3px solid #aaaaaa;
    border-radius: 100%;
    height: 19px;
    width: 19px;
    top: 0;
    left: 0;
    z-index: 5;
    margin-top: 1px;
    transition: border 0.25s linear;
    -webkit-transition: border 0.25s linear;
    &::before {
      position: absolute;
      content: "";
      border-radius: 100%;
      height: 9px;
      width: 9px;
      top: 2px;
      left: 2px;
      margin: auto;
      transition: background 0.25s linear;
      -webkit-transition: background 0.25s linear;
    }
  }
}

input[type="radio"]:checked ~ .check {
  border: 3px solid #e31b1b;
}

input[type="radio"]:checked ~ .check::before {
  background: linear-gradient(to bottom right, #f80402 0, #a50f0d);
}

input[type="radio"]:checked ~ label {
  color: #e31b1b;
}

// Search Filter Style Module
.WFilter_users {
  font-family: "Product Sans" !important;
  > div {
    > span {
      display: none;
    }
    > div {
      > span {
        > span {
          display: none;
        }
      }
    }
  }
}

// Select Dropdown Module
.WFilter_select {
  font-family: "Product Sans" !important;
  > div {
    width: 100%;
    > div {
      > div {
        div {
          border: 1px solid #888 !important;
          padding: 10px !important;
        }
      }
    }
  }
}

// User Height Switch button style Module
.WUser_height {
  > div {
    > div {
      > div {
        > div {
          > button,
          .MuiTab-selected {
            min-width: 0px !important;
            // color: red;
            min-height: 35px !important;
            text-transform: capitalize !important;
          }
        }
      }
    }
  }
}

.setPreferences {
  font-weight: 400;
  text-align: center;
  font-size: 20px;
  padding-bottom: 15px;
}

.onClickSearchLocation {
  color: #e31b1b;
  cursor: pointer;
}

.distanceToggler {
  cursor: pointer;
  width: 70px;
  padding-left: 10px;
  > div {
    width: inherit;
  }
  font-size: 12px;
}

.heightToggler {
  cursor: pointer;
  width: 70px !important;
  padding-left: 10px !important;
  > div {
    width: 70px !important;
  }
  font-size: 12px;
}

.d_filterUnits {
  font-size: 13px;
  color: #484848;
  font-family: "Product Sans";
}

.d_filterUser {
  margin-top: 7px;
  > div {
    > span:nth-child(1) {
      display: none;
    }
    > div {
      > div {
        background: #e31b1b !important;
        height: 2px !important;
      }
      > span {
        > span {
          display: none !important;
        }
        div {
          background: #fff;
          margin-top: -15px !important;
          border: 1px solid #e31b1b;
          width: 25px !important;
          border-radius: 50% !important;
          height: 25px !important;
        }
      }
      > span:nth-child(2) {
      }
    }
    > span:nth-child(3) {
      display: none;
    }
  }
}
