.m_nf_profilePic {
  > img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    object-fit: cover;
  }
}

.m_nf_postDetails {
  > div:nth-child(1) {
    font-family: "Circular Air Bold";
    font-size: 12px;
    color: #d1d1d1;
  }
  > div:nth-child(2) {
    font-family: "Circular Air Book";
    font-size: 10px;
    color: #808080;
    opacity: 0.7;
  }
}

.m_nf_postImageVideo {
  height: 100vw;
  > img {
    object-fit: cover;
    height: inherit;
    width: 100%;
  }
  > video {
    height: inherit;
    width: 100%;
  }
}

.m_nf_likeBtn {
  padding-top: 1px;
}

.m_nf_commentNLikes {
  font-family: "Circular Air Bold";
  font-size: 12px;
  color: #d1d1d1;
}

.m_nf_postDesc {
  font-family: "Circular Air Bold";
  font-size: 10px;
  color: #d1d1d1;
}

.commentsScreenHeader {
  font-size: 18px;
  color: #484848;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Circular Air Bold";
}

.m_nf_commentPost {
  position: fixed;
  bottom: 0px;
  height: 60px;
  width: 100%;
  border-top: 1px solid #f5f1f1;
  > div:nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    > img {
      border-radius: 50%;
    }
  }
  > div:nth-child(2) {
    width: calc(100vw - 100px);
    display: flex;
    // justify-content: center;
    // align-items: center;
    > form {
      > input {
        width: 100%;
        border: none;
        font-size: 13px;
        text-align: left !important;
        color: #484848;
      }
      > input::placeholder {
        font-size: 13px;
        text-align: left !important;
        color: #484848;
        opacity: 0.7;
        font-family: "Circular Air Book";
      }
    }
  }
  > div:nth-child(3) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
  }
}

.m_nf_submit_comment {
  height: inherit;
  font-size: 13px;
  font-family: "Circular Air Book";
  color: #e31b1b;
  border: none;
  background: none;
}

.m_nf_comments {
  position: relative !important;
}

.m_nf_commentSection {
  margin-top: 59px;
  // height: calc(100vh - 59px);
  margin-bottom: 60px;
  overflow-y: scroll;
}

.m_nf_singleCommentsView {
  > div:nth-child(1) {
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    > img {
      border-radius: 50%;
    }
  }
  > div:nth-child(2) {
    width: calc(100vw - 50px);
    > div:nth-child(1) {
      > span:nth-child(1) {
        font-size: 13px;
        font-family: "Circular Air Bold";
        color: #484848;
      }
      > span:nth-child(2) {
        font-size: 13px;
        padding-left: 8px;
        font-family: "Circular Air Book";
        color: #484848;
      }
    }
    > div:nth-child(2) {
      font-size: 10px;
      opacity: 0.7;
      font-family: "Circular Air Book";
      color: #484848;
    }
  }
}

.m_nf_view {
  height: calc(100vh - 220px) !important;
  // height: calc(100vh - 161px) !important;
  overflow-y: scroll;
  position: relative;
  background: #161616;
}

.m_nf_createPostHeader {
  font-size: 22px;
  font-family: "Circular Air Bold";
  color: #e31b1b;
}

.uploadPostInput {
  width: 100% !important;
  display: flex;
  justify-content: center;
  > input {
    margin-top: 10px;
    background: #161616;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 90% !important;
  }
}

.m_nf_postUpload {
  position: absolute;
  bottom: 30px;
  right: 20px;
  > button {
    border: none;
    background: none;
    color: white;
  }
}

.m_nf_menutItem {
  width: 100%;
  > span {
    width: 100%;
    text-align: center;
    color: #e31b1b;
    font-family: "Circular Air Book";
    font-size: 13px;
    > span {
      width: 100%;
    }
  }
}

.m_nf_menuDropDown {
  > button {
    padding: 0px !important;
    > span {
      height: 20px !important;
      > img {
        height: 20px !important;
      }
      > svg {
        fill: #f80402 !important;
      }
    }
  }
}

.m_nf_reportModal {
  > div:nth-child(1) {
    font-size: 14px;
    color: #484848;
    font-family: "Circular Air Book";
    > span {
      font-size: 14px !important;
      color: #e31b1b !important;
      font-family: "Circular Air Bold" !important;
    }
  }
  > div:nth-child(2) {
    padding-top: 15px;
    > div {
      width: 100%;
      > div {
        > input {
          font-size: 14px !important;
          color: #484848 !important;
          font-family: "Circular Air Book" !important;
        }
      }
    }
  }
  > div:nth-child(3) {
    padding-top: 20px;
    > div {
      justify-content: space-evenly;
      > button {
        border: none;
        border-radius: 5px;
        background: linear-gradient(to bottom right, #f80402 0, #a50f0d);
        font-size: 14px !important;
        color: #fff !important;
        padding: 5px 12px;
        font-family: "Circular Air Bold" !important;
      }
    }
  }
}

.m_nf_noComments {
  font-size: 16px;
  font-family: "Circular Air Bold" !important;
  color: #484848;
}

.m_nf_noNewsFeed1 {
  font-size: 13px;
  font-family: "Circular Air Bold" !important;
  color: #808080;
}

.m_nf_noNewsFeed2 {
  font-size: 12px;
  font-family: "Circular Air Book" !important;
  opacity: 0.7;
  color: #d1d1d1;
}

.m_nf_loader {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  > span {
    padding-left: 15px;
    font-size: 16px;
    font-family: "Circular Air Bold" !important;
    color: #484848;
  }
}

.m_comments_screen_header {
  position: fixed !important;
  width: 100%;
  top: 0;
  height: 59px !important;
}
