// Global Variable Scss
@import "../../../../Variable.scss";

// Chat Style Module
.MChats {
  border-bottom: $border-bottomcolorlightdark;
  padding-bottom: 10px;
  p:nth-child(1) {
    font-size: 18px;
    font-weight: 600;
  }
  .MTotalchatnumber {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    font-size: 19px;
    color: $text-black;
    line-height: 60px;
    text-align: center;
    background: $background-lightyellow;
  }
}

.m_chatScrollView {
  // height: calc(100vh - 320px);
  height: calc(100vh - 380px);
  overflow-y: auto !important;
}

// Total Number of Matches Style Module
.MTotal_User {
  img {
    width: 50px;
    padding-top: 5px;
    border-radius: 50%;
    border: 1px solid darkgray;
  }
}

.MActivechats {
  p {
    font-size: 18px;
    font-weight: 600;
    margin: 0;
  }
  .nomorechats {
    position: fixed;
    top: 55%;
    left: 0;
    right: 0;
    p:nth-child(2) {
      font-size: 14px;
      font-weight: bold;
    }
    p:nth-child(3) {
      font-size: 14px;
      padding: 0;
      color: $text-lightgray;
    }
  }
}

.Mupgradebtn {
  text-align: center;
  > button {
    font-family: "Circular Air Bold";
    background: #e31b1b;
    width: 90%;
    padding: 7px 0;
    border: #e31b1b;
    border-radius: 22px;
    color: $text-white;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 15px;
  }
  p {
    margin: 0;
    padding-top: 15px;
  }
}

.Mupgradebtn__disabled {
  text-align: center;
  > button {
    opacity: 0.4;
    font-family: "Circular Air Bold";
    background: #e31b1b;
    width: 90%;
    padding: 7px 0;
    border: #e31b1b;
    border-radius: 22px;
    color: $text-white;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 15px;
  }
  p {
    margin: 0;
    padding-top: 15px;
  }
}

// Model (pop-up) Styles Module
.MDatumupgrade {
  > div {
    > div {
      > p {
        font-size: 14px;
        text-align: center;
        font-weight: bold;
        margin: 0;
      }
    }
  }
  .Mupgradepopluar {
    // padding: 0 0 15px 0;
    // box-shadow: $boxshadow-onesideshadow;
    // border-bottom: $border-pinkcolor;
    // border-right: $border-pinkcolor;
    // border-left: $border-pinkcolor;
    h6 {
      // &:before {
      //   content: "";
      //   position: absolute;
      //   height: 5px;
      //   border-bottom: $border-pinkcolor;
      //   top: 0;
      //   width: 20px;
      //   right: 72%;
      //   margin-right: 15px;
      // }
      font-size: 10px;
      text-align: center;
      position: relative;
      bottom: 5px;
      color: $text-darkpink;
      font-weight: 800;
      // &:after {
      //   content: "";
      //   position: absolute;
      //   height: 5px;
      //   border-bottom: $border-pinkcolor;
      //   top: 0;
      //   width: 20px;
      //   left: 84%;
      //   margin-right: 15px;
      // }
    }
  }
}

.m_gif_scroll_screen {
  overflow-y: scroll;
  > div {
    justify-content: space-evenly;
    > img {
      margin: 5px;
      border: 1px solid #e6e6e6;
      border-radius: 5px;
    }
  }
}

.gifSearchBar {
  padding-left: 15px;
  padding-right: 15px;

  width: calc(100vw - 120px);
  > input {
    padding: 10px 10px;
    border-radius: 5px;
    border: 1px solid black;
    // box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    width: inherit;
  }
}

.gifSeachButton {
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: #e31b1b;
  text-transform: uppercase;
}

/*********************************************************************************************/

.m_chat_view {
  position: relative;
  overscroll-behavior: none;
  // height: 100vh !important;
}

.Mfriend_chat {
  z-index: 201;
  top: 0px !important;
  height: 66px !important;
  background: #161616;
  position: fixed !important;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  color: rgba(0, 0, 0, 0.87);
  border-bottom: 1px solid #fff;
}

.m_chat_scrollView {
  // overflow: auto;
  margin-top: 66px !important;
  // margin-bottom: 71px !important;
  height: calc(100vh - 195px) !important;
  overflow-y: auto !important;
  background: #161616;
  z-index: 22;
}

.m_spendCoinsOnChatModal {
  > div:nth-child(1) {
    text-align: right;
    margin-right: 10px;
  }
  > div:nth-child(3) {
    font-size: 18px;
    font-family: "Circular Air Book";
    text-align: left;
  }
  > div:nth-child(4) {
    font-size: 12px;
    color: #484848;
    font-family: "Circular Air Light";
    text-align: left;
  }
  > button {
    margin-top: 15px;
    width: 100%;
    border: none !important;
    color: white;
    background: linear-gradient(to bottom right, #f80402 0, #a50f0d);
    font-size: 16px;
    font-family: "Circular Air Book";
    text-align: center;
    border-radius: 24px;
    padding: 5px;
  }
}

.m_chat_text_edit_view {
  bottom: 0px !important;
  position: fixed !important;
  height: 71px !important;
  background: #161616;
  display: flex;
  flex-direction: row;
  > div:nth-child(1) {
    width: calc(100vw - 70px);
    > div {
      border: 1px solid #fff;
      > div {
        > div {
          > textarea {
            color: #808080;
            font-family: "Circular Air Book";
            font-size: 16px;
          }
        }
      }
    }
  }
  > div:nth-child(2) {
    width: 70px;
    > div {
      margin-left: 5px;
      margin-top: 5px;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      background: linear-gradient(to bottom right, #f80402 0, #a50f0d);
      > img {
        width: 25px;
        height: 25px;
      }
    }
  }
}

/*********************************************************************************************/

.a_gallery {
  background: #fc7c04;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.a_gif {
  background: #3c2414;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.a_sticker {
  background: #2196f3;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.a_video {
  background: #e31b1b;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.a_location {
  background: #b13ec7;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

// User Personal Chat Drawer Style Module

// User Chat Drawer Icon Module
.MChat_icon {
  // padding-top: 12px;
  > div {
    justify-content: space-evenly;
    > div {
      > i {
        font-size: 18px;
        color: #e31b1b;
      }
    }
  }
}

// Active Chat Module
.MUserlatest_chat {
  > .media-left {
    img {
      width: 50px;
      border-radius: 50%;
      border: 1px solid darkgray;
    }
  }
  > .media-body {
    > h4 {
      font-size: 17px;
      font-weight: 700;
      p {
        font-size: 15px;
      }
    }
  }
}

.m_chatArea {
  height: calc(100vh - 350px);
  overflow: auto;
}

.m_single_chat {
  position: relative;
  width: 100vw;
  display: flex;
  flex-direction: row;
  .m_single_chat_unmatched_user {
    position: absolute;
    left: 10px;
    top: 5px;
    img {
      height: 15px;
      width: 15px;
    }
  }
  .m_single_chat_image {
    padding: 10px;
    img {
      width: 55px;
      height: 55px;
      object-fit: cover;
      border-radius: 50%;
    }
  }
  .m_single_chat_content {
    padding-left: 5px;
    width: calc(100vw - 150px);
    justify-content: center;
    display: flex;
    flex-direction: column;
    > div:nth-child(1) {
      font-family: "Circular Air Bold";
      font-size: 14px;
      font-weight: 500;
      color: #808080;
      white-space: nowrap;
      overflow: hidden !important;
      text-overflow: ellipsis;
    }
    > div:nth-child(2) {
      > span {
        margin-right: 5px;
      }
      white-space: nowrap;
      overflow: hidden !important;
      font-family: "Circular Air Bold";
      text-overflow: ellipsis;
      font-size: 12px;
      color: #888;
    }
  }
  .m_single_chat_time {
    width: 75px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    > span {
      font-family: "Circular Air Book" !important;
      font-size: 12px;
      text-align: center;
      border-radius: 50%;
      width: 20px;
      background: #e31b1b;
      color: #fff;
    }
    > div:nth-child(2) {
      font-family: "Circular Air Book" !important;
      font-size: 12px;
      color: #888;
    }
    > div:nth-child(3) {
      font-family: "Circular Air Book" !important;
      font-size: 10px;
      color: #888;
    }
  }
}

/********** news feed and lastes chat scss ****************************/

.chatAndNewsFeed {
  height: calc(100vh - 60px) !important;
  // position: fixed;
}

.m_nf_createPost {
  position: absolute;
  // bottom: 80px;
  bottom: 9vw;
  width: 100%;
  z-index: 999;
  display: flex;
  justify-content: center;
  // background: red;
  > button {
    width: 40%;
    padding: 8px 5px;
    border: none;
    background: linear-gradient(to bottom right, #f80402 0, #a50f0d);
    color: white;
    font-size: 16px;
    font-family: "Circular Air Book";
    border-radius: 24px;
  }
}

.m_nf_createPost_ios {
  position: absolute;
  // bottom: 80px;
  bottom: 14vw;
  width: 100%;
  z-index: 999;
  display: flex;
  justify-content: center;
  // background: red;
  > button {
    width: 40%;
    padding: 8px 5px;
    border: none;
    background: linear-gradient(to bottom right, #f80402 0, #a50f0d);
    color: white;
    font-size: 16px;
    font-family: "Circular Air Book";
    border-radius: 24px;
  }
}

.chatsTabs {
  margin-top: 57px !important;
  > div {
    > header {
      background: #161616;
      > div {
        > div {
          > div {
            > div {
              justify-content: space-evenly;
              button {
                width: 49%;
                > span {
                  > span {
                    > span {
                      font-family: "Circular Air Book" !important;
                      text-transform: capitalize !important;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    > div {
      // height: calc(100vh - 100px);
      padding: 0px !important;
      overflow-y: auto;
    }
  }
}

.m_chatNewsHeader {
  top: 0px !important;
  height: 59px !important;
  position: fixed !important;
}

.m_chatView_header {
  font-size: 14px;
  font-family: "Circular Air Bold" !important;
  color: #888888;
}

.m_chat_matched {
  font-size: 13px;
  font-family: "Circular Air Book" !important;
  color: #fff;
}

.m_chatView_screen {
  height: calc(100vh - 162px);
  background: #161616;
}

.m_chatView_userMatches {
  > div {
    > div {
      font-size: 14px;
      font-family: "Circular Air Book" !important;
      text-align: center;
      color: #000;
    }
  }
}

.m_chatView_NoMessages {
  width: 100%;
  > div {
    font-size: 14px;
    font-family: "Circular Air Book" !important;
    color: #808080;
  }
}

.m_onlineDot {
  width: 10px;
  height: 10px;
  background-color: #74ec2c;
  position: absolute;
  border-radius: 50%;
  bottom: 12px;
  left: 50px;
}
.m_matchedUserIcon {
  position: absolute;
  left: 10px;
  top: 7px;
}

.m_friendUserIcon {
  background: #00007f;
  left: 48px;
  top: 8px;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  position: absolute;
  > img {
    margin-left: 3px;
    margin-bottom: 7px;
  }
}

.m_notMatched_coin {
  bottom: 6px;
  left: 2px;
  position: absolute;
}

.m_ChatView_userName {
  > h4 {
    font-size: 14px !important;
    font-family: "Circular Air Book";
    color: #808080;
    > div {
      font-size: 12px !important;
      padding-top: 4px;
      font-family: "Circular Air Book";
      color: #d1d1d1;
      opacity: 0.7;
    }
  }
}

.m_searchLocation_input {
  height: 100%;
  width: 100%;
  position: absolute;
  // top: 20px;

  > div {
    width: 100% !important;
    > div {
      width: 100% !important;
      > div:nth-child(2) {
        > form {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100% !important;
          > input {
            width: 90% !important;
          }
        }
      }
    }
  }
}

.m_location_send_input {
  > div:nth-child(2) {
    font-size: 18px;
    font-family: "Circular Air Bold";
    color: #484844;
    text-align: center;
  }
}

.m_filter_modal_address {
  font-family: "Circular Air Book";
  color: #484844;
}

.m_filtermap_textarea {
  width: 100%;
  font-family: "Circular Air Book";
  font-size: 14px;
  color: #484844;
}

.m_boostModal {
  padding: 15px;
  position: relative;
  > div:nth-child(1) {
    position: absolute;
    right: 20px;
    top: 15px;
  }
  > div:nth-child(2) {
    text-align: center;
  }
  > div:nth-child(3) {
    font-family: "Circular Air Book";
    text-align: center;
  }
  > button {
    border: none;
    background: linear-gradient(to bottom right, #f80402 0, #a50f0d);
    color: #fff;
    margin-top: 15px;
    font-family: "Circular Air Book";
    margin-bottom: 15px;
    border-radius: 24px;
    padding: 8px;
    width: 100%;
  }
}

.m_matched_profile {
  position: relative;
  > img {
    border-radius: 50%;
    object-fit: cover;
  }
}

.m_common_friends {
  background: blue;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  right: 0px;
  top: 0px;
  position: absolute;
  > img {
    height: 15px;
  }
}

.m_common_matched {
  border-radius: 50%;
  height: 20px;
  width: 20px;
  left: 5px;
  top: 0px;
  position: absolute;
  > img {
    height: 18px;
  }
}

.m_reportReasonsModal {
  > div:nth-child(1) {
    text-align: center;
    color: #047cfc;
    font-family: "Circular Air Bold";
    font-size: 18px;
    padding: 8px 0px;
    border-bottom: 1px solid #f3f3f3;
  }
  > div:nth-child(2) {
    font-family: "Circular Air Book";
    font-size: 16px;
    padding: 8px 0px;
  }
  > div:nth-child(3) {
    font-family: "Circular Air Book";
    font-size: 16px;
    padding: 8px 0px;
  }
  > div:nth-child(4) {
    font-family: "Circular Air Book";
    font-size: 16px;
    padding: 8px 0px;
  }
  > div:nth-child(5) {
    border-top: 1px solid #f3f3f3;
    text-align: center;
    color: #047cfc;
    font-family: "Circular Air Book";
    font-size: 18px;
    padding: 8px 0px;
  }
}

.m_gotLikesView {
  height: 100vh;
  > div {
    > div:nth-child(1) {
      font-family: "Circular Air Bold";
      color: #e31b1b;
      font-size: 22px;
    }
  }
}

.m_sendCoins_info {
  align-items: center;
  > div:nth-child(1) {
    padding-top: 15px;
    text-align: center;
    > img {
      height: 50px;
      width: 50px;
      border-radius: 50%;
      object-fit: cover;
    }
  }
  > div:nth-child(2) {
    padding-top: 10px;
    text-align: center;
    font-size: 12px;
    font-family: "Circular Air Bold";
    color: #000;
  }
  > div:nth-child(3) {
    padding-top: 15px;
    text-align: center;
    font-size: 12px;
    font-family: "Circular Air Book";
    color: #484848;
    opacity: 0.7;
  }
  > div:nth-child(4) {
    padding: 15px 0;
    > div {
      > div:nth-child(2) {
        > input {
          text-align: center;
          font-family: "Circular Air Book";
          width: 100%;
          border: none;
          font-size: 18px;
        }
      }
    }
  }
  > div:nth-child(5) {
    padding: 8px 0;
    > div {
      > div:nth-child(2) {
        > input {
          font-size: 18px;
          text-align: center;
          padding: 5px;
          font-family: "Circular Air Book";
          border-radius: 24px;
          background: #dfdfdf;
          color: grey;
          width: 100%;
          border: none;
        }
      }
    }
  }
}

.a_send_coins {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 2px solid #797979;
  display: flex;
  justify-content: center;
  align-items: center;
}

.m_sendCoinsView {
  position: relative;
  height: 100vh;
  width: 100%;
}

.m_chat_customLoader {
  top: 50%;
  left: 50%;
  border-radius: 5px;
  transform: translate(-50%, -50%);
  z-index: 999;
  > div {
    > span {
      font-family: "Circular Air Book";
    }
  }
}

.m_date_options {
  text-align: center;
  > span {
    font-family: "Circular Air Book";
    font-size: 14px;
  }
}

.m_create_date_single_location {
  font-family: "Circular Air Book" !important;
  font-size: 14px !important;
}

.m_create_date_selectedLocation {
  > div {
    font-family: "Circular Air Book";
    font-size: 14px;
  }
}

.m_create_date_formControl {
  width: 100%;
}

.m_chat_Loader {
  position: absolute;
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  > span {
    font-size: 14px;
    font-family: "Circular Air Book";
  }
}

.m_Fchat_Loader {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  > span {
    font-size: 14px;
    font-family: "Circular Air Book";
  }
}

.m-createDate-header {
  height: 65px !important;
  position: fixed !important;
  top: 0px !important;
  width: 100% !important;
}

.m-createDate-ScrollView {
  height: calc(100vh - 65px) !important;
  margin-top: 65px !important;
  width: 100% !important;
}
