// Main Navbar Style Module
.Wsignup {
  // background: linear-gradient(to bottom right, #e31b1b 0%, #ff7b43 100%);
  background: #e31b1b;
  height: 50px;
  box-shadow: 0 -7px 8px 10px #888;
  > .container {
    max-width: 1236px;
    margin: 0 auto;
    .header_lang {
      cursor: pointer;
      > div {
        > button {
          background-color: transparent !important;
          border-color: transparent !important;
        }
      }
    }
    .header_logo {
      cursor: pointer;
      padding-top: 5px;
    }
    .header_singin {
      display: inline-flex;
      padding-top: 10px;
      p {
        color: #fff;
        font-size: 13px;
        padding-top: 5px;
      }
      > span {
        margin-left: 10px;
        border: 1px solid rgba(255, 255, 255, 0.6);
        padding: 1px 10px 5px 10px;
        border-radius: 7px;
        a {
          color: #fff;
          &:hover {
            text-decoration: none !important;
          }
        }
      }
    }
  }
}

.signup_name {
  color: #4c4c4c !important;
  opacity: 1;
  font-size: 16px !important;
  font-family: "Product Sans" !important;
}

.signup_label {
  font-size: 14px !important;
  color: #585a60 !important;
  font-family: "Product Sans" !important;
}

.create_new_account {
  font-size: 24px;
  color: #292929 !important;
  font-family: "Product Sans" !important;
}

.people_available_on_dates_n_dime {
  font-size: 18px;
  color: #585a60;
  font-family: "Product Sans" !important;
}

.title {
  font-size: 13px;
  color: #585a60;
}

.d_signup {
  > div {
    padding: 0px !important;
    > input {
      width: 100% !important;
    }
  }
}

// Main SignUp Module Style Module
.signup_model_updated {
  // box-shadow: 0 0px 45px rgba(0, 0, 0, 0.2);
  // border-radius: 10px;
  // position: relative;
  top: 5em;
  padding: 25px !important;
  > .signup__title {
    h1 {
      font-size: 19px;
      font-weight: 500;
    }
    p:nth-child(1) {
      font-size: 19px;
      font-weight: 500;
    }
    p:nth-child(2) {
      font-size: 15px;
      font-weight: 500;
    }
  }
  > form {
    > .signup__form {
      > div {
        > div {
          > #signup_common,
          .Wdob_calander {
            > i {
              position: absolute;
              top: 13px;
              right: 30px;
              color: #888;
            }
            > div {
              width: 100%;
              > div {
                input {
                  font-family: "Product Sans";
                  color: #4c4c4c;
                  padding-left: 15px;
                }
                &::before,
                &::after {
                  border-bottom: none !important;
                }
              }
            }
            input {
              border-radius: 5px;
              border: 1px solid #ccc;
              padding: 0 15px;
              height: 40px;
              width: 100%;
              &:hover,
              &:focus,
              &:active {
                border: 2px solid #e31b1b;
                transition: all 0.2s ease;
                border-radius: 5px;
                width: 100%;
              }
            }
          }
          .signup_mobile {
            > div {
              border: 2px solid #ccc;
              border-radius: 5px;
              padding: 0 15px;
              height: 40px;
              width: 100%;
              // margin-top: 5px;
              &:hover,
              &:focus,
              &:active {
                border: 2px solid #e31b1b;
                border-radius: 5px;
                width: 100%;
              }
              input {
                border: 2px solid transparent !important;
                &:hover,
                &:focus,
                &:active {
                  border: 2px solid #e31b1b;
                  transition: all 0.2s ease;
                  border-radius: 5px;
                  width: 100%;
                  box-shadow: none;
                }
              }
            }
          }
        }
        .gender_select {
          cursor: pointer;
          p {
            margin: 0;
            padding-left: 15px;
            cursor: pointer;
          }
        }
      }
      .signup_notification {
        p {
          color: #484848;
          font-family: "Product Sans" !important;
          font-size: 14px;
          text-align: left;
          > a {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

// Main SignUp Module Style Module
.signup_model {
  box-shadow: 0 0px 45px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  position: relative;
  top: 5em;
  padding: 35px !important;
  > .signup__title {
    h1 {
      font-size: 19px;
      font-weight: 500;
    }
    p:nth-child(1) {
      font-size: 19px;
      font-weight: 500;
    }
    p:nth-child(2) {
      font-size: 15px;
      font-weight: 500;
    }
  }
  > form {
    > .signup__form {
      > div {
        > div {
          > #signup_common,
          .Wdob_calander {
            > i {
              position: absolute;
              top: 13px;
              right: 30px;
              color: #888;
            }
            > div {
              width: 100%;
              > div {
                input {
                  padding-left: 15px;
                }
                &::before,
                &::after {
                  border-bottom: none !important;
                }
              }
            }
            input {
              border: 1px solid #989898;
              border-radius: 5px;
              padding: 0 15px;
              height: 40px;
              width: 100%;
              &:hover,
              &:focus,
              &:active {
                border: 2px solid #e31b1b;
                transition: all 0.2s ease;
                border-radius: 5px;
                width: 100%;
              }
            }
          }
          .signup_mobile {
            > div {
              border: 2px solid #ccc;
              border-radius: 5px;
              padding: 0 15px;
              height: 40px;
              width: 100%;
              margin-top: 5px;
              &:hover,
              &:focus,
              &:active {
                border: 2px solid #e31b1b;
                border-radius: 5px;
                width: 100%;
              }
              input {
                border: 2px solid transparent !important;
                &:hover,
                &:focus,
                &:active {
                  border: 2px solid #e31b1b;
                  transition: all 0.2s ease;
                  border-radius: 5px;
                  width: 100%;
                  box-shadow: none;
                }
              }
            }
          }
        }
        .gender_select {
          cursor: pointer;
          p {
            margin: 0;
            padding-left: 15px;
            cursor: pointer;
          }
        }
      }
      .signup_notification {
        p {
          color: #484848;
          font-family: "Product Sans" !important;
          text-align: left;
          > a {
            color: #484848;
            text-decoration: underline;
          }
        }
      }
    }
  }
}
// FirstName Input Module
.signup_firstname {
  input {
    font-size: 16px !important;
    text-transform: capitalize;
  }
  input::placeholder {
    font-size: 16px !important;
    text-transform: initial;
  }
}

// DOB Placeholder Module
.signup_dob {
  font-family: "Product Sans" !important;
  color: #4c4c4c !important;
  font-size: 16px !important;
  > div {
    input[value="DD/MM/YYYY"]::placeholder {
      color: #989898 !important;
      font-size: 5.6em;
      font-family: "Product Sans" !important;
      font-size: 16px !important;
      opacity: 1;
      z-index: 9999999999;
    }
  }
}

// Mobile Number Placeholder Module
.signup_mobile {
  input::placeholder {
    color: transparent;
  }
}

.continue_btn_signup_disabled {
  background-color: #c8cfe0;
  height: 40px !important;
  color: white;
  border-radius: 5px;
  border: none !important;
  font-size: 16px !important;
  font-family: "Product Sans" !important;
}

.continue_btn_signup {
  background: linear-gradient(to bottom right, #f80402 0, #a50f0d);
  height: 40px !important;
  color: white;
  border-radius: 5px;
  border: none !important;
  font-size: 16px !important;
  font-family: "Product Sans" !important;
}

.male_button {
  padding-top: 8px !important;
  padding-bottom: 8px !important;
  padding-left: 12px !important;
  padding-right: 12px !important;
  background: white !important;
  border: 1px solid #ccc !important;
  font-size: 16px !important;
  font-family: "Product Sans" !important;
  color: #dbdbdb !important;
}

.male_button_actived {
  padding-top: 8px !important;
  padding-bottom: 8px !important;
  padding-left: 12px !important;
  padding-right: 12px !important;
  background: #fd3476 !important;
  color: #fff !important;
  font-weight: bold;
  font-size: 16px !important;
  font-family: "Product Sans Bold" !important;
  border: 1px solid #707070 !important;
  box-shadow: none !important;
}

.female_button {
  padding-top: 8px !important;
  padding-bottom: 8px !important;
  padding-right: 17px !important;
  padding-left: 17px !important;
  border: 1px solid #ccc !important ;
  background: white !important;
  color: #dbdbdb !important;
  font-size: 16px !important;
  font-family: "Product Sans" !important;
}

.female_button_activated {
  padding-top: 8px !important;
  padding-bottom: 8px !important;
  font-size: 16px !important;
  font-family: "Product Sans Bold" !important;
  padding-right: 17px !important;
  padding-left: 17px !important;
  background: #fd3476 !important;
  color: #fff !important;
  font-weight: bold;
  border: 1px solid #707070 !important;
  box-shadow: none !important;
}

// Radio Button Style Module
[type="radio"]:checked,
[type="radio"]:not(:checked) {
  display: none;
}

input[type="radio"]:checked ~ label {
  color: #000;
  font-weight: 500;
}

[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: #000;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.2px;
}

.Wsignupradiochecked_btn {
  input[type="radio"]:checked ~ label {
    color: #d1d1d1 !important;
    font-weight: 500;
  }
  input[type="radio"] ~ label {
    color: #d1d1d1 !important;
    font-weight: 500;
  }
  [type="radio"]:checked + label:before,
  [type="radio"]:not(:checked) + label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border: 2px solid #ccc;
    border-radius: 100%;
    background: #fff;
  }
}

[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border: 2px solid #e31b1b;
  border-radius: 100%;
  background: #fff;
}

[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
  content: "";
  width: 12px;
  height: 12px;
  background: #e31b1b;
  position: absolute;
  top: 4px;
  left: 4px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
[type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.link {
  color: #484848;
  cursor: pointer;
}
.link:hover {
  color: rgb(253, 52, 118);
  cursor: pointer;
  text-decoration: none;
}

// Facebook Login Module
.facebook_btn {
  height: 40px;
  width: 350px;
  background-color: #5674c2;
  color: white;
  border-radius: 5px;
  border: none !important;
  font-weight: 100 !important;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 18px !important;
  font-family: "Product Sans" !important;
}

.signup_facebook_small_btn {
  height: 40px !important;
  width: 40px;
  background-color: #5674c2;
  color: white;
  border-radius: 5px;
  font-weight: bold !important;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 17px;
  // > span {
  //   button {
  //     font-weight: 600 !important;
  //     font-size: unset !important;
  //     text-transform: unset !important;
  //     border: none !important;
  //     padding: 10px 20px !important;
  //     border-radius: 5px !important;
  //     margin-left: 20px;
  //     transition: none !important;
  //   }
  //   &:before {
  //     content: "OR";
  //     display: inline-block;
  //     position: relative;
  //     left: 9px;
  //   }
  // }
}

// Error Style Module
.signup_error {
  font-size: 12px;
  color: #e31b1b !important;
  // padding: 0 14px;
  margin: 0;
  width: 100%;
  text-align: left;
}

// Show in Datum Text Style Module
.Wshow_text {
  font-size: 13px;
  color: #9f9f9f;
  margin: 0;
  width: 100%;
  text-align: left;
}

// If Mobile Number is Register then Show Model Style Module
.Werror_signin {
  > i {
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 23px;
    cursor: pointer;
  }
  > .Werror_heading {
    h2 {
      font-weight: 700;
      font-size: 42px;
    }
  }
  > button {
    background: #fff;
    border: none;
    padding-top: 10px;
    a {
      background: linear-gradient(to bottom right, #f80402 0, #a50f0d);
      border-radius: 22px;
      border: none;
      padding: 10px 25px;
      color: #fff;
      font-weight: 700;
      margin: 0;
      cursor: pointer;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

// Media Query for SignUP Model Web
@media only screen and (max-width: 1400px) and (min-width: 1000px) {
  .signup_model {
    top: 3em !important;
  }
}

// Media Query for Mobile
@media only screen and (max-width: 565px) and (min-width: 432px) {
  .header_singin {
    display: block !important;
    padding-top: 0 !important;
  }

  .signup_btn {
    display: block !important;
    button {
      margin-bottom: 15px;
    }
    > .facebook_btn {
      height: 40px !important;
      span {
        button {
          margin-left: 0;
        }
        &:before {
          left: 7rem !important;
          bottom: 4rem !important;
        }
      }
    }
  }
}

.already_member_sign_in {
  cursor: pointer;
  // color: blue;
  padding-top: 15px;
  font-size: 16px;
  color: #21242a !important;
  font-family: "Product Sans" !important;
  text-align: center;
  > .login {
    font-weight: bolder;
    text-decoration: underline;
  }
}

.bDate {
  #tblForm {
    > input {
      border-radius: 5px !important;
      border: 1px solid #ccc !important;
      padding: 0 15px !important;
      height: 40px !important;
      width: 100% !important;
    }
  }
}

.bDate-error {
  font-size: 12px;
  color: red !important;
}
