// user Card Style Module
.WPro_Card {
  width: 100%;
  height: 260px;
  text-align: center;
  border: 1px solid #e5e5e5;
  background: #ffffff;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12) !important;
  color: rgba(0, 0, 0, 0.87);
  border-radius: 5px;
  cursor: pointer;
  .WPhoto {
    img {
      width: 160px !important;
      height: 150px !important;
      border-radius: 50%;
      border: 1px solid #d0d0d0;
      object-fit: cover;
    }
  }
  .WUserdata {
    p {
      font-size: 16px;
      font-weight: 600;
    }
    > i {
      color: #e31b1b;
      font-size: 10px;
      span {
        padding-left: 5px;
        font-size: 13px;
        font-weight: 400;
        line-height: 0;
        color: #323232;
      }
    }
    h6 {
      color: #323232;
      font-size: 11px;
      margin: 5px 0 0 0;
      > i {
        color: #e31b1b;
        font-size: 10px;
      }
    }
  }
  > a {
    &:hover {
      text-decoration: none;
    }
  }
}

.prospects_tabs {
  height: calc(100vh - 73px);
}

.prospect_card {
  position: relative;
  height: 260px !important;
  width: 260px !important;
  > img {
    height: inherit !important;
    border-radius: 9px !important;
    width: inherit !important;
    object-fit: cover;
  }
  .name_age {
    position: absolute;
    top: 20px;
    left: 20px;
    font-weight: 500;
    font-family: "Product Sans" !important;
    text-transform: capitalize;
    text-shadow: #474747 0px 1px 1px;
    color: #fff !important;
    font-size: 16px;
  }
  .distance {
    position: absolute;
    bottom: 38px;
    left: 18px;
    font-weight: 500;
    text-shadow: #474747 0px 1px 1px;
    font-family: "Product Sans" !important;
    color: #fff !important;
    font-size: 16px;
  }
  .location {
    position: absolute;
    bottom: 15px;
    left: 20px;
    text-shadow: #474747 0px 1px 1px;
    font-family: "Product Sans" !important;
    color: #fff !important;
    font-weight: 500;
    font-size: 16px;
  }
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
}

.prospectsContainer {
  margin-top: 30px;
  width: inherit !important;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  height: calc(100vh - 30px);
}

.options {
  cursor: pointer;
  padding: 15px;
  font-size: 15px;
  font-weight: bold;
  color: #484848;
  border-bottom: 1px solid #d9e4ff;
}

.options_selected {
  background: #f5f5fd;
  cursor: pointer;
  padding: 15px;
  font-size: 15px;
  font-weight: bold;
  color: #e31b1b;
  border-bottom: 1px solid #d9e4ff;
}

.custom_border {
  border-bottom: 1px solid #d9e4ff;
}

.custom_border_left {
  border-left: 1px solid #d9e4ff;
}

.prospects_scrollbar {
  height: calc(100vh - 203px);
  overflow: auto;
  margin-bottom: 50px;
}

.d_friends_accept_or_reject_btn {
  z-index: 999;
  justify-content: space-between;
  margin-top: 10px;
  > div:nth-child(1) {
    color: #e31b1b;
    padding: 10px 0px;
    width: 48%;
    font-size: 14px;
    border: 1px solid #e31b1b;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
  }
  > div:nth-child(2) {
    color: #b2b2b2;
    padding: 10px 0px;
    font-size: 14px;
    width: 48%;
    text-align: center;
    border: 1px solid #b2b2b2;
    border-radius: 5px;
    cursor: pointer;
  }
}

.page_header {
  font-size: 24px !important;
  font-family: "Product Sans Bold";
  color: #484848;
  padding-left: 8px;
}
