.currentLocationMap {
  background-color: #e5e5e5;
  color: #424242;
  padding: 10px 0 10px 10px;
  font-weight: bold;
}

// Search Places Button Module Scss
.doneButton {
  button {
    width: 80px !important;
    text-align: center;
    font-weight: 100;
    color: white;
    border: none;
    border-radius: 22px;
    font-size: 14px;
    background: linear-gradient(to bottom right, #f80402 0, #a50f0d);
    width: 100%;
    padding: 5px 10px;
    > a {
      color: white;
    }
  }
}

.location_select_option {
  cursor: pointer;
}

.d_map_header {
  font-size: 24px;
  color: #e31b1b;
  font-family: "Product Sans Bold";
}

.m_loc_addr_delete {
  font-size: 13px;
  color: #e31b1b;
  cursor: pointer;
  font-family: "Product Sans Bold";
}

.d_map_main_location {
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}

.m_map_current_location {
  color: #e31b1b;
  font-family: "Product Sans Bold";
}

.d_map_pref {
  > div {
    > div {
      position: relative !important;
    }
  }
}

.d_map {
  position: relative !important;
  // height: 520px !important;
  border-radius: 8px !important;
}

.d_map_select_options {
  width: 100%;
  // height: 380px !important;
  // overflow: auto !important;
}

// Search Places Module Scss
.place_scroll {
  width: 100%;
  height: 195px;
  font-family: "Product Sans" !important;
  overflow-y: scroll;
}

.RadioButtonFont {
  font-family: "Product Sans" !important;
}

.gmnoprint div {
  display: none !important;
}

.gm-style > button {
  display: none;
}

.google_map {
  > div {
    > div:nth-child(3) {
      > div:nth-child(2) {
        > div {
          width: 100%;
          input {
            position: absolute;
            top: 130px;
            border-radius: 22px;
            margin-left: 10px;
            width: 90% !important;
            opacity: 0.8;
            border-width: 0px;
          }
        }
      }
    }
  }
}

.__map {
  > div {
    > div {
      border-radius: 5px !important;
    }
  }
}

.d_location_modal_subHeader {
  font-size: 18px;
  color: #484848;
  background-color: #d9e4ff;
  padding: 10px 57px;
  text-transform: uppercase;
  font-family: "Product Sans Bold";
}

.d_location_modal_currentLocation {
  color: #484848;
  font-size: 18px;
  font-family: "Product Sans Bold";
}

.d_location_modal_add_new_location {
  font-size: 18px;
  font-family: "Product Sans Bold";
  text-align: center;
  background: linear-gradient(to bottom right, #f80402 0, #a50f0d);
  width: 100%;
  padding: 10px 0px;
  border: none !important;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.d_location_modal_save {
  font-size: 18px;
  font-family: "Product Sans Bold";
  text-align: center;
  background: linear-gradient(to bottom right, #f80402 0, #a50f0d);
  width: 100%;
  padding: 10px 0px;
  border: none !important;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.d_filter_modal {
  position: relative !important;
  background: white;
}

.d_filtermap_textarea {
  width: 100%;
  height: 100px !important;
  border-radius: 2px;
}

.d_filter_modal_address {
  font-size: 16px;
  font-family: "Product Sans";
  color: #484848;
}
