.request {
  color: #484848;
  font-size: 20px;
  font-family: "Circular Air Bold";
}

.withdrawDetails {
  color: #e31b1b;
  font-size: 20px;
  font-family: "Circular Air Bold";
}

.submitBtn1 {
  cursor: pointer;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center;
  padding: 10px 0px;
  color: white;
  font-size: 14px;
  font-family: "Circular Air Bold";
  width: 90% !important;
  border-radius: 18px;
  border: none;
  background: linear-gradient(to bottom right, #f80402 0, #a50f0d);
}

.m_c_accountInput {
  > label {
    font-family: "Circular Air Book";
  }
  > div {
    font-family: "Circular Air Book";
  }
}
