// Global Variable Scss
@import "../../../../Variable.scss";

// Tabs Style Module
.MProspectstabs {
  margin-top: 57px !important;
  > div {
    > div {
      > header {
        background: #161616;
        box-shadow: none !important;
        border-bottom: $border-bottomcolorlight;
        > div {
          > div {
            > div {
              > div {
                > button {
                  > span {
                    > span,
                    .jss80 {
                      padding: 0 12px !important;
                      text-transform: inherit !important;
                      span {
                        font-size: 14px;
                        text-transform: capitalize !important;
                      }
                    }
                  }
                  &:focus,
                  &:active {
                    outline: none !important;
                  }
                }
              }
            }
          }
        }
      }
      > div {
        background: #161616;
        padding: 0 !important;
        height: calc(100vh - 218px) !important;

        overflow-y: auto !important;
        // margin-bottom: 57px !important;
        .Mcardmain {
          padding-top: 20px;
          h4 {
            // font-size: 17px !important;
            // font-weight: 600;
            // margin: 0;
          }
        }
      }
    }
  }
}

.m_prospects_label {
  font-family: "Circular Air Bold";
  font-size: 14px;
  color: #808080;
}

.m_prospects_subText {
  font-family: "Circular Air Book";
  font-size: 13px;
  color: #a1a1a1;
  opacity: 0.7;
}

// No data avaible style Module
.nomorelike {
  position: fixed;
  top: 40%;
  left: 0;
  right: 0;
  p:nth-child(2) {
    font-size: 17px;
    font-family: "Circular Air Bold" !important;
    margin: 0;
    color: #808080;
    padding-top: 10px;
  }
  p:nth-child(3) {
    font-size: 14px;
    padding: 9px;
    font-family: "Circular Air Book" !important ;
    color: #a1a1a1;
    margin: 0;
  }
}

.MVisitors {
  position: relative;
  top: 20px;
  h4 {
    font-size: 18px;
    font-weight: 600;
  }
}

.u_img {
  > img {
    object-fit: cover;
  }
}

.m_prospects_stickyHeader {
  background: #161616;
  top: 0px !important;
  position: fixed !important;
  height: 59px !important;
}
