// Global Scss File
@import "../../../../../Variable.scss";

.loader_Wuserimg_preview {
  width: 260px;
  height: 260px;
  display: flex;
  justify-content: center;
  align-items: center;
}

// Main Image Upload Style Module
.Muser_inputprofile {
  > .Wuserimg_preview {
    display: inline-block;
    img {
      width: 260px;
      height: 260px;
      border-radius: 5px;
    }
  }
  > form {
    position: relative;
    top: 8em;
    width: 180px;
    height: 220px;
    border-radius: 8px;
    box-shadow: 0 6px 9px 0 rgba(115, 101, 97, 0.3);
    transform: rotate(5deg);
    cursor: pointer;
    > div {
      background: #808080;
      height: 210px;
      border-radius: 8px;
      box-shadow: 0 6px 9px 0 rgba(115, 101, 97, 0.3);
      cursor: pointer;
      transform: rotate(-5deg);
      > label {
        width: 180px;
        height: 190px;
        cursor: pointer;
        > div {
          position: relative;
          top: 4em;
          text-align: center;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          text-align: center;
          > i {
            border: 3px solid #161616;
            padding: 12px;
            border-radius: 50%;
            color: #161616;
          }
          h6 {
            color: #161616;
            font-weight: 500;
            padding-top: 10px;
          }
        }
      }
    }
  }
}

.__mchangePhoto {
  position: absolute;
  top: 15.1em;
  width: 92%;
  align-items: center;
  color: #f6376d;
  font-weight: 100;
  font-family: "Circular Air Book" !important;
  font-size: 17px;
  cursor: pointer;
}

// used to Change a Uploaded Photo
.Mchange_photo {
  h5 {
    color: #f74167;
    font-weight: 600;
    position: fixed;
    bottom: 15px;
    left: 15px;
  }
}

// Upload Valid Photo Style Module
.WInvalid_filr {
  position: absolute;
  left: 5em;
  bottom: 13em;
  p {
    padding-top: 15px;
    color: red;
    font-weight: 600;
    margin: 0;
  }
}

// Video Style Module
.MUser_video {
  > div {
    width: auto !important;
    height: auto !important;
    video {
      left: 0;
      height: 225px !important;
      width: 94% !important;
      object-fit: cover;
      position: absolute;
      top: 10em;
      left: 12px;
    }
  }
}

.react-html5-camera-photo {
  height: 100vh;
}

.react-html5-camera-photo > video {
  height: 100vh !important;
  width: 100vw !important;
}

.m-camera-module {
  > div {
    video {
      // width: 100vw !important;
      // height: 100vh !important;
      transform: scale(2.5) !important;
      height: inherit !important;
    }
  }
}
