// Checkbox Style Module
.W_userdatainput {
  > fieldset {
    > div {
      flex-direction: row !important;
      > label {
        margin: 0 15px !important;
      }
    }
  }
}

// Pefer Not to say Button
.Wuser_not {
  position: absolute !important;
  right: 20px !important;
  bottom: 15px !important;
  cursor: pointer;
  > label {
    position: absolute !important;
    right: 20px !important;
    bottom: 15px !important;
    cursor: pointer;
  }
}

// Radio Button Style Module
.Wsignupapiradiochecked_btn {
  text-align: left;
  padding: 10px !important;
}

// User Height Module DropDown Module
.WUser_heightsel {
  > div {
    > .css-yk16xz-control {
      border-radius: 11px;
    }
    > .css-1pahdxg-control {
      box-shadow: none !important;
      &:hover {
        border-color: #e31b1b !important;
      }
    }
    > .css-2613qy-menu {
      > div {
        background-color: #fff !important;
      }
    }
  }
}

// Prefer not to say button style Module
.Wuser_notsay {
  position: absolute;
  bottom: 5px;
  right: 8px;
}
