.m_custom_email-input {
  > div {
    > label {
      font-family: "Product Sans" !important;
      color: #d1d1d1 !important;
    }
    > div {
      > input {
        font-size: 16px !important;
        font-family: "Product Sans" !important;
        color: #d1d1d1 !important;
      }
      > div {
        > textarea {
          font-size: 16px !important;
          font-family: "Product Sans" !important;
          color: #d1d1d1 !important;
        }
      }
    }
    > div::after {
      border-bottom: 2px solid #d1d1d1 !important;
    }
    > div::before {
      border-bottom: 2px solid #d1d1d1 !important;
    }
  }
}
