.MainPage {
  height: 100vh;
  position: relative !important;
  width: 100vw;
  > div:nth-child(2) {
    > div {
      height: inherit;
    }
  }
}

.loginBtn1 {
  color: #e31b1b !important;
  background: white !important;
  padding: 10px 24px !important;
  font-family: "Product Sans Bold";
  box-shadow: 0px 3px 6px #2424241a !important;
  border-radius: 24px !important;
  border: none !important;
}

#BelowSection {
  // position: fixed;
  // bottom: 0px;
  width: 100%;
  > div {
    > ul {
      justify-content: center;
      > li {
        padding: 0px 15px;
        > a {
          font-family: "Product Sans Bold";
          text-decoration: none !important;
          font-size: 24px;
          color: #2c2c2c !important;
        }
      }
    }
  }
}

.androidBtn {
  z-index: 9991;
  cursor: pointer;
}

.loginBtn2 {
  color: white !important;
  margin-top: 7px;
  margin-left: 10px;
  background: linear-gradient(to bottom right, #f80402 0, #a50f0d);
  // padding: 10px 24px !important;
  height: 50px !important;
  width: 100px;
  font-family: "Product Sans Bold";
  box-shadow: 0px 3px 6px #2424241a !important;
  border-radius: 24px !important;
  border: none !important;
}

.CarouselItem {
  // opacity: 0.8;
  transition: 0.1s ease-in-out left !important;
  transition-delay: 0s !important;
  .CarouselImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .Carousel-Caption {
    max-width: 40vw;
    // position: absolute;
    top: 50% !important;
    font-size: 18px;
    display: block !important;
    text-align: justify;
    z-index: 0;
    > h3 {
      font-size: 6vw;
      // font-size: 90px;
      font-weight: bolder;
      min-width: 20vw;
    }
    > p {
      font-size: 14px;
      margin: 0 auto;
      width: 700px;
    }
  }

  .CarouseBtn {
    color: white;
    margin: auto;
    position: absolute;
    top: 80%;
    left: 23%;
    transform: translate(-50%, -50%);

    margin-top: 15px;
    background: linear-gradient(to bottom right, #f80402 0, #a50f0d);
    border-radius: 27px;
    width: 15%;
    height: 40px;
    font-weight: 500;
    // z-index: 999;
    font-size: 15px;
    cursor: pointer;
    &:hover {
      background: rgb(253, 80, 104);
      color: white;
      text-decoration: none;
    }
    &:focus,
    &:active {
      box-shadow: none !important;
    }
  }
}

// Navbar Style Module
.Header {
  position: fixed;
  width: 100%;
  z-index: 999;
  .WNavbar {
    border: none;
  }
  .Navbar {
    background: transparent;
    color: white;
    .Navbrand {
      font-weight: bold;
      color: white;
      font-size: 35px;
      &:hover {
        color: white;
      }
      > img {
        width: 10rem;
        color: white;
        position: relative;
        top: 0px;
        height: 55px;
        left: 5px;
      }
    }
    .btn-LogIn {
      background: white;
      color: rgb(253, 80, 104);
      border: none;
      border-radius: 5px;
      font-weight: bold;
      font-size: 16px !important;
      font-family: "Product Sans Bold" !important;
      font-weight: bold;
      &:hover {
        background: linear-gradient(to bottom right, #f80402 0, #a50f0d);
        text-decoration: none;
        color: white;
        font-size: 16px !important;
        font-family: "Product Sans Bold" !important;
        font-weight: bold;
      }
      &:focus,
      &:active {
        box-shadow: none !important;
      }
    }
    .navbar-toggler-icon {
      font-size: 25px;
      margin-left: 20px;
    }
    .HamburgerBtn {
      display: none;
      background: transparent;
      border: none;
      font-size: 25px;
    }
  }
}

// Login modal window Style Module
.modal-content {
  position: relative !important;
  left: 50%;
  top: 50%;
  transform: inherit !important;
  width: inherit !important;
  height: 75vh !important;
  > div:nth-child(2) {
    height: inherit !important;
    overflow: hidden;
    > p {
      overflow-y: scroll;
      height: inherit;
    }
  }
}

.MobileLoginScreen_MobileNumberText {
  text-align: left;
  font-size: 12px;
  padding-left: 46px;
  padding-bottom: 3px;
  color: #585a60;
  font-size: 14px;
  font-family: "Product Sans" !important;
}

// Login modal content Style Module
.LogInmodal {
  background: white;
  > i {
    position: absolute;
    right: 25px;
  }
  .closeBtn {
    float: right;
    cursor: pointer;
    background: transparent;
    border: 0;
    border-radius: 50%;
    color: black;
    &:hover {
      background: transparent;
      color: gray;
    }
    &:focus,
    &:active {
      box-shadow: none !important;
      background: none !important;
    }
  }
  a {
    color: black;
    text-decoration: underline;
    margin-top: 20px !important;
    &:hover {
      color: black;
    }
  }
  h3 {
    font-size: 25px;
    font-weight: bolder;
  }
  p {
    font-size: 15px;
    a {
      color: gray;
    }
  }
  .LoginToggleBtn {
    width: 350px;
    height: 50px;
    border: none;
    border-radius: 25px;
    background: linear-gradient(to bottom right, #f80402 0, #a50f0d);
    &:focus,
    &:active {
      box-shadow: none !important;
    }
  }
  span {
    font-size: 25px;
    font-weight: bold;
  }
  .DownloadBtn {
    width: 130px;
    height: 50px;
    border: none;
    border-radius: 10px;
    background: white;
    box-shadow: 0px 4px 9px 0px rgb(189, 188, 188), 0px 2px 8px 0px rgb(177, 176, 176);
    &:hover {
      background: white;
      border: none;
    }
  }
}

// MainPage Footer Style Module
.Footer {
  scroll-behavior: smooth !important;
  color: white;
  font-size: 32px;
  letter-spacing: 1.5px;
  background: linear-gradient(to bottom right, #f80402 0, #a50f0d);
  // background: linear-gradient(to right, rgb(48, 232, 161), rgb(74, 175, 323), rgb(235, 71, 232));
  // position: absolute;
  // margin: auto;
  // top: 89%;
  // bottom: 0;
  // left: 0;
  // right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0px 3px 6px #00000029;
  height: 70px;
  a {
    font-size: 35px;
    font-weight: bolder;
    letter-spacing: 2px;
    font-style: italic;
    &:hover {
      color: white;
      text-decoration: none;
    }
  }
}

#intelinputField::placeholder {
  color: #484848 !important;
  opacity: 0.3;
  font-family: "Product Sans";
}

// Mobilenumber modal content Style Module
.MobileNumberModal {
  position: relative;
  .MobNumInput {
    input {
      width: 350px;
    }
    .selected-dial-code {
      font-size: 15px !important;
      font-family: "Product Sans" !important;
      color: #484848 !important;
      padding-left: 11px !important;
    }
  }
  .MobNumContent {
    display: flex;
    justify-content: center;
    p {
      max-width: 400px;
      padding: 20px;
      // font-size: 12px !important;
      text-align: justify;
      // color: gray;
      color: #484848;
      font-family: "Product Sans" !important;
      font-size: 14px !important;
      a {
        // color: gray;
        color: #484848;
        text-decoration: underline;
        &:hover {
          color: rgb(253, 52, 118);
        }
      }
    }
  }
  .MobNumBtn {
    width: 350px;
    padding: 6px 0;
    background: linear-gradient(to bottom right, #f80402 0, #a50f0d);
    border-radius: 5px;
    border: none;
    font-size: 18px;
    cursor: pointer;
    font-family: "Product Sans";
    &:focus,
    &:active {
      box-shadow: none !important;
    }
  }
  .EmailLoginBtn {
    width: 350px;
    padding: 6px 0;
    background: #484848;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 18px;
    font-family: "Product Sans";
    cursor: pointer;
    // &:focus,
    // &:active {
    //   box-shadow: none !important;
    // }
  }
  .FaceBookBtn {
    width: 350px;
    padding: 8px 0;
    background: #5674c2 !important;
    border-radius: 5px;
    border: none;
    font-size: 18px !important;
    font-family: "Product Sans" !important;
    cursor: pointer;
    &:focus,
    &:active {
      box-shadow: none !important;
    }
  }
}

.inputWidth {
  font-size: 15px !important;
  font-family: "Product Sans" !important;
  color: #484848 !important;
}

.intl-tel-input {
  // width: 95%;
  font-size: 15px !important;
  font-family: "Product Sans" !important;
  color: #484848 !important;
}

.modal_close_btn {
  position: absolute;
  left: 30px;
  top: 30px;
  position: absolute;
}

// Otp modal content Style Module
.OtpModal {
  position: relative;
  .OtpModal_title {
    font-weight: bold;
    font-size: 13px;
    padding: 0 30px;
    a {
      margin-left: 60px;
    }
  }
  .verify_main {
    > div {
      input {
        // color: black;
        width: 45px !important;
        height: 45px !important;
        border: 2px solid #ccc;
        border-radius: 6px;
        font-weight: 500;
        font-size: 18px;
        &:hover,
        &:focus,
        &:active {
          border: 1px solid #e31b1b;
          width: 45px !important;
          height: 45px;
        }
      }
    }
  }
  .MobNumContent {
    display: flex;
    justify-content: center;
    p {
      max-width: 420px;
      padding: 20px;
      font-size: 13px !important;
      font-family: "Product Sans";
      text-align: justify;
      color: #484848;
      a {
        font-size: 13px !important;
        font-family: "Product Sans";
        color: #484848;
        text-decoration: underline;
        &:hover {
          color: rgb(253, 52, 118);
        }
      }
    }
  }
  .MobNumBtn {
    width: 350px;
    padding: 15px 0;
    background: linear-gradient(to bottom right, #f80402 0, #a50f0d);
    border-radius: 25px;
    border: none;
    font-size: 17px;
    &:focus,
    &:active {
      box-shadow: none !important;
    }
  }
  .FaceBookBtn {
    width: 350px;
    padding: 8px 0;
    background: #5674c2 !important;
    border-radius: 5px;
    border: none;
    font-size: 15px;
    &:focus,
    &:active {
      box-shadow: none !important;
    }
  }
}

._Or_Border {
  border-top: 1px solid #e3e3e3;
}

._Or_Border_or {
  font-size: 16px;
  font-family: "Product Sans" !important;
  color: #484848;
}

.Or_Border_Row {
  margin-left: 30px;
  margin-right: 30px;
}

.VerifyNumber_Continue {
  width: 350px;
  padding: 9px 0 !important;
  background: linear-gradient(to bottom right, #f80402 0, #a50f0d);
  border-radius: 5px !important;
  border: none !important;
  font-size: 17px;
  &:focus,
  &:active {
    box-shadow: none !important;
  }
  font-size: 15px !important;
}

// Media Query for ( min-width:320px to max-width:417px )
@media only screen and (min-width: 525px) and (max-width: 676px) {
  .CarouseBtn {
    top: 60% !important;
    font-size: 10px !important;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 30px !important;
  }
  .CarouselImg {
    height: 500px !important;
  }
}

// Media Query for ( min-width:418px to max-width:417px )
@media only screen and (min-width: 677px) and (max-width: 992px) {
  .CarouseBtn {
    top: 70% !important;
    font-size: 13px !important;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  .CarouselImg {
    height: 500px !important;
  }
}

/** import from NewLandingPage.scss */
// Navbar Style Module
.WNavbar {
  position: fixed;
  width: 100%;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.35);
  > i {
    color: #fff;
    position: absolute;
    left: 25px;
    top: 35px;
    font-size: 27px;
    cursor: pointer;
  }
}

// Main bg Style Module
.WMbanner {
  height: 100vh;
  background-position: center 0;
  background-size: cover;
  background-image: url("../../../../asset/images/Mainbg.jpg");
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
  > .WMainbg_title {
    padding-bottom: 9rem;
    h1 {
      text-align: center;
      font-size: 50px;
      font-weight: 100;
      letter-spacing: -1px;
      text-shadow: 0 2px 20px rgba(0, 0, 0, 0.4);
    }
  }
  > .Wdownload_app {
    img {
      width: 190px;
      margin: 0 10px;
      cursor: pointer;
    }
  }
}

// SidePanel Style Module
.WSidepanel {
  overflow: hidden;
  width: 300px;
  height: 100vh;
  background-color: #373635;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0.04em;
  transition: transform 0.2s;
  > div {
    > ul {
      margin-top: 20px;
      padding-left: 0;
      list-style-type: none;
      li {
        > a {
          p {
            padding: 1.05em 30px;
            color: #fff;
            text-transform: uppercase;
            margin: 0;
          }
        }
      }
    }
    > .WMenu_languages {
      padding: 1.05em 30px;
      label {
        padding: 0;
        font-size: 0.8em;
        color: hsla(0, 0%, 100%, 0.6);
      }
    }
    > .Wdownload {
      padding: 0 30px;
      > li {
        text-align: left;
        cursor: pointer;
        img {
          width: 130px;
        }
      }
    }
  }
}

// Main Body Module
.WMain_body {
  padding: 110px 0 60px 0;
  > div {
    > div {
      > div:nth-child(1) {
        > .Whome_step1 {
          > h5 {
            font-size: 34px;
            color: #e31b1b;
            letter-spacing: -1px;
            font-weight: 300;
            line-height: 1.3;
          }
        }
        > .Whome_stepcmn {
          margin: 100px 0;
          > h5 {
            font-size: 34px;
            color: #e31b1b;
            letter-spacing: -1px;
            font-weight: 300;
            line-height: 1.3;
          }
        }
      }
    }
  }
}

.VerifyNumber_Header {
  font-size: 24px;
  font-family: "Product Sans" !important;
  color: #21242a !important;
}

.VerifyNumber_EnterOTP_Text {
  font-family: "Product Sans" !important;
  font-size: 13px;
  color: #585a60;
  padding-top: 30px;
  > span {
    font-family: "Product Sans Bold" !important;
    font-size: 13px;
    color: #585a60;
    font-weight: bold;
  }
}

.VerifyNumber_Resend {
  font-size: 13px;
  color: #fc3476;
  text-align: center;
  font-family: "Product Sans" !important;
  font-weight: 600 !important;
}

.alreadyMemeber {
  color: #21242a;
  font-size: 16px;
  font-family: "Product Sans" !important;
  // font-size: 15px;
}

// Commitment Style Module
.WCommits {
  background: #f5f5f5;
  > div {
    > div:nth-child(1) {
      padding: 15px 0;
      > h5 {
        color: #e31b1b;
        text-align: center;
        font-size: 33px;
        font-weight: 300;
      }
    }
  }
}

.WCommits_type {
  padding-top: 50px;
  > div {
    text-align: center;
    img {
      width: 200px;
    }
  }
}

.checkout_app_section {
  padding-top: 100px;
  padding-bottom: 100px;
  > div {
    > div {
      width: 440px;
      > h3 {
        color: #1c1b46;
        font-size: 25px !important;
        font-family: "Product Sans";
      }
      > div {
        color: #484848;
        font-size: 16px !important;
        font-family: "Product Sans";
      }
    }
  }
  > div {
    a > {
      img {
        width: 200px;
        height: 60px;
        object-fit: cover;
        border-radius: 8px;
        margin-top: 25px;
      }
    }
  }
}

.landingPage_featuresv2 {
  > h5::before {
    content: "•       ";
    width: 1em;
    color: red;
  }
}

.landingPage_featuresv2 {
  > h5 {
    font-size: 23px !important;
    color: #474747;
    font-weight: bold;
    font-family: "Product Sans Bold" !important;
  }
  > p {
    color: #aeaeae !important;
    font-family: "Product Sans" !important;
    font-size: 16px !important;
  }
}

.landingPage_features {
  > h4 {
    color: #474747;
    font-size: 23px !important;
    font-family: "Product Sans Bold" !important;
    font-weight: bold;
  }
  > p {
    color: #aeaeae;
    font-size: 16px !important;
    font-family: "Product Sans" !important;
  }
}

@media (min-width: 400px) and (max-width: 991px) {
  .checkout_app_section {
    flex-direction: column;
    padding-top: 100px;
    padding-bottom: 100px;
    > div {
      > div {
        width: 100%;
        text-align: center;
      }
    }
    > div {
      a > {
        img {
          width: 200px;
          height: 60px;
          object-fit: cover;
          border-radius: 8px;
          margin-top: 25px;
        }
      }
    }
    .mobile_phone_section {
      margin-top: 60px;
    }
  }
}

@media (min-width: 400px) and (max-width: 767px) {
  .footer_pink {
    > div {
      > ul {
        display: block !important;
        text-align: center;

        > li {
          padding: 5px;
          width: 100%;
        }
      }
    }
  }
}

.footer_pink {
  background-color: #484848;
  > div {
    > ul {
      justify-content: space-evenly;
      margin-bottom: 0px !important;
      > li {
        span {
          font-size: 16px;
          font-family: "Product Sans";
          color: white;
        }
      }
    }
  }
}

.bg_links {
  z-index: 999;
  ul {
    > li {
      // background: linear-gradient(to bottom right,#f80402 0,#a50f0d);
      border-radius: 24px;
      padding: 5px 20px !important;
      margin: 0px 10px;
      color: #484848 !important;
      > a {
        color: #484848 !important;
        > span {
          color: #484848 !important;
        }
      }
    }
  }
}

.d_loginMobileNumberInput {
  // margin-left: 36px !important;
  // margin-left: 10px;
  > div {
    > input {
      margin: auto !important;
    }
    .flag-dropdown {
      left: 40px;
    }
    > input::placeholder {
      opacity: 1 !important;
      color: #484848 !important;
      display: block !important;
    }
  }
}

.react-tel-input .form-control {
  font-family: "Product Sans";
  // width: 100% !important;
  ::placeholder {
    opacity: 1 !important;
    color: #484848 !important;
    display: block;
  }
}

.country-list {
  > li {
    text-align: left !important;
    font-family: "Product Sans";
  }
}

.emailTitle {
  width: 100%;
  display: flex;
  justify-content: center;
  > p {
    width: 350px !important;
  }
}

.emailForm {
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 0 15px;
  height: 40px;
  width: 350px !important;
  // width: 100%;
  &:hover,
  &:focus,
  &:active {
    border: 2px solid #e31b1b;
    transition: all 0.2s ease;
    border-radius: 5px;
    width: 100%;
  }
}
