// Global Variable Scss
@import "../../../../Variable.scss";

// Used For Left Side
.alignleft {
  float: left;
}

// Used For Right Side
.alignright {
  float: right;
}

.mobileCoinCard {
  border-radius: 4px;
  cursor: pointer;
  width: 32%;
  > div:nth-child(1) {
    padding: 6px 0;
    color: white;
    font-family: "Product Sans Bold";
    font-size: 18px;
    text-align: center;
  }
  > div:nth-child(2) {
    font-family: "Product Sans Bold";
    font-size: 18px;
    text-align: center;
    padding: 6px;
    width: 85%;
    color: #d1d1d1;
    margin: auto;
    border-radius: 4px;
    margin-top: 10px;
  }
  > div:nth-child(3) {
    font-family: "Product Sans";
    font-size: 14px;
    color: #d1d1d1;
    text-align: center;
    padding: 6px 0;
  }
  > div:nth-child(4) {
    font-family: "Product Sans Bold";
    font-size: 18px;
    color: #d1d1d1;
    text-align: center;
    padding: 5px 0;
  }
}

// Main Coinbalance Style Module
.Meancoin {
  .maincoin {
    > div {
      padding-left: 10px;
      padding-top: 2px;
    }
  }
  .transaction {
    border: 1px solid #f73f67;
    border-radius: 50%;
    padding: 0px 10px;
    background: linear-gradient(to bottom right, #f80402 0, #a50f0d);
    color: #fff;
    cursor: pointer;
  }
  .earncoins {
    button {
      width: 90%;
      background: linear-gradient(to bottom right, #f80402 0, #a50f0d);
      border: #f73f67;
      border-radius: 22px;
      padding: 10px;
      color: #fff;
      text-transform: uppercase;
      font-weight: 600;
    }
  }
  .Mbuycoins {
    border-bottom: 1px solid #8c8c8c;
    .buycoin {
      > h4 {
        padding-left: 10px;
        padding-top: 2px;
        font-size: 17px;
        font-weight: 600;
        margin: 0;
      }
      p {
        padding-left: 10px;
        padding-top: 2px;
        font-size: 12px;
        color: #8c8c8c;
        margin: 0;
      }
    }
  }
  .mainbuycoin {
    padding-left: 10px;
    padding-top: 2px;
  }
}

.m_paypal_checkout {
  display: flex;
  justify-content: center;
  align-items: center;
  > div {
    > div {
      > div {
        height: 45px !important;
      }
    }
  }
}

.buytransaction {
  border: 1px solid #f73f67;
  color: #f73f67;
  font-family: "Circular Air Book";
  padding: 3px 18px;
  border-radius: 3px;
  margin-top: 5px !important;
  margin-right: 5px !important;
}

.MessageCard {
  font-family: "Circular Air Book";
  color: #000;
}

// Tabs Style Module
.MCoinhistory {
  > div {
    > div {
      > header {
        background-color: transparent !important;
        box-shadow: none !important;
        border-bottom: $border-bottomcolorlight;
        > div {
          > div {
            > div {
              > div {
                > button {
                  min-width: 33vw;
                  > span {
                    > span,
                    .jss80 {
                      padding: 0 12px !important;
                      text-transform: inherit !important;
                      span {
                        font-size: 14px;
                        text-transform: capitalize !important;
                      }
                    }
                  }
                  &:focus,
                  &:active {
                    outline: none !important;
                  }
                }
              }
            }
          }
        }
      }
      > div {
        padding: 0 !important;
        .MUsercard {
          padding-top: 15px;
          h4 {
            font-size: 17px !important;
            font-weight: 600;
            margin: 0;
          }
        }
      }
    }
  }
}

.infoButton {
  border: 1px solid #f73f67;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  display: flex;
  justify-content: center;
  background: linear-gradient(to bottom right, #f80402 0, #a50f0d);
  color: #fff;
  cursor: pointer;
}

.m_payment_cancel {
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  display: flex;
  justify-content: center;
  background: linear-gradient(to bottom right, #f80402 0, #a50f0d);
  color: #fff;
  cursor: pointer;
}

.coin_balance {
  font-size: 24px;
  padding-left: 15px;
  color: #d1d1d1;
  font-family: "Circular Air Book";
}

.coin_balance_header {
  color: #e31b1b;
  font-size: 18px;
  font-family: "Circular Air Bold";
}

.buy_coins {
  color: #d1d1d1;
  font-size: 15px;
  font-weight: 600;
  font-family: "Circular Air Bold";
}

.buy_coins_helper_text {
  color: #808080;
  font-size: 12px;
  font-family: "Circular Air Book";
}

.dollar_balance {
  color: #00aa1a;
}

.coin_balance_earning_wallet {
  font-family: "Product Sans";
  color: #808080;
  padding-left: 45px;
  > span {
    color: #00aa1a;
  }
  margin-bottom: 15px;
}

.m_payment_paypal {
  font-family: "Product Sans";
}

.withdrawal_and_earning_logs_button {
  color: #e31b1b;
  font-size: 16px;
  font-family: "Product Sans";
  font-weight: 500;
  border-radius: 20px;
  text-align: center;
  padding: 10px;
  border: 1px solid #e31b1b;
}

.mobile_recentTransactionsScreen {
  height: 58px;
  top: 0px;
  position: fixed !important;
  img {
    position: absolute;
    left: 20px;
    top: 20px;
  }
  > div {
    font-size: 18px;
    color: #808080;
    font-family: "Circular Air Bold";
  }
}

// wallet transactions based

.m_transaction_id {
  font-family: "Product Sans";
  color: #484848;
  padding-left: 15px;
}

.m_transaction_txn_id {
  font-family: "Product Sans";
  color: gold;
}

.m_transaction_time {
  font-family: "Product Sans";
  color: #484848;
  font-size: 13px;
  opacity: 0.5;
}

.m_transaction_card {
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2);
}

.m_transaction_amount {
  font-family: "Product Sans";
  color: #e31b1b;
  font-size: 13px;
  text-align: right;
}

.m_transaction_status_label {
  font-family: "Product Sans Bold";
  color: #484848;
  padding-left: 15px;
}

.m_transaction_id_withdraw_id {
  font-family: "Product Sans Bold";
  color: #484848;
  padding-left: 15px;
}

.m_transaction_withdraw_txn_id {
  font-family: "Product Sans";
  color: #484848;
  font-size: 13px;
  opacity: 0.5;
}

.m_transaction_status {
  font-family: "Product Sans Bold";
  color: gold;
  text-transform: uppercase;
}

.m_wallet_info {
  margin-top: 56px;
  > div {
    > header {
      background: #161616;
      > div {
        > div {
          > div {
            > div {
              justify-content: space-evenly;
              button {
                width: 33%;
              }
            }
            > span {
              background-color: #e31b1b;
            }
          }
        }
      }
    }
    > div {
      height: calc(100vh - 105px);
      background: #161616;
      overflow-y: auto;
    }
  }
}

.m_wallet_tabs {
  > div {
    > header {
      > div {
        background: #161616;
        > div {
          > div {
            > div {
              justify-content: space-evenly;
              button {
                width: 49%;
              }
            }
          }
        }
      }
    }
    > div {
      background: #161616;
    }
  }
}

.m_confirmCoinPurchaseModal {
  > div:nth-child(1) {
    text-align: center;
    font-family: "Circular Air Bold";
    font-size: 18px;
    color: #048cec;
    padding-bottom: 15px;
  }
  > div:nth-child(2) {
    padding-top: 15px;
    text-align: center;
    font-family: "Circular Air Book";
    font-size: 14px;
    color: #484848;
    padding-bottom: 15px;
  }
  > div:nth-child(3) {
    padding-top: 15px;
    > div {
      justify-content: space-around;
      > button {
        color: #048cec;
        text-align: center;
        font-family: "Circular Air Book";
        font-size: 16px;
        background: none;
        border: none;
      }
    }
  }
}

.label-common2 {
  font-size: 22px;
  font-family: "Circular Air Bold";
  color: #e31b1b;
}

.label-common1 {
  font-size: 22px;
  font-family: "Circular Air Bold";
  color: #484848;
}

.m_withdrawWallet_info {
  margin-top: 58px;
  > div {
    > div {
      height: calc(100vh - 107px) !important;
      overflow-y: auto !important;
    }
  }
}
