.lp_buttons {
  background: black;
  opacity: 0.3;
  padding: 5px 20px;
  border: none;
  color: white;
  font-family: "Open Sans" !important;
  font-weight: 600;
  margin: 10px 2px 0 2px;
  cursor: pointer;
}

.lp_buttons_active {
  background: black;
  opacity: 0.3;
  padding: 5px 20px;
  border: none;
  color: white;
  font-family: "Open Sans" !important;
  font-weight: 800;
  margin: 10px 2px 0 2px;
  cursor: pointer;
}

.realFooter {
  z-index: 20;
  position: absolute !important;
  width: 100%;
  height: 60px;
  background: rgb(37, 41, 49);
  bottom: 0 !important;
  > div {
    height: inherit;
    > div:nth-child(1) {
      height: inherit;
      display: flex;
      justify-content: center;
      > div {
        display: flex;
        align-items: center;
        width: 200px;
        justify-content: space-evenly;
      }
    }
    > div:nth-child(2) {
      display: flex;
      align-items: center;
      justify-content: center;
      > div {
        color: white;
        font-family: "Open Sans" !important;
        > span {
          cursor: pointer;
        }
      }
    }
  }
}

.subHeader {
  color: white;
  font-family: "Open Sans" !important;
  font-size: 28px;
  opacity: 0.8;
  font-weight: 600;
}

.black-box {
  width: 50%;
  padding: 30px;
  background: black;
  opacity: 0.25;
  height: 200px;
  margin: auto;
  z-index: 1;
}

.black-box1 {
  width: 50%;
  padding: 30px;
  background: black;
  opacity: 0.25;
  height: 300px;
  margin: auto;
  z-index: 1;
}

.black-box2 {
  width: 50%;
  padding: 30px;
  background: black;
  opacity: 0.25;
  height: 400px;
  margin: auto;
  z-index: 1;
}

@media (min-width: 991px) and (max-width: 1600px) {
  .black-box2 {
    height: 20.833vw;
  }
  .bold-2-header {
    font-size: 1.35416vw !important;
  }
  .bold-2-sub-header {
    font-size: 1.0416vw !important;
  }
  .bold-2-sub-text {
    font-size: 0.9375vw !important;
  }
  .scrollable-box-2 {
    height: 10.35416vw !important;
  }
}

.black-box3 {
  width: 50%;
  padding: 30px;
  background: black;
  opacity: 0.25;
  height: 270px;
  margin: auto;
  z-index: 1;
}

.scrollable-box-2 {
  height: 260px;
  overflow-y: hidden;
}

.subHeader-insideBox {
  color: white;
  font-family: "Open Sans" !important;
  font-size: 26px;
  opacity: 1;
  font-weight: 600;
}

.subHeader-insideBox1 {
  color: white;
  font-family: "Open Sans" !important;
  font-size: 26px;
  opacity: 1;
  font-weight: 500;
}

.subText-insideBox {
  color: white;
  font-family: "Open Sans" !important;
  font-size: 16px;
  opacity: 1;
  font-weight: 500;
}

.bold-text-data {
  padding-top: 40px;
  z-index: 2;
}

.bold-text-data1 {
  padding-top: 60px;
  z-index: 2;
}

.bold-text-data2 {
  padding-top: 65px;

  z-index: 2;
}

.red-button {
  background: #e43122;
  color: white;
  border: none;
  padding: 5px 45px;
  font-weight: 600;
  font-family: "Open Sans" !important;
}

.white-button {
  color: #e43122;
  background: white;
  border: none;
  font-weight: 600;
  font-family: "Open Sans" !important;
  padding: 5px 45px;
}

.bold-2-header {
  color: white;
  font-family: "Open Sans" !important;
  font-size: 26px;
  opacity: 1;
  font-weight: 800;
}

.bold-2-sub-header {
  color: white;
  font-family: "Open Sans" !important;
  font-size: 20px;
  opacity: 1;
  font-weight: 600;
}

.bold-2-sub-text {
  color: white;
  font-family: "Open Sans" !important;
  font-size: 18px;
  opacity: 1;
  font-weight: 500;
}

.scroll-chevron {
  bottom: 25px;
  cursor: pointer;
  z-index: 10 !important;
}

.scroll-chevron-up {
  top: 25px;
  cursor: pointer;
  z-index: 10 !important;
}

.phone-text {
  height: 34.5px;
  border: 1px solid #e43122;
  padding-left: 45px;
  margin-right: 5px;
  font-family: "Open Sans" !important;
}

.input-box {
  width: 400px;
  margin: auto;
}

.phone-icon {
  position: absolute;
  top: 22px;
  left: 25px;
}

.timer-count {
  font-family: "Open Sans" !important;
  color: #fff;
  font-size: 34px;
  font-weight: 500;
}
