// Desktop Navbar Section Scss
.MainDesktopHeader {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 9999;
  .navbar-brand {
    color: #fff !important;
    margin-left: 30px;
  }
  .navbar-collapse {
    margin-right: 30px;
  }
  .nav-item {
    a {
      color: #fff !important;
    }
  }
  .MenuModel {
    cursor: pointer;
  }
}

// Mobile Navbar Scss Start
.MainMobileHeader {
  position: fixed;
  left: 0px;
  right: 0px;
  z-index: 9999;
  height: 50px;
  div:nth-child(2) {
    position: absolute !important;
    right: 20px;
    top: 12px;
    cursor: pointer;
    span {
      background: rgb(255, 255, 255) none repeat scroll 0% 0% !important;
    }
  }
  .cheeseburger-menu {
    // CheeseBurger Menu Scss Start for Mobile
    .cheeseburger-menu-outer {
      transform: translate3d(265%, 0, 1rem) !important;
    }
  }
  .cheeseburger-menu.open {
    .cheeseburger-menu-outer {
      left: unset !important;
      right: 0px !important;
      transform: translate3d(0%, 0px, 0px) !important;
      .cheeseburger-menu-inner {
        padding: 1.5em 1.5em 0 !important;
        font-size: 1.15em;
        background: #f8f8f8;
        .SideMenu {
          // Sidebar Menu Scss Start for Mobile
          height: 100%;
          box-sizing: border-box;
          overflow: auto;
          scrollbar-width: thin;
          > li {
            list-style: none;
            a:nth-child(1) {
              border-bottom: 1px solid;
              color: #000 !important;
            }
          }
        }
      }
    }
  }
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}
