// Date-Card Module for Pending & Upcoming Dates

.react-rater-star.is-active,
.react-rater-star {
  height: 50px !important;
  width: 50px !important;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.show_ratings {
  position: absolute;
  bottom: 15px;
  width: 100%;
}

.sumbit_ratings_handler {
  width: 80%;
  background: linear-gradient(to bottom right, #f80402 0, #a50f0d);
  border: none;
  padding: 8px 0px;
  color: white;
  font-family: "Product Sans Bold";
}

.react-rater-star.is-active {
  color: #e31b1b !important;
}

.rate_dating {
  position: absolute;
  width: 100%;
  bottom: 20px;
  background: linear-gradient(to bottom right, #f80402 0, #a50f0d);
  color: white;
  border: none;
  padding: 5px 0px;
  font-size: 16px;
  border-radius: 5px;
}

.Datecard {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 5px 5px -1px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  color: rgba(0, 0, 0, 0.87);
  margin: 8px;
  min-width: 260px;
  overflow: hidden;
  // Header Module
  > .dateheader {
    > .media {
      > .media-left {
        img {
          width: 40px;
          height: 40px;
          border-radius: 50px;
        }
      }
      > .media-body {
        padding-left: 15px;
        h5 {
          font-size: 18px;
        }
        p {
          font-size: 12px;
          color: #888;
        }
      }
    }
  }
  // Scdule Module
  > .datescdule {
    p {
      font-weight: bold;
      font-size: 14px;
      color: #888;
    }
    > .dateloc {
      padding-top: 5px;
      > i {
        color: #888;
        span {
          color: #e31b1b;
          padding-left: 10px;
          font-weight: 600;
        }
      }
    }
  }
  // Pending Footer Module
  > .datefooter {
    button {
      border: 2px solid #e31b1b;
      background: transparent;
      padding: 5px 3rem;
      color: #e31b1b;
      font-weight: 500;
      border-radius: 8px;
    }
    > i {
      border: 2px solid #e31b1b;
      padding: 8px 7px;
      color: #fff;
      font-weight: 500;
      border-radius: 8px;
      background: #e31b1b;
      cursor: pointer;
    }
  }
  // UpComing Footer Module
  > .dateupcomingfooter {
    button {
      border: 2px solid #e31b1b;
      background: transparent;
      padding: 5px 2rem;
      color: #e31b1b;
      font-weight: 500;
      border-radius: 8px;
      margin-right: 10px;
    }
    > .datedelete {
      border: 2px solid #e31b1b;
      padding: 8px 7px;
      color: #fff;
      font-weight: 500;
      border-radius: 8px;
      background: #e31b1b;
      margin-right: 5px;
      cursor: pointer;
    }
    > .dateapprove {
      border: 2px solid green;
      padding: 8px 7px;
      color: #fff;
      font-weight: 500;
      border-radius: 8px;
      background: green;
      margin-right: 5px;
      cursor: pointer;
    }
  }
}

.desktop_dates_count {
  background: #e31b1b !important;
  color: white !important;
  padding: 0 6px !important;
  margin-left: 5px;
  border-radius: 50% !important;
}

// Date-Card Module for Past Dates Dates
.Pastdate {
  width: 100%;
  height: 245px;
  text-align: center;
  border: 1px solid #e5e5e5;
  // border: 1px solid #dedede;
  background: #ffffff;
  // background: #e5e5e5;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12) !important;
  color: rgba(0, 0, 0, 0.87);
  border-radius: 5px;
  margin: 8px;
  min-width: 259px;
  overflow: hidden;
  > .pastdateheader {
    > .media {
      > .media-left {
        img {
          width: 40px;
          height: 40px;
          border-radius: 50px;
        }
      }
      > .media-body {
        padding-left: 15px;
        h5 {
          font-size: 18px;
        }
        p {
          font-size: 12px;
          color: #888;
        }
        span {
          border: 1px solid transparent;
          background: linear-gradient(to bottom right, #f80402 0, #a50f0d);
          border-radius: 22px;
          padding: 5px 10px;
          padding-top: 5px;
          padding-bottom: 5px;
          color: #fff;
          cursor: pointer;
          font-size: 10px;
          position: relative;
          top: 5px;
        }
      }
    }
  }
}

.d_friends_modal_inputHandler {
  position: relative;
  border: 1px solid #dbdcde !important;
  box-shadow: 0px 10px 22px #0000000f !important;
  width: 80% !important ;
  font-family: "Product Sans Bold";
  color: #484848;
  padding: 8px;
  margin-top: 30px;
}

.d_friends_friend_search {
  cursor: pointer;
  position: absolute;
  right: 85px;
  top: 97px;
  z-index: 999;
}

.d_friends_modal_data_found {
  margin-top: 15px;
  color: #e31b1b;
}

.d_friends_modal_request_confirmed_with {
  margin-top: 20px;
  margin-bottom: 15px;
  color: #484848;
  font-size: 18px;
  font-family: "Product Sans";
}

.d_physical_couples_img {
  height: 85px;
  position: relative !important;
  > div:nth-child(1) {
    position: absolute;
    left: 48%;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 50%;
    padding: 5px;
    height: 80px;
    width: 80px;
  }
  > div:nth-child(2) {
    position: absolute;
    right: 48%;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 50%;
    padding: 5px;
    height: 80px;
    width: 80px;
  }
}

.d_friends_modal_add_friend {
  background: linear-gradient(to bottom right, #f80402 0, #a50f0d);
  padding: 10px;
  cursor: pointer !important;
  border-radius: 5px;
  color: white !important;
  border: none;
}

.d_friends_modal_accepted_friend {
  background: linear-gradient(to bottom right, #f80402 0, #a50f0d);
  padding: 10px !important;
  border: none !important;
  cursor: pointer !important;
  border-radius: 5px;
  font-size: 18px !important;
  width: 100%;
  font-family: "Product Sans Bold";
  color: white !important;
}

.d_friends_modal_add_friend_img {
  border-radius: 50%;
  height: 60px;
  width: 60px;
}

.d_friends_modal_add_friend_details {
  > div:nth-child(1) {
    font-size: 20px;
    color: #484848;
  }
  > div:nth-child(2) {
    font-size: 16px;
    color: #484848;
  }
  > div:nth-child(3) {
    font-size: 14px;
    color: #e31b1b;
  }
}

.d_friends_modal_my_id {
  margin-top: 50px;
  font-size: 20px;
  color: #939393;
  > span {
    color: #e31b1b;
    font-size: 20px;
  }
}

.d_friends_add_friend {
  font-family: "Product Sans Bold" !important;
  border: 2px solid #e31b1b !important;
  padding: 5px 20px !important;
  cursor: pointer !important;
  border-radius: 6px !important;
  background: #fff;
}

.d_friends_modal_header {
  color: #e31b1b;
  font-family: "Product Sans Bold";
  font-size: 24px;
}

.d_addFriends_header {
  font-family: "Product Sans Bold";
  font-size: 24px;
}

.m_friends_add_friends_opt {
  padding-left: 35px !important;
  font-size: 18px;
}

.date_options_pending {
  padding-top: 65px;
}

.date_reschedule_I_pending {
  cursor: pointer;
  width: 77%;
  border-radius: 5px;
  border: 2px solid #b2b2b2;
  color: #b2b2b2;
  padding: 8px 0px;
  text-align: center;
}

.dates_card_pending {
  // margin-top: 15px;
  margin-top: 15px;
  margin-left: 15px;
  position: relative;
  height: 400px;
  width: 250px;
  > div:nth-child(1) {
    width: inherit;
    height: 250px;
    > img {
      width: inherit;
      height: 250px;
      border-radius: 5px;
      object-fit: cover;
    }
  }
  > div:nth-child(2) {
    position: absolute;
    width: inherit;
    color: #484848;
    font-size: 14px;
    font-family: "Product Sans Bold";
    bottom: 105px;
  }
  > div:nth-child(3) {
    position: absolute;
    width: inherit;
    color: #e31b1b;
    font-size: 12px;
    font-family: "Product Sans";
    bottom: 90px;
  }

  // > div:nth-child(4) {
  //   > div:nth-child(1) {
  //     > div:nth-child(1) {
  //       // position: absolute;
  //       width: inherit;
  //       color: #b2b2b2;
  //       border: 2px solid #b2b2b2;
  //       font-size: 14px;
  //       border-radius: 5px;
  //       font-family: "Product Sans Bold";
  //       bottom: 0px;
  //       padding: 10px 0px;
  //       text-align: center;
  //       cursor: pointer;
  //     }
  //     > div:nth-child(2) {
  //       // position: absolute;
  //       width: inherit;
  //       color: #b2b2b2;
  //       border: 2px solid #b2b2b2;
  //       font-size: 14px;
  //       border-radius: 5px;
  //       font-family: "Product Sans Bold";
  //       bottom: 0px;
  //       padding: 10px 0px;
  //       text-align: center;
  //       cursor: pointer;
  //     }
  //     > div:nth-child(3) {
  //       // position: absolute;
  //       width: inherit;
  //       color: #b2b2b2;
  //       border: 2px solid #b2b2b2;
  //       font-size: 14px;
  //       border-radius: 5px;
  //       font-family: "Product Sans Bold";
  //       bottom: 0px;
  //       padding: 10px 0px;
  //       text-align: center;
  //       cursor: pointer;
  //     }
  //   }
  // }
  > div:nth-child(5) {
    position: absolute;
    color: white;
    font-size: 14px;
    left: 10px;
    font-family: "Product Sans Bold";
    bottom: 160px;
    cursor: pointer;
  }
  > div:nth-child(6) {
    position: absolute;
    color: white;
    font-size: 14px;
    left: 15px;
    font-family: "Product Sans Bold";
    top: 20px;
    background: black;
    opacity: 0.6;
    border-radius: 24px;
    padding: 7px 20px;
    cursor: pointer;
  }
}

.dates_card {
  // margin-top: 15px;
  margin-top: 15px;
  margin-left: 15px;
  position: relative;
  height: 350px;
  width: 250px;
  > div:nth-child(1) {
    width: inherit;
    height: 250px;
    > img {
      width: inherit;
      height: 250px;
      border-radius: 5px;
      object-fit: cover;
    }
  }
  > div:nth-child(2) {
    position: absolute;
    width: inherit;
    color: #484848;
    font-size: 14px;
    font-family: "Product Sans Bold";
    bottom: 75px;
  }
  > div:nth-child(3) {
    position: absolute;
    width: inherit;
    color: #e31b1b;
    font-size: 12px;
    font-family: "Product Sans";
    bottom: 58px;
  }

  // > div:nth-child(4) {
  //   > div:nth-child(1) {
  //     > div:nth-child(1) {
  //       // position: absolute;
  //       width: inherit;
  //       color: #b2b2b2;
  //       border: 2px solid #b2b2b2;
  //       font-size: 14px;
  //       border-radius: 5px;
  //       font-family: "Product Sans Bold";
  //       bottom: 0px;
  //       padding: 10px 0px;
  //       text-align: center;
  //       cursor: pointer;
  //     }
  //     > div:nth-child(2) {
  //       // position: absolute;
  //       width: inherit;
  //       color: #b2b2b2;
  //       border: 2px solid #b2b2b2;
  //       font-size: 14px;
  //       border-radius: 5px;
  //       font-family: "Product Sans Bold";
  //       bottom: 0px;
  //       padding: 10px 0px;
  //       text-align: center;
  //       cursor: pointer;
  //     }
  //     > div:nth-child(3) {
  //       // position: absolute;
  //       width: inherit;
  //       color: #b2b2b2;
  //       border: 2px solid #b2b2b2;
  //       font-size: 14px;
  //       border-radius: 5px;
  //       font-family: "Product Sans Bold";
  //       bottom: 0px;
  //       padding: 10px 0px;
  //       text-align: center;
  //       cursor: pointer;
  //     }
  //   }
  // }
  > div:nth-child(5) {
    position: absolute;
    color: white;
    font-size: 14px;
    left: 15px;
    font-family: "Product Sans Bold";
    bottom: 110px;
    cursor: pointer;
  }
  > div:nth-child(6) {
    position: absolute;
    color: white;
    font-size: 14px;
    left: 15px;
    font-family: "Product Sans Bold";
    top: 20px;
    background: black;
    opacity: 0.6;
    border-radius: 24px;
    padding: 7px 20px;
    cursor: pointer;
  }
}

.date_options {
  position: relative !important;
  width: 100%;
  padding-top: 45px;
}

.date_reschedule_I {
  cursor: pointer;
  width: 70%;

  border-radius: 5px;
  border: 2px solid #b2b2b2;
  color: #b2b2b2;
  padding: 8px 0px;
  text-align: center;
}
.date_reject_I {
  width: 20%;
  cursor: pointer !important;
  border-radius: 5px;
  border: 2px solid #e31b1b;
  padding: 8px 0px;
  text-align: center;
}

.dateConfirm {
  background: linear-gradient(to bottom right, #f80402 0, #a50f0d);
  border-radius: 5px;
  padding: 10px 0px;
  border: none;
  cursor: pointer;
  color: white;
  font-family: "Product Sans";
  text-align: center;
  font-size: 18px;
  margin-top: 40px;
  width: 100%;
}

.date_reschedule_non_init_pending {
  cursor: pointer;
  bottom: 5px;
  // position: absolute;
  width: 55%;
  border-radius: 5px;
  border: 2px solid #b2b2b2;
  color: #b2b2b2;
  padding: 8px 0px;
  text-align: center;
}

.date_accept_non_init_pending {
  cursor: pointer;
  bottom: 5px;
  // position: absolute;
  width: 20%;
  border-radius: 5px;
  border: 2px solid #64c39f;
  padding: 8px 0px;
  text-align: center;
}

.date_reject_init_pending {
  cursor: pointer;
  bottom: 5px;
  // position: absolute;
  width: 20%;
  border-radius: 5px;
  border: 2px solid #e31b1b;
  padding: 8px 0px;
  text-align: center;
}

.date_rescheduleV3 {
  cursor: pointer;
  bottom: 5px;
  // position: absolute;
  width: 38%;
  border-radius: 5px;
  border: 2px solid #b2b2b2;
  background: white !important;
  color: #b2b2b2;
  padding: 8px 0px;
  text-align: center;
  font-size: 12px !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.date_rescheduleV3-disabled {
  cursor: not-allowed;
  bottom: 5px;
  // position: absolute;
  width: 38%;
  border-radius: 5px;
  border: 2px solid #b2b2b2;
  background: #b2b2b2;
  color: white;
  padding: 8px 0px;
  text-align: center;
  font-size: 12px !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.date_reschedule {
  cursor: pointer;
  bottom: 5px;
  // position: absolute;
  width: 50%;
  border-radius: 5px;
  border: 2px solid #b2b2b2;
  color: #b2b2b2;
  padding: 8px 0px;
  text-align: center;
}
.date_accept {
  cursor: pointer;
  bottom: 5px;
  // position: absolute;
  width: 50%;
  border-radius: 5px;
  border: 2px solid #64c39f;
  padding: 8px 0px;
  text-align: center;
}
.date_reject {
  cursor: pointer;
  bottom: 5px;
  // position: absolute;
  width: 45%;
  border-radius: 5px;
  border: 2px solid #e31b1b;
  padding: 8px 0px;
  text-align: center;
}

.upcoming_date_reject {
  cursor: pointer;
  bottom: 5px;
  // position: absolute;
  width: 20%;
  // width: 45%;
  border-radius: 5px;
  border: 2px solid #e31b1b;
  padding: 8px 0px;
  text-align: center;
}

.modal_confirm_buttons {
  background: linear-gradient(to bottom right, #f80402 0, #a50f0d);
  color: white;
  border: none;
  text-align: center;
  padding: 10px 50px;
  border-radius: 5px;
  font-size: 18px;
  font-family: "Product Sans Bold";
  cursor: pointer;
}
