.m_refferal_header {
  font-size: 18px;
  text-align: center;
  color: #808080;
  font-family: "Circular Air Bold" !important;
}

.backArrow {
  font-size: 24px !important;
  color: #e31b1b !important;
}

.referYourFriends {
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  font-family: "Circular Air Bold" !important;
}

.getReward {
  font-size: 14px;
  font-family: "Circular Air Light" !important;
  color: #808080;
}

.copy {
  // padding: 30px 0;
  border: 1px solid #fff !important;
  border-radius: 8px;
  background: #000;
  padding: 10px 25px;
  width: 200px;
  > span:nth-child(1) {
    margin-bottom: 0px !important;
    color: #484848 !important;
    font-size: 14px;
    font-family: "Product Sans Bold";
  }
  > span:nth-child(2) {
    font-size: 14px;
    color: #e31b1b !important;
    font-family: "Circular Air Bold";
  }
}

.shareCode {
  padding-top: 5px;
  > span {
    font-size: 14px;
    color: white !important;

    background: linear-gradient(to bottom right, #f80402 0, #a50f0d);
    border-radius: 24px;
    padding: 10px 25px;
  }
}
