/* class created only for a better preview*/
.stage {
  position: absolute;
  opacity: 1;
  max-width: 600px;
  top: 46%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.stage.hidden {
  opacity: 0;
  transition: all 400ms ease;
}

@media screen and (max-width: 600px) {
  .stage {
    max-width: 100%;
  }
}

.card-content {
  position: relative;
  color: #fff;
  padding: 5px;
  cursor: pointer;
}

.card-image {
  width: 95vw;
  height: calc(100vh - 285px);
}

.MOtherUser_cardinfo {
  position: absolute;
  right: 20px;
  bottom: 2em;
  z-index: 9999;
  color: #000;
  background: #fff;
  padding: 10px 15px;
  border-radius: 50%;
}

.MOtherUser_cardchat {
  position: absolute;
  right: 4em;
  bottom: 2em;
  z-index: 9999;
  color: #000;
  padding: 10px;
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
}

.MOtherUser_cardname {
  position: absolute;
  bottom: 30px;
  color: #000;
  z-index: 9999;
  left: 1rem;
  font-weight: 600;
  background: white;
  border-radius: 3px;
  padding: 7px 15px;
  font-family: "Circular Air Bold" !important;
}

.card-image img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-height: 330px;
}

.popular-destinations-text {
  font-size: 16px;
  font-weight: 400;
  color: #8e9aa4;
  width: 100%;
  min-width: 110px;
}

.popular-destinations-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  width: 100%;
}

.circle img {
  border-radius: 50%;
}

/* global actions buttons*/
.global-actions {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: space-around;
  padding-top: 10px;
  min-width: 200px;
  /* bottom: 70px !important; */
  position: fixed;
  width: 100%;
  cursor: pointer;
}

.rev_global_actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: space-around;
  padding-top: 10px;
  min-width: 200px;
  position: fixed;
  width: 100%;
  cursor: pointer;
}

.revert-action {
  border: none;
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  box-shadow: 0 3px 4px 0px rgba(0, 0, 0, 0.5);
  width: 45px;
  height: 45px;
}

.top-action,
.right-action,
.left-action {
  border: none;
  cursor: pointer;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: #fff;
  -webkit-box-shadow: 0 3px 4px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 4px 0px rgba(0, 0, 0, 0.5);
}

.right-action,
.left-action {
  border: none;
  cursor: pointer;
  width: 60px;
  height: 60px;
}

.top-action {
  border: none;
  cursor: pointer;
  width: 45px;
  height: 45px;
}

.final-state.active {
  position: absolute;
  opacity: 1;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: all 400ms ease;
}

.final-state.hidden {
  opacity: 0;
}

/*------ CSS Use Case Example END ------*/

/*----- Stacked Cards component css START -----*/
body {
  overflow-x: hidden;
}

.no-transition {
  -webkit-transition: none !important;
  transition: none !important;
}

.stackedcards-overflow {
  overflow-y: hidden !important;
}

.stackedcards.init {
  opacity: 0;
}

.stackedcards {
  position: relative;
}

.stackedcards * {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.stackedcards--animatable {
  -webkit-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  transition: all 400ms ease;
}

.stackedcards .stackedcards-container > *,
.stackedcards-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  will-change: transform, opacity;
  top: 0;
  border-radius: 10px;
  min-width: 265px;
}

.stackedcards-overlay.left > div,
.stackedcards-overlay.right > div,
.stackedcards-overlay.top > div {
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.stackedcards-overlay.left,
.stackedcards-overlay.right,
.stackedcards-overlay.top {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  left: 0;
  opacity: 0;
  top: 0;
  height: 100%;
}

.stackedcards-overlay.top,
.stackedcards-overlay.right,
.stackedcards-overlay.left {
  background: #fff;
}

.stackedcards-overlay.left:empty,
.stackedcards-overlay.right:empty,
.stackedcards-overlay.top:empty {
  display: none !important;
}

.stackedcards-overlay-hidden {
  display: none;
}

.stackedcards-origin-bottom {
  -webkit-transform-origin: bottom;
  -ms-transform-origin: bottom;
  transform-origin: bottom;
}

.stackedcards-origin-top {
  -webkit-transform-origin: top;
  -ms-transform-origin: top;
  transform-origin: top;
}

.stackedcards-bottom,
.stackedcards-top,
.stackedcards-none {
  background: #fff;
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.3);
  height: 100%;
}

.stackedcards .stackedcards-container > :nth-child(1) {
  position: relative;
  display: block;
}

/*----- Stacked Cards component css END -----*/
