@import "../../../../Variable.scss";

._elite_modal {
  height: calc(100vh);
  overflow-y: auto;
  background: #161616;
  .exclusive_tour {
    padding-top: 30px;
    text-align: center;
    > img {
      width: 70%;
    }
  }
  > div:nth-child(3) {
    padding-top: 30px;
    color: #fff;
    text-align: center;
    font-family: "Circular Air Book";
    font-size: 18px;
  }
  > div:nth-child(4) {
    padding-top: 30px;
    text-align: center;
    > div {
      margin: auto;
      border-radius: 50%;
      background: #fff;
      height: 60px;
      width: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  > div:nth-child(5) {
    padding-top: 30px;
    > p {
      font-size: 18px;
      color: #fff;
      text-align: center;
      font-family: "Circular Air Book";
    }
  }
  > div:nth-child(6) {
    padding: 0px 15px;
    > div:nth-child(1) {
      font-size: 18px;
      color: #fff;
      font-family: "Circular Air Book";
    }
    > p {
      margin-bottom: 5px !important;
      > span {
        font-family: "Circular Air Book";
        color: #f1f1f1;
        margin-left: 10px;
      }
    }
    padding-bottom: 60px;
  }
  button {
    margin-top: 20px;
    width: 100%;
    background: #f80402;
    color: #fff;
    text-align: center;
    border-radius: 24px;
    border: none;
    padding: 10px;
    font-family: "Circular Air Book";
  }
}

.discover_profile_pic {
  display: flex;
  justify-content: flex-end;
  > img {
    object-fit: cover;
    border-radius: 50%;
  }
}

.global_coinbalance {
  display: flex;
  // float: right;
  justify-content: center;
  border: $border-goldcolor;
  border-radius: 24px;
  padding: 2px 6px !important;
  img {
    width: 18px;
    height: 18px;
    padding-top: 2px;
    padding-right: 2px;
  }
  p {
    font-size: 14px;
    padding-left: 2px;
    color: #fff;
    font-family: "Product Sans Bold";
    // position: relative;
    // right: 20px;
    // top: 2px;
  }
}

.d_searchPref_interesedDropdown {
  cursor: pointer !important;
  > div {
    cursor: pointer !important;
    > div {
      cursor: pointer !important;
      border-radius: 0px !important;
      font-size: 14px !important;
      font-family: "Product Sans" !important;
    }
  }
}
// header Style Module
.Msliderbg {
  > .MFilter_user {
    margin-left: 20px;
    position: relative;
    > div {
      > div {
        .input-range__track--active {
          background: #e31b1b;
          height: 1px !important;
        }
        > span {
          bottom: 15%;
          div {
            background: #fff;
            margin-top: -15px !important;
            border: 1px solid #e31b1b;
            width: 25px !important;
            border-radius: 50% !important;
            height: 25px !important;
          }
        }
        // > span:nth-child(2) {
        //   bottom: 15%;
        // }
      }
    }
  }
}

.lowRange {
  left: 3px;
  top: 47px;
  position: absolute;
  font-size: 13px;
}

.highRange {
  right: -22px;
  top: 5px;
  position: absolute;
  font-size: 13px;
}

.highRange_distance {
  right: -28px;
  top: 5px;
  position: absolute;
  font-size: 13px;
}

.lowRange_distance {
  left: -14px;
  top: 3px;
  position: absolute;
  font-size: 13px;
}

.lowRange_height {
  left: -18px !important;
  top: 3px;
  position: absolute;
  font-size: 13px;
}

.highRange_height {
  right: -28px;
  top: 4px;
  position: absolute;
  font-size: 13px;
}

.MuiSlider-track-52 {
  background-color: $text-darkpink !important;
}

.Mgenderselect {
  > div {
    margin: 0 !important;
    min-width: 0 !important;
    float: right;
    > div {
      margin-top: 0 !important;
      border: none;
      &::before {
        border-bottom: none !important;
      }
    }
  }
}

.Mprefer {
  i {
    position: fixed;
    right: 15px;
    bottom: 20px;
    color: $text-white;
    padding: 15px;
    border-radius: 50%;
    background: linear-gradient(to bottom right, #f80402 0, #a50f0d);
    cursor: pointer;
  }
}

.Mprefer-disabled {
  i {
    position: fixed;
    right: 15px;
    bottom: 20px;
    color: $text-white;
    padding: 15px;
    border-radius: 50%;
    background: #d1d1d1;
    cursor: pointer;
  }
}

// Swipe-Card Style Module
.MSwipycard {
  height: calc(100vh - 130px);
  > div {
    > div {
      > .card {
        border: none !important;
        .mainpeopelimg {
          border-radius: 8px;
          width: 100%;
          height: calc(100vh - 235px);
        }
      }
    }
    .swipe-buttons {
      position: relative;
      width: 100%;
      bottom: 0;
      margin: 15px 0;
      display: flex;
      justify-content: space-between;
      button {
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4),
        &:nth-child(5) {
          background-color: transparent !important;
          border-color: transparent !important;
          box-shadow: $boxshadow-belowside;
          width: 60px;
          height: 60px;
          padding: 0;
          border-radius: 30px;
          cursor: pointer;
        }
        &:active {
          border-color: transparent !important;
          background-color: transparent !important;
          box-shadow: $boxshadow-belowside;
        }
        &:focus {
          box-shadow: $boxshadow-belowside;
        }
      }
    }
  }
}

// Tabs Active Style Module
.MSwtich_people {
  box-shadow: none !important;
  > div {
    > div {
      > div {
        > div {
          > button {
            // color: #e31b1b !important;
          }
        }
        span {
          // background-color: #e31b1b !important;
        }
      }
    }
  }
}

// Scroll Module
.MNearpeople_Scroll {
  overflow: scroll;
  height: calc(100vh - 100px);
}

.MNearpeople_ScrollV2-row {
  overflow-y: scroll !important;
  // height: calc(100vh - 100px);
  height: calc(100vh - 170px) !important;
  display: flex !important;
  flex-wrap: wrap !important;
  flex-direction: row !important;
  // display: grid !important;
  // grid-gap: 15px 15px;
  // justify-content: flex-start;
  // grid-template-columns: 45% 45%;
  // grid-template-rows: 200px 200px;
}

.MNearpeople_ScrollV2-grid {
  overflow-y: scroll !important;
  // height: calc(100vh - 100px);
  height: calc(100vh - 170px) !important;
  // display: flex !important;
  // flex-wrap: wrap !important;
  // flex-direction: row !important;
  display: grid !important;
  grid-gap: 15px 15px;
  justify-content: flex-start;
  grid-template-columns: 45% 45%;
  grid-template-rows: 200px 200px;
}

.MNearpeople_ScrollV2-col {
  overflow-y: scroll !important;
  // height: calc(100vh - 100px);
  height: calc(100vh - 170px) !important;
  display: flex !important;
  flex-wrap: wrap !important;
  flex-direction: column !important;
  // display: grid !important;
  // grid-gap: 15px 15px;
  // justify-content: flex-start;
  // grid-template-columns: 45% 45%;
  // grid-template-rows: 200px 200px;
}

// NearBy People Card Module
.Mnearpeople_card {
  position: relative;
  width: 45vw !important;
  height: 200px;
  text-align: center;
  border: 1px solid #e5e5e5;
  background: #ffffff;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12) !important;
  color: rgba(0, 0, 0, 0.87);
  border-radius: 5px;
  > a {
    > .Muser_img {
      img {
        width: 175px;
        height: 160px;
        // border-radius: 50%;
        // border: 1px solid #d0d0d0;
        object-fit: cover;
      }
    }
    > .Wuser_name {
      p {
        position: absolute;
        top: 10px;
        left: 10px;
        font-size: 15px;
        font-family: "Circular Air Bold";
        text-shadow: #474747 0px 1px 1px;
        font-weight: 600;
        color: #fff;
      }
    }
    &:hover {
      text-decoration: none;
    }
  }
  > .Muser_action {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 10px 0;
    border-top: 1px solid #d1d1d1;
    i {
      font-size: 21px;
      // padding: 10px 5px;
      &:hover {
        animation: circle 1.5s ease-in forwards;
      }
    }
    i:nth-child(1) {
      color: #e31b1b;
    }
    i:nth-child(2) {
      color: #378c37;
    }
    i:nth-child(3) {
      color: #07a1e1;
    }
  }
}

// Home Page Tabs Switch Style Module
.Mmain_tabs {
  > div {
    border: 1px solid #c1c1c1;
    border-radius: 50px;
    .MSwitch_viewcontainer {
      > ul {
        list-style: none;
        padding-left: 0;
        margin: 0;
        > .MSwitch_view {
          display: inline-block;
          padding: 1px 15px;
          color: #c1c1c1;
        }
        > .activetab {
          background: linear-gradient(to bottom right, #f80402 0, #a50f0d);
          border-radius: 16px;
          color: #fff;
        }
      }
    }
  }
}

.m_timer {
  position: absolute;
  bottom: -10px;
  font-size: 12px;
  font-family: "Circular Air Book";
  background: #af71e4;
  color: white;
  padding: 3px;
  border-radius: 24px;
}
