// Global Variable Scss
@import "../../../../Variable.scss";

.addBlur {
  filter: blur(8px);
}

.upgrade-cards {
  border-radius: 16px;
  background: white;
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 50vw;
  > div {
    > img {
      width: 85%;
    }
  }
  > p {
    font-family: "Circular Air Book";
    font-size: 13px;
  }
}

.settings-options {
  border-radius: 8px;
  > div {
    padding: 15px 0px;
    color: #24347c;
    font-family: "Circular Air Book";
    border-bottom: 1px solid #bcbcbc;
  }
}

.m-report {
  width: 100%;
  > label {
    font-family: "Product Sans" !important;
    > span {
      // color: #e31b1b;
      font-family: "Product Sans" !important;
    }
  }
  > div {
    > input {
      font-family: "Product Sans" !important;
    }
  }
}

.m-report-textBox {
  width: 100%;
  > label {
    font-family: "Product Sans" !important;
  }
  > div {
    > div {
      > textarea {
        font-family: "Product Sans" !important;
      }
    }
  }
}

.closeButton {
  position: absolute;
  bottom: -25px;
  right: 20px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: linear-gradient(to bottom right, #f80402 0, #a50f0d);
  display: flex;
  justify-content: center;
}

.gold-ring {
  border: 1px solid #fe9923;
  border-radius: 24px;
  padding: 3px 10px;
  font-family: "Circular Air Bold";
  font-size: 14px;
  color: #d1d1d1;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  width: 70px;
  > img {
    margin-bottom: 3px;
  }
}

//--------- User-Profile Scss ---------//
.MUsersettings {
  .Mainsettings {
    padding-left: 30px;
    > span:nth-child(1) {
      font-size: 20px;
      color: #808080;
      font-family: "Circular Air Bold";
    }
    > span:nth-child(2) {
      color: #808080;
      font-family: "Circular Air Bold";
      font-size: 20px;
    }
    > div {
      > span:nth-child(1) {
        font-family: "Circular Air Book";
        color: #fff;
        background: #e31b1b;
        padding: 0px 5px;
        font-size: 11px;
      }
      > span:nth-child(2) {
        padding-left: 5px;
        font-family: "Circular Air Light";
        color: #e31b1b;
        font-size: 11px;
      }
    }
  }

  .MUserProfile {
    img {
      width: 65px;
      height: 60px;
      border-radius: 50%;
    }
  }
}

.MSwitch {
  label {
    margin-right: 0 !important;
  }
}

//--------- Model (POP-UP) Scss ---------//
.MModelbody {
  h4 {
    font-size: 15px;
    padding: 0;
    margin: 0;
  }
}

.MModelheader {
  h2 {
    text-align: center;
    font-size: 23px;
    font-weight: 600;
    padding-top: 20px;
  }
  p {
    text-align: center;
    font-size: 19px;
    font-weight: 600;
    margin: 0;
  }
}

.Modelplusbutton {
  display: flex;
  justify-content: center;
  margin-top: 37vh;
  button {
    padding: 6px 7rem;
    background-color: $background-darkpink !important;
    border-radius: 22px;
    color: $text-white;
    box-shadow: none;
  }
}

//--------- Share App Scss ---------//
.Mshareapp {
  > div {
    p {
      font-size: 16px;
      font-weight: 600;
      text-decoration: underline;
      color: $text-darkpink;
    }
  }
  .share_network {
    display: inline-block;
    margin: 15px 20px;
    cursor: pointer;
  }
}

//--------- Datum Upgrade to Plus Slider ---------//
.MDatumplusslider {
  background: $background-lightskin;
  color: $text-black;
  position: relative;
  border-bottom: $border-bottomcolorlightdark;
  .Mdatumplustext {
    p:nth-child(1) {
      font-size: 15px;
      font-weight: bold;
      padding-bottom: 5px;
    }
    p:nth-child(2) {
      font-size: 13px;
      font-weight: 400;
    }
  }
  .Mdatumplus {
    line-height: 85px;
    padding-left: 0;
    span {
      border: 1px solid;
      border-radius: 22px;
      padding: 3px 8px 3px 8px;
      font-size: 14px;
      &:after {
        content: ">";
        display: inline;
        padding-left: 5px;
        margin: 0 1px;
        position: relative;
        left: 1px;
        bottom: 1px;
      }
    }
  }
  img {
    padding-top: 10px;
  }
}

.m_settings_header {
  height: 56px !important;
  top: 0px !important;
  position: fixed !important;
}

.m_setting_view {
  margin-top: 56px !important;
}
