/* #form-div{
    display: flex;
    justify-content: center;
    flex-direction: column; */
/* } */
#card{
    width: 600px;
    margin: 80px auto;
    min-height: 500px;
}
form{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#divider{
    margin:20px
}

b{
    margin-left: 10px;
    text-align: left;
}
ol{
    list-style-type: none;
    text-align: left;
    color:red;
    font-weight: bold;
}
h3{
    margin-left: 10px;
    text-align: left;
}
/* ---------------------------copy room id----------- */
.tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }