#localVideo {
    height: 112px;
    right: 0;
    margin: 24px auto;
    display: inline-block;
    border-radius: 4px;
  }
  .video-wrapper {
    /* height: 100vh; */
    background: black;
    width: 100%;
  }
  .icon{
    padding: 12px;
    background: red;
    border-radius: 50px;
    margin: 5px;
    cursor: pointer;
    margin-left: 40px;
}

#icon-container{
    display: flex;
    margin:10px;
    justify-content: center;
}

.dialog-wrapper{
  height: 450px;
  width: 500px;
}

.call-wrapper{
  /* box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.48); */
  border-radius: 18px;
  /* position: absolute; */
  width: 100%;
  z-index: 9;
  background: #fff;
  left: 50%;
  /* transform: translateX(-50%); */
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.caller-info{
  color: #000;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.caller-info img{
  width: 200px;
}

.call-action{
  display: flex;
}

button.common {
  margin: 40px 30px;
}

.reject{
  padding: 10px 30px;
  border: none;
  background: red;
  color: #fff;
  font-size: 12px;
  border-radius: 4px;
  margin: 10px;
  animation: reject-pulse 1s infinite;
}

.accept{
  padding: 10px 30px;
  border: none;
  background: #0008ff;
  color: #fff;
  font-size: 12px;
  border-radius: 4px;
  margin: 10px;
  animation: accept-pulse 1s infinite;
}

.reject:hover, .accept:hover{
  cursor: pointer;
  transform: scale(1.1);
  transition: 0.4s;
}



@keyframes accept-pulse
{
     0% {
          box-shadow: 0 0 0 0px rgba(0, 8, 255, 0.15);
          /* transform: scale(1); */
          /* transform: translateX(-1px); */
     }
     100% {
          box-shadow: 0 0 0 8px rgba(0, 8, 255, 0.103);
          /* transform: scale(1.1); */
          /* transform: translateX(1px); */
     }
}

@keyframes reject-pulse
{
     0% {
          box-shadow: 0 0 0 0px rgba(255, 0, 0, 0.15);
          /* transform: scale(1); */
     }
     100% {
          box-shadow: 0 0 0 8px rgba(255, 0, 0, 0.15);
          /* transform: scale(1.1); */
     }
}