// Global Variable Scss
@import "../../../../Variable.scss";

.MFooter {
  position: fixed;
  bottom: 0px;
  left: 0px;
  height: 56px;
  z-index: 9;
  background: #161616;
  > div {
    > header {
      background: #161616 !important;
      > .Maininnertabs {
        min-height: auto !important;
        > div {
          > div {
            > div {
              button {
                min-height: auto !important;
                min-width: 20vw !important;
                margin-bottom: 5px;
                > span {
                  > span {
                    padding: 0 !important;
                    span {
                      font-family: "Circular Air Book";
                      font-size: 14px !important;
                      text-transform: initial !important;
                      position: relative;
                      top: 1px;
                    }
                  }
                }
                &:active {
                  outline: none !important;
                  color: $text-darkpink !important;
                  font-family: "Circular Air Bold" !important;
                }
                &:focus {
                  outline: none !important;
                  color: $text-darkpink !important;
                  font-family: "Circular Air Bold" !important;
                }
              }
            }
            span {
              // background-color: transparent !important;
              > i {
                font-size: 23px;
              }
            }
          }
        }
      }
    }
  }
}

.MuiTab-textColorPrimary-83.MuiTab-selected-85,
.MuiTab-textColorPrimary-73.MuiTab-selected-75,
.jss74.jss76,
.jss161.jss163,
.jss83.jss85,
.jss73.jss75,
.jss531.jss533 {
  color: $text-darkpink !important;
}

.slick-arrow.slick-prev,
slick-arrow.slick-next {
  display: none !important;
}

.m_prospects_no_thanks {
  font-weight: bold;
  font-family: "Circular Air Bold";
  text-transform: uppercase;
  color: grey;
  opacity: 0.5;
}

.popularPlan {
  border: 2px solid #e31b1b;
  padding: 10px 0;
  position: relative;
  width: 30%;
  border-radius: 5px;
  margin-top: 10px;
}

.notPopularPlan {
  border: 2px solid #c1c1c1;
  padding: 10px 0;
  position: relative;
  width: 30%;
  border-radius: 5px;
  margin-top: 10px;
}

.weeklyPlan {
  position: absolute;
  color: white;
  background: #e31b1b;
  top: -12px !important;
  padding: 3px 8px;
  border-radius: 12px;
  font-size: 13px;
  left: 36.5%;
  z-index: 999;
}

.m_premium_plan_row {
  position: relative;
  justify-content: space-evenly;
}

.weeklyPlan_hidden {
  display: none !important;
}

.m_tab_unreadCount {
  position: absolute;
  border-radius: 50px;
  width: 20px;
  color: white;
  top: 0px;
  right: 14px;
  font-size: 12px;
  background-color: #e31b1b !important;
}
