.friendsView {
  height: calc(100vh - 60px);
}

/** hidden search box starts */
.m_hidden_search_slider {
  -webkit-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
  width: 100%;
  > input {
    border: none !important;
    border-bottom: 1px solid #a4a7ab !important;
    width: 100%;
  }
  > input::placeholder {
    font-size: 14px;
    font-family: "Circular Air Book";
    color: #a4a7ab;
  }
}

/** hidden search box ends */

.addFriendWithInput {
  // height: 100%;
  position: relative;
}

.m_addFriend_scrollView {
  margin-top: 56px;
  width: 100%;
}

.m_addFriend_back_row {
  position: fixed !important;
  top: 0px !important;
  height: 56px !important;
}

.sentReq {
  font-size: 13px;
  font-family: "Circular Air Book";
  color: #a4a7ab;
  border: 2px solid #a4a7ab;
  border-radius: 5px;
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reqSent {
  font-size: 13px;
  font-family: "Circular Air Book";
  color: #e31b1b;
  border: 1px solid #e31b1b;
  border-radius: 5px;
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.friendNotFound {
  font-size: 13px;
  font-family: "Circular Air Book";
  color: red;
}

.sendRequestInfo {
  > div:nth-child(1) {
    > img {
      height: 60px;
      width: 60px;
      object-fit: cover;
      border-radius: 50%;
    }
  }
  > div:nth-child(2) {
    display: flex;
    align-items: center;
    font-size: 13px;
    font-family: "Circular Air Book";
    color: #808080;
  }
  > div:nth-child(3) {
    // height: 40px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Circular Air Book";
  }
}

.friends_header {
  font-family: "Circular Air Bold";
  text-align: center;
  font-size: 18px;
  color: #888888;
}

.header_row {
  justify-content: flex-end;
  padding-right: 15px;
  > div:nth-child(1) {
    padding-right: 15px;
  }
  > div:nth-child(2) {
    > img {
      object-fit: cover;
      border-radius: 50%;
    }
  }
}

.addFriendOptions {
  font-family: "Circular Air Book";
  color: #a1a1a1;
}

.friendsTab_picture {
  > img {
    object-fit: cover;
    border-radius: 50%;
  }
}

.friendsTabNoData-s {
  font-size: 12px;
  font-family: "Circular Air Book";
  color: gray;
}

.friendsTabNoData {
  font-size: 13px;
  font-family: "Circular Air Book";
  color: #a1a1a1;
}

.friendsTab_info {
  > div:nth-child(1) {
    font-size: 14px;
    font-family: "Circular Air Bold";
    color: #484848;
  }
  .m_findMateID {
    font-size: 12px !important;
    font-family: "Circular Air Book" !important;
    color: #484848;
  }
  > span:nth-child(3) {
    font-size: 12px;
    font-family: "Circular Air Book" !important;
    color: #a0a0a0;
  }
  > span:nth-child(2) {
    font-size: 12px;
    font-family: "Circular Air Book" !important;
    color: #a0a0a0;
  }
}

.addFriendInput {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  > span {
    > img {
      position: absolute;
      bottom: 14px;
      left: 25px;
    }
  }
  > input {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    font-family: "Circular Air Book";
    font-size: 16px;
    border: none;
    background: #f7f7f7;
    color: #495057;
    width: 100% !important;
  }
  > input::placeholder {
    color: #a4a7ab;
  }
}

.myId {
  // position: absolute;
  // left: 15px;
  // bottom: 20px;
  width: 100%;
  bottom: 0px !important;
  height: 60px !important;
  position: fixed !important;
  > span:nth-child(1) {
    font-size: 12px;
    font-family: "Circular Air Book";
    color: #a0a0a0;
  }
  > span:nth-child(2) {
    font-size: 12px;
    font-family: "Circular Air Book";
    color: #e31b1b;
  }
}

.label-common2 {
  font-size: 22px;
  font-family: "Circular Air Bold";
  color: #e31b1b;
}

.label-common1 {
  font-size: 22px;
  font-family: "Circular Air Bold";
  color: #484848;
}

.friendsTab {
  margin-top: 59px !important;
  > div {
    > header {
      background: #161616;
      > div {
        > div {
          > div {
            > div {
              justify-content: space-evenly;
              button {
                width: 49%;
                > span {
                  > span {
                    > span {
                      font-family: "Circular Air Book" !important;
                      text-transform: capitalize !important;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    > div {
      background: #161616;
      height: calc(100vh - 160px);
      padding: 0px !important;
      overflow-y: auto;
    }
  }
}

.m_searchBtn {
  color: white;
  padding: 8px 20px;
  border: none;
  border-radius: 5px;
  background: linear-gradient(to bottom right, #f80402 0, #a50f0d);
}

.m_searchBtn-disabled {
  color: white;
  padding: 8px 20px;
  border: none;
  border-radius: 5px;
  background: #d1d1d1;
}

.m_f_acceptRejectReq {
  > button:nth-child(1) {
    color: white;
    padding: 8px;
    border: none;
    border-radius: 5px;
    background: linear-gradient(to bottom right, #f80402 0, #a50f0d);
  }
  > button:nth-child(2) {
    color: #e31b1b;
    padding: 8px;
    background: none;
    border-radius: 5px;
    border: 1px solid #e31b1b;
  }
}

.m_all_request_row {
  > div:nth-child(1) {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
  }
  > div:nth-child(2) {
    width: calc(100vw - 240px);
  }
  > div:nth-child(3) {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 150px;
  }
}

.m_addFriendWOptions {
  position: relative;
}

.m_addFriendScreen {
  margin-top: 56px !important;
  width: 100%;
}

.m_addFriendWOptionsHeader {
  height: 56px !important;
  position: fixed !important;
  top: 0px !important;
}

.m_friends_screen_header {
  top: 0px !important;
  height: 59px !important;
  position: fixed !important;
}
