// Drawer-left Open Scss
.Drawerposition {
  position: static !important;
  > div {
    width: 374px;
    position: absolute;
    top: 70px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1280px) {
  .Drawerposition {
    > div {
      width: 323px;
    }
  }
}
