// UserCard Swipe Style Module
.WDisMaster {
  background-color: #f6f6f6;
  // overflow-y: scroll;
  max-width: 100%;
  > .WDisuser {
    // border-bottom: 1px solid #000;
    height: 100px;
  }
  .WSwipebtn {
    position: absolute;
    top: 0;
    > button {
      &:nth-child(1) {
        background-color: transparent !important;
        border: 2px solid red !important;
        width: 70px;
        height: 70px;
        padding: 0;
        border-radius: 50px;
        cursor: pointer;
        margin-right: 10px;
        &:active {
          border-color: transparent !important;
          border: 2px solid red !important;
        }
      }

      &:nth-child(2) {
        background-color: transparent !important;
        border: 2px solid blue !important;
        width: 70px;
        height: 70px;
        padding: 0;
        border-radius: 50px;
        cursor: pointer;
        &:active {
          border-color: transparent !important;
          border: 2px solid blue !important;
        }
      }
    }
  }
  .WChooseuser {
    position: relative;
    left: 11rem;
    bottom: 60px;
  }
}

// User Image as a Card Style
.WUserCardimg {
  border: none !important;
  background-color: transparent !important;
  img {
    height: 50vh;
    margin-top: 7rem;
  }
}

.about {
  color: #9d9d9d;
}

.about_info {
  color: #9d9d9d;
  font-size: 14px;
}

.heading {
  color: #474747;
  font-size: 28px !important;
  font-weight: bold;
}

.about_heading {
  font-size: 22px !important;
  color: #474747;
}

.userInfoContainer {
  position: relative;
  margin: 30px auto 0px auto;
  width: 96%;
  background: #ffffff 0% 0% no-repeat padding-box;

  // box-shadow: 0px 0px 6px #0000000d;
  -webkit-box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
}

.Discover_container {
  height: calc(100vh - 30px);
  // margin-top: 30px;
}

.UserImage {
  object-fit: cover;
  width: 100%;
  height: 500px;
  border-radius: 4px;
}

@media (min-width: 950px) and (max-width: 1050px) {
  .UserImage {
    height: 450px;
  }
}

@media (min-width: 879px) and (max-width: 949px) {
  .UserImage {
    height: 400px;
  }
}

@media (min-width: 879px) and (max-width: 949px) {
  .UserImage {
    height: 400px;
  }
}

@media (min-width: 879px) and (max-width: 8000px) {
  .button-actions {
    padding: 0px 24px;
  }
}

@media (min-width: 800px) and (max-width: 878px) {
  .UserImage {
    height: 370px;
  }
  .button-actions {
    padding: 0px 0px;
  }
}

@media (min-width: 700px) and (max-width: 799px) {
  .UserImage {
    height: 350px;
  }
  .button-actions {
    padding: 0px 0px;
  }
}

@media (min-width: 851px) and (max-width: 8000px) {
  .discoverPage_details {
    font-family: "Product Sans" !important;
    padding-left: 30px !important;
  }
}

@media (min-width: 768px) and (max-width: 850px) {
  .discoverPage_details {
    font-family: "Product Sans" !important;
    padding-left: 24px !important;
  }
}

// Navbar Style
.WMeetnew {
  background: #2b65f8;
  width: 100%;
  height: 100%;
  min-height: 60px;
}

.WBoost {
  border: 1px solid transparent;
  margin-top: 10px;
  background: #1a50d9;
  border-radius: 22px;
  padding: 5px 0;
  cursor: pointer;
  > a {
    > i {
      color: #fff;
      span {
        color: #fff;
        padding-left: 15px;
        font-weight: 500;
      }
    }
  }
}

// NearBy People Card Module
.wnearpeople_card {
  width: 100%;
  height: 255px;
  text-align: center;
  border: 1px solid #e5e5e5;
  // border: 1px solid #dedede;
  background: #ffffff;
  // background: #e5e5e5;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12) !important;
  color: rgba(0, 0, 0, 0.87);
  border-radius: 5px;
  > .Wuser_img {
    img {
      width: 160px;
      height: 150px;
      border-radius: 50%;
      border: 1px solid #d0d0d0;
      object-fit: cover;
    }
  }
  > .Wuser_name {
    p {
      font-size: 15px;
      font-weight: 600;
      color: #e31b1b;
    }
  }
  > .Wuser_action {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 10px 0;
    border-top: 1px solid #d1d1d1;
    cursor: pointer;
    i {
      font-size: 21px;
      // padding: 10px 5px;
      &:hover {
        -webkit-animation: circle 1.5s ease-in forwards;
      }
    }
    i:nth-child(1) {
      color: #e31b1b;
    }
    i:nth-child(2) {
      color: #378c37;
    }
    i:nth-child(3) {
      color: #07a1e1;
    }
  }
}

// Main Model for buy Coins Style Module
.WCharge_coins {
  padding-bottom: 15px;
  > i {
    font-size: 45px;
    color: #e31b1b;
  }
}

.Wcharge_wallet {
  padding-top: 10px;
  > button {
    border: 1px solid transparent;
    background: linear-gradient(to bottom right, #f80402 0, #a50f0d) !important;
    border-radius: 22px;
    padding: 5px 25px;
    color: #fff;
    font-weight: 700;
    margin: 0;
    cursor: pointer;
    a {
      color: #ffffff !important;
      &:hover {
        text-decoration: none !important;
      }
    }
  }
}

.card-imagepeople {
  object-fit: cover;
  width: 30vw;
  height: 65vh;
}

.timer {
  background-color: #b45deb;
  width: 70px;
  border-radius: 20px;
  color: white;
  font-weight: bold;
}

.label {
  color: #aeaeae !important;
  font-size: 16px;
}

.onlineStatusOfUser {
  padding-top: 11px;
}

.date_confirm {
  background: linear-gradient(to bottom right, #f80402 0, #a50f0d);
  border-radius: 5px;
  padding: 10px 0px;
  border: none;
  cursor: pointer;
  color: white;
  font-family: "Product Sans";
  text-align: center;
  font-size: 18px;
  margin-top: 40px;
}

.d_physical_date_img {
  height: 70px;
  width: 70px;
  object-fit: cover;
  border-radius: 50%;
}

// box-shadow: 0px 3px 6px #00000029;
// border-radius: 50%;
// padding: 5px;
// height: 60px;
// width: 60px;
// > img {
//   height: 50px;
//   width: 50px;
//   border-radius: 50%;
// }

.d_physical_couples_img {
  height: 85px;
  position: relative !important;
  > div:nth-child(1) {
    position: absolute;
    left: 48%;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 50%;
    padding: 5px;
    height: 80px;
    width: 80px;
  }
  > div:nth-child(2) {
    position: absolute;
    right: 48%;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 50%;
    padding: 5px;
    height: 80px;
    width: 80px;
  }
}
