.d_newsFeed_container {
  height: calc(100vh - 30px);
  background: white;
  position: relative;
}

.d_newsFeed_header {
  font-size: 24px !important;
  color: #484848 !important;
  font-family: "Product Sans Bold" !important;
  display: flex;
  align-items: center;
}

.d_newsFeed_scrollable_area {
  height: calc(100vh - 215px);
  overflow-y: auto;
}

.d_newsFeed_custom_modal {
  position: absolute;
  z-index: 1999;
  background: teal;
  width: 600px;
  height: 480px;
  top: 50%;
  left: 50%;
  border-radius: 5px;
  transform: translate(-60%, -50%);
  transition: opacity 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.postClicks {
  cursor: pointer;
}

.d_newsFeed_post_btn {
  background: linear-gradient(to bottom right, #f80402 0, #a50f0d);
  color: white;
  cursor: pointer !important;
  border: none;
  width: 100%;
  font-size: 14px;
  padding: 10px 15px;
  text-align: center;
  border-radius: 5px;
}

.d_newsFeed_modal_header {
  color: #e31b1b;
  font-family: "Product Sans Bold";
}

.d_newsFeed_modal_upload_image_btn {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  > label:nth-child(1) {
    cursor: pointer !important;
    margin-bottom: 10px;
    padding: 6px 20px;
    background-color: #c8cfe0;
    color: #484848;
    font-size: 18px;
    font-family: "Product Sans Bold";
    border-radius: 20px;
    text-align: center;
  }
}

.d_newsFeed_modal_upload_image_btn_disabled {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  > label:nth-child(1) {
    cursor: not-allowed !important;
    margin-bottom: 10px;
    padding: 6px 20px;
    background-color: #c8cfe0;
    color: #484848;
    font-size: 18px;
    font-family: "Product Sans Bold";
    border-radius: 20px;
    text-align: center;
  }
}

.d_newsFeed_modal_user_image {
  margin-bottom: 50px;
  > img {
    object-fit: cover;
    border-radius: 50%;
    height: 60px;
    width: 60px;
  }
}

.d_newsFeed_modal_post_btn {
  cursor: pointer;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center;
  padding: 10px 0px;
  color: white;
  font-size: 18px;
  border-radius: 5px;
  border: none;
  background: linear-gradient(to bottom right, #f80402 0, #a50f0d);
}

.likesModal {
  height: 500px;
  > div:nth-child(3) {
    padding-top: 10px;
    height: calc(500px - 94px);
    overflow-y: auto;
  }
}

.okButton {
  cursor: pointer;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center;
  padding: 10px 0px;
  width: 100px;
  color: white;
  font-size: 18px;
  border-radius: 5px;
  border: none;
  background: linear-gradient(to bottom right, #f80402 0, #a50f0d);
}

.d_newsFeed_modal_post_btn_disabled {
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center;
  padding: 10px 0px;
  color: white;
  font-size: 18px;
  border-radius: 5px;
  border: none;
  background: #989898;
}

.d_newsFeed_post_user_image {
  > img {
    object-fit: cover;
    height: 60px;
    width: 60px;
    border-radius: 50%;
  }
}

.d_newsFeed_post_info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 15px;
  > div:nth-child(1) {
    color: #474747;
    font-size: 20px;
    font-family: "Product Sans Bold";
  }
  > div:nth-child(2) {
    font-size: 13px;
    color: #474747;
    opacity: 0.5;
    font-family: "Product Sans";
  }
}

.d_newsFeed_post_image {
  > img {
    width: 100%;
    height: 500px;
    object-fit: contain;
  }
}

.d_newsFeed_comment_btn {
  margin-top: 4px !important;
}

.d_newsFeed_video {
  width: 100% !important;
  height: 500px !important;
}

.d_newsFeed_uploading_loader {
  position: absolute;
  right: 15px;
  top: 20px;
  > span:nth-child(1) {
    padding-right: 10px;
  }
}

.d_newsFeed_modal {
  position: relative;
}

.d_newsFeed_modal_preview_image {
  height: 150px !important;
  width: 150px !important;
  position: relative;

  > div {
    background: #fff;
    box-shadow: 0px 1px 4px #000029;
    height: 30px;
    width: 30px;
    border-radius: 50px;
    position: absolute;
    top: -14px;
    right: -14px;
    > img:nth-child(1) {
      margin-left: 8px;
      margin-top: 3px;
    }
  }
  > img {
    object-fit: cover !important;
  }
}

.d_newsFeed_modal_preview_image_box::before {
  transition: 0.3s;
}

.d_newsFeed_modal_preview_image_box::after {
  transition: 0.3s;
}

.d_newsFeed_modal_close_btn_2 {
  background: #fff;
  cursor: pointer;
  box-shadow: 0px 1px 4px #000029;
  height: 34px;
  width: 34px;
  border-radius: 50px;
  position: absolute;
  top: -14px;
  right: -14px;
  z-index: 2000;
  > img {
    margin-left: 11px;
    margin-top: 7px;
  }
}

.d_newsFeed_modal_close_btn {
  background: #fff;
  cursor: pointer;
  box-shadow: 0px 1px 4px #000029;
  height: 34px;
  width: 34px;
  border-radius: 50px;
  position: absolute;
  top: -14px;
  right: -14px;
  > img {
    margin-left: 11px;
    margin-top: 7px;
  }
}

.d_newsfeed_modal_closeBtn {
  background: #fff;
  box-shadow: 0px 1px 4px #000029;
  height: 34px;
  width: 34px;
  border-radius: 50px;
  position: absolute;
  top: -14px;
  right: -14px;
  > img {
    cursor: pointer !important;
    // margin-left: 11px;
    margin-top: 7px;
  }
}

.d_comment_modal_close_btn {
  cursor: pointer !important;
  background: #fff;
  box-shadow: 0px 1px 4px #000029;
  height: 34px;
  width: 34px;
  border-radius: 50px;
  position: absolute;
  top: -14px;
  right: -14px;
  > img {
    // cursor: pointer !important;
    margin-left: 11px;
    margin-top: 7px;
  }
}

.progressBar {
  z-index: 9999;
  position: absolute;
  left: 42%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.loader {
  position: absolute;
  z-index: 999;
  left: 45%;
  top: 35%;
}

.submitComment {
  padding: 7px 0px !important;
  border-top: 1px solid #d9d9d9;
  // position: absolute !important;
  height: 64px;
  // bottom: 0px;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  > div:nth-child(1) {
    padding: 0px 15px;
    > img {
      width: 50px;
      height: 50px;
      object-fit: cover;
      border-radius: 50%;
    }
  }
  > form {
    width: calc(100% - 160px);
    border: none !important;
    > label {
      width: 100%;
      margin-bottom: 0px !important;
      > input {
        width: 100%;
        border: none !important;
      }
      > input::placeholder {
        width: 100%;
        color: #474747;
        opacity: 0.5;
      }
    }
  }
  > div:nth-child(3) {
    padding: 0px 15px;
    > img {
      cursor: pointer;
      width: 50px;
      height: 50px;
    }
  }
}

.likes_n_comments {
  display: flex;
  flex-direction: row;
  align-items: center;
  > span {
    cursor: pointer;
    margin-right: 10px;
  }

  padding-top: 10px;
  font-family: "Product Sans Bold";
  font-size: 18px;
  color: #414141;
}

.post_image {
  > img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-right: 10px;
  }
}

.comment_post_date {
  font-size: 13px;
  color: #474747;
}

.commentsModal {
  height: 600px !important;
  position: relative;
  > div:nth-child(2) {
    > div {
      > img {
        height: 600px !important;
        object-fit: cover;
      }
    }
  }
}

.d_newsFeed_no_posts {
  color: #474747;
  font-family: "Product Sans Bold";
  font-size: 24px;
}

.comments {
  > div:nth-child(2) {
    > div:nth-child(1) {
      color: #474747;
      font-family: "Product Sans Bold";
      font-size: 18px;
    }
    > div:nth-child(2) {
      color: #474747;
      font-family: "Product Sans";
      font-size: 18px;
    }
    > div:nth-child(3) {
      color: #414141;
      opacity: 0.5;
      font-family: "Product Sans";
      font-size: 12px;
    }
  }
}

.d_post_comment_image_section {
  position: relative;
  > span.left {
    z-index: 999;
    cursor: pointer;
    position: absolute;
    font-size: 40px;
    top: 45%;
    left: 5%;
    > i {
      color: #e31b1b;
    }
  }
  > img {
  }
  > span.right {
    z-index: 999;
    cursor: pointer;
    right: 5%;
    top: 45%;
    position: absolute;
    font-size: 40px;
    > i {
      color: #e31b1b;
    }
  }
}

.d_post_comment_section {
  position: relative;
  width: 100%;
  height: 600px !important;
  > div:nth-child(1) {
    height: 120px !important;
    > div:nth-child(1) {
      font-size: 16px;
    }
    > div:nth-child(2) {
      font-size: 16px;
    }
  }
  > div:nth-child(2) {
    width: 100%;
    height: calc(600px - 184px) !important;
    overflow-y: auto !important;
    > div {
      > div {
        > div {
          img {
            object-fit: cover;
          }
        }
      }
    }
  }
  > div:nth-child(3) {
    height: 64px !important;
  }
}
