// Navbar Style Module
.WNavbar {
  position: fixed;
  width: 100%;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.35);
  > i {
    color: #fff;
    position: absolute;
    left: 25px;
    top: 35px;
    font-size: 27px;
    cursor: pointer;
  }
}

// Main bg Style Module
.WMbanner {
  height: 100vh;
  background-position: center 0;
  background-size: cover;
  background-image: url("../../../asset/images/Mainbg.jpg");
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
  > .WMainbg_title {
    padding-bottom: 9rem;
    h1 {
      text-align: center;
      font-size: 50px;
      font-weight: 100;
      letter-spacing: -1px;
      text-shadow: 0 2px 20px rgba(0, 0, 0, 0.4);
    }
  }
  > .Wdownload_app {
    img {
      width: 190px;
      margin: 0 10px;
      cursor: pointer;
    }
  }
}

// SidePanel Style Module
.WSidepanel {
  overflow: hidden;
  width: 300px;
  height: 100vh;
  background-color: #373635;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0.04em;
  transition: transform 0.2s;
  > div {
    > ul {
      margin-top: 20px;
      padding-left: 0;
      list-style-type: none;
      li {
        > a {
          p {
            padding: 1.05em 30px;
            color: #fff;
            text-transform: uppercase;
            margin: 0;
          }
        }
      }
    }
    > .WMenu_languages {
      padding: 1.05em 30px;
      label {
        padding: 0;
        font-size: 0.8em;
        color: hsla(0, 0%, 100%, 0.6);
      }
    }
    > .Wdownload {
      padding: 0 30px;
      > li {
        text-align: left;
        cursor: pointer;
        img {
          width: 130px;
        }
      }
    }
  }
}

// Main Body Module
.WMain_body {
  padding: 110px 0 60px 0;
  > div {
    > div {
      > div:nth-child(1) {
        > .Whome_step1 {
          > h5 {
            font-size: 34px;
            color: #e31b1b;
            letter-spacing: -1px;
            font-weight: 300;
            line-height: 1.3;
          }
        }
        > .Whome_stepcmn {
          margin: 100px 0;
          > h5 {
            font-size: 34px;
            color: #e31b1b;
            letter-spacing: -1px;
            font-weight: 300;
            line-height: 1.3;
          }
        }
      }
    }
  }
}

// Commitment Style Module
.WCommits {
  background: #f5f5f5;
  > div {
    > div:nth-child(1) {
      padding: 15px 0;
      > h5 {
        color: #e31b1b;
        text-align: center;
        font-size: 33px;
        font-weight: 300;
      }
    }
  }
}

.WCommits_type {
  padding-top: 50px;
  > div {
    text-align: center;
    img {
      width: 200px;
    }
  }
}

// Footer Style Module
.Wfooter_new {
  background-position: 0 0;
  background-size: cover;
  background-image: url("../../../asset/images/Footerbg.png");
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
  > .Wfooter_title {
    font-size: 33px;
    letter-spacing: -1px;
    font-weight: 300;
    line-height: 1.3;
    font-style: italic;
    margin-bottom: 20px;
    text-align: center;
    max-width: 768px;
    color: #fff;
  }
  > .WFooter_App {
    padding: 35px 0;
    img {
      width: 160px;
      padding: 0 5px;
    }
  }
}

// Footer Menu Style Module
.Wfooter_menu {
  > div {
    > ul {
      list-style: none;
      margin: 0;
      > li {
        display: inline-block;
        min-width: 120px;
        > a {
          color: #888;
          font-size: 13px;
          &:hover {
            text-decoration: none;
            color: #000;
          }
          p {
            margin: 0;
          }
        }
      }
    }
  }
}
