// Main Image Upload Style Module

.modal_smallText {
  font-size: 14px !important;
  color: #585a60 !important;
  font-family: "Product Sans" !important;
}

// .camera-module {
// width: 100% !important;
// > div:nth-child(1) {
// width: inherit !important;
// #white-flash {
// width: inherit !important;
// }
// > video {
// width: inherit !important;
// }
// }
// }

.camera-module div:nth-child(1) {
  height: inherit;
  width: inherit;
}

#container-circles {
  bottom: 150px !important;
}

.camera-module div video {
  height: inherit;
  width: inherit;
}

.camera-module div img {
  display: none !important;
}

.Wuser_profile {
  > .Wuserimg_preview {
    display: inline-block;
    img {
      object-fit: cover;
      width: 220px;
      height: 220px;
      border-radius: 10px;
    }
  }
  > form {
    height: 210px;
    border-radius: 8px;
    box-shadow: 0 6px 9px 0 rgba(115, 101, 97, 0.3);
    transform: rotate(5deg);
    cursor: pointer;
    > div {
      height: 205px;
      border-radius: 8px;
      box-shadow: 0 6px 9px 0 rgba(115, 101, 97, 0.3);
      cursor: pointer;
      transform: rotate(-5deg);
      > label {
        width: 180px;
        height: 190px;
        cursor: pointer;
        > div {
          position: relative;
          top: 3em;
          > i {
            border: 3px solid #ccc;
            padding: 12px;
            border-radius: 50%;
            color: #ccc;
          }
          p {
            color: #a9a9a9;
            font-weight: 500;
            padding-top: 10px;
          }
        }
      }
    }
  }
}

// Change Uploaded Photo Style Module
.Wchange_photo {
  position: absolute;
  top: 15.1em;
  // left: 8em;
  color: #f80402;
  font-weight: 100;
  font-family: "Product Sans" !important;
  font-size: 17px;
  cursor: pointer;
}

// Video Style Module
.Wuser_video {
  > div {
    width: auto !important;
    height: auto !important;
    video {
      width: 335px !important;
    }
  }
}
