// Global Scss File
@import "../../../../../Variable.scss";

.MInputgender {
  label {
    width: 40%;
    input {
      width: 25%;
      position: relative;
      top: 3px;
      background-color: red;
    }
  }
}
