// Coin Balance Style Module
.coin_modulepage {
  > div {
    > .coin_media {
      > i {
        color: #fbc937;
        font-size: 45px;
      }
    }
    > .coin_data {
      p {
        font-size: 20px;
        padding-top: 10px;
        font-weight: bold;
      }
    }
    > .coin_amount {
      font-size: 19px;
      padding-top: 5px;
      font-weight: bold;
      color: #e31b1b;
    }
    > .coin_buy {
      button {
        background: linear-gradient(to bottom right, #f80402 0, #a50f0d);
        font-size: 14px;
        border-radius: 8px;
        padding: 10px 25px;
        color: #fff;
        font-weight: 600;
        margin-top: 10px;
        border: none;
      }
    }
  }
}

.newCoinCard {
  border-radius: 12px;
  margin: auto;
  text-align: center;
  cursor: pointer;
  background-color: #f1f1f1;
  > div:nth-child(1) {
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    padding: 6px 0;
    color: white;
    font-family: "Product Sans Bold";
    font-size: 18px;
    text-align: center;
  }
  > div:nth-child(2) {
    font-family: "Product Sans Bold";
    font-size: 24px;
    color: #474747;
    text-align: center;
    padding: 6px;
    margin-top: 10px;
  }
  > div:nth-child(3) {
    font-family: "Product Sans Bold";
    font-size: 18px;
    text-align: center;
    padding: 6px;
    width: 8vw;
    margin: auto;
    margin-top: 10px;
  }
  > div:nth-child(4) {
    font-family: "Product Sans";
    font-size: 14px;
    text-align: center;
    padding: 6px 0;
  }
  > button {
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    border: none;
    padding: 5px 20px;
  }
  > div:nth-child(5) {
    font-family: "Product Sans Bold";
    font-size: 18px;
    text-align: center;
    padding: 5px 0;
  }
}

.green-circle {
  // background: green;
  // border-radius: 50%;
  // height: 12px;
  // width: 12px;
  // display: block;
  // margin-right: 5px;
}

.placeholder__text {
  text-align: center;
  // display: flex;
  // align-items: center;
  font-family: "Product Sans";
  font-size: 14px;
}

.credits-info {
  width: 93%;
  margin-top: 30px;
  border: 2px solid rgb(227, 48, 34);
  border-radius: 8px;
}

@media only screen and (min-width: 1400px) and (max-width: 4096px) {
  .newCoinCard {
    width: 15vw;
  }
}

@media only screen and (min-width: 991px) and (max-width: 1399px) {
  .newCoinCard {
    width: 18vw;
    div:nth-child(2) {
      width: 100%;
    }
  }
}

@media only screen and (min-width: 576px) and (max-width: 990px) {
  .newCoinCard {
    width: 24vw;
    div:nth-child(2) {
      width: 100%;
    }
  }
}

.d_select_payment_method {
  color: red;
  font-family: "Product Sans";
}

.d_buyCoins_header {
  color: #474747;
  font-family: "Product Sans Bold";
}

.cmn_container {
  height: 100vh;
  background: #f0f0f0;
}

.d_coinBalance_buyCoins_btn {
  border: none;
  background: linear-gradient(to bottom right, #f80402 0, #a50f0d);
  color: white;
  font-size: 16px;
  font-family: "Product Sans Bold";
  text-align: center;
  width: 200px;
  border-radius: 5px;
  padding: 10px;
  // float: right;
  // margin-top: 30px;
  cursor: pointer;
  margin-right: 40px;
}

.d_coinBalance_buyCoins_btn_disabled {
  border: none;
  background: #d1d1d1;
  color: white;
  font-size: 16px;
  text-align: center;
  width: 200px;
  border-radius: 5px;
  padding: 10px;
  // float: right;
  font-family: "Product Sans Bold";
  // margin-top: 30px;
  cursor: not-allowed;
  margin-right: 40px;
}

.d_coinBalance_selectedPlan {
  border: 1px solid #e31b1b;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 150px;
  cursor: pointer;
}

.d_coinBalance_unSelectedPlan {
  border: 1px solid #ddd;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 150px;
  cursor: pointer;
}

.d_coinBalance_payment_successfull {
  color: #474747;
  font-family: "Product Sans Bold";
  font-size: 22px;
}

.d_coinBalance_payment_continue {
  border: none;
  background: linear-gradient(to bottom right, #f80402 0, #a50f0d);
  color: white;
  font-size: 16px;
  text-align: center;
  border-radius: 5px;
  padding: 10px 0px;
}

.d_makePayment {
  border: none;
  background: linear-gradient(to bottom right, #f80402 0, #a50f0d);
  color: white;
  font-size: 16px;
  text-align: center;
  border-radius: 5px;
  width: 100%;
  padding: 10px 0;
  cursor: pointer;
  font-family: "Circular Air Book";
}

.d_makePayment_disabled {
  border: none;
  background: #c1c1c1;
  color: white;
  font-size: 16px;
  text-align: center;
  border-radius: 5px;
  width: 100%;
  padding: 10px 0;
  cursor: pointer;
  font-family: "Circular Air Book";
}

.card-payment-section {
  width: 350px;
}

.card-fill-cell {
  width: 350px;
  display: flex;
  > div {
    width: 80px;
  }
  > input {
    padding: 6px;
    width: calc(350px - 80px);
    border-radius: 5px;
    // border: 1px solid #c1c1c1;
    background: #161616;
    color: #d1d1d1;
  }
  > input::placeholder {
    opacity: 0.3;
    font-family: "Circular Air Book";
    width: calc(350px - 80px);
    background: #161616;
    color: #d1d1d1;
    opacity: 0.3;
  }
  margin-bottom: 10px;
}

.recent_transactions {
  color: #e31b1b;
  font-family: "Product Sans";
  border: 2px solid #e31b1b;
  padding: 8px 20px;
  background: white;
  border-radius: 5px;
}

.credit-card-fill-text {
  background: #161616;
  color: #d1d1d1;
  font-family: "Circular Air Book";
}
