.m_walletSpentCard {
  background: white;
  background: #161616;
  font-family: "Circular Air Book";
  margin-bottom: 10px;
}

.m_wallet_trigger {
  font-family: "Circular Air Book";
  color: #d1d1d1;
}

.m_wallet_coins {
  font-family: "Circular Air Bold";
  color: #e31b1b;
}

.m_wallet_info {
  > div {
    padding: 0px !important;
    background-color: #ececed !important;
    // opacity: 0.3;
  }
}
