// User Card Style Module
.WUsercard {
  width: 235px;
  position: relative;
  height: 260px !important;
  text-align: center;
  // border: 1px solid #e5e5e5;
  background: #ffffff;
  // box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12) !important;
  color: rgba(0, 0, 0, 0.87);
  border-radius: 5px;
  &:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15) !important;
    transition: 0.2s ease-in-out;
  }
  // user Photo Count Scss
  .WPhotocount {
    display: flex !important;
    position: absolute;
    left: 12px;
    top: 15px;
    display: inline-block;
    > i {
      float: right;
      padding: 5px 10px 5px 7px;
      color: #fff;
      border-radius: 25px;
      margin: 5px;
      font-size: 12px;
      span {
        padding-left: 5px;
        font-size: 12px;
      }
    }
  }
  // User Image Scss
  .WPhoto {
    width: 100%;
    img {
      width: 100%;
      border-radius: 9px;
      height: 260px !important;
      object-fit: cover;
    }
  }
  // User Data Scss
  .WUserdata {
    width: 100%;
    padding-left: 15px;
    text-align: left;
    bottom: 10px;
    position: absolute;
    // padding: 13px 0;
    p {
      font-size: 15px;
      font-weight: 600;
      text-shadow: -1px -1px 2px rgba(150, 150, 150, 1);
      color: white !important;
    }
    > span {
      font-size: 13px;
      font-weight: 400;
      line-height: 0;
      color: white;
    }

    h6 {
      color: white;
      font-size: 10px;
      // margin: 5px 0 0 0;
    }
  }
}

.Wuser_action {
  opacity: 0;
  position: absolute;
  bottom: 0px;
  width: 100%;
  z-index: 9;
  display: flex;
  justify-content: space-evenly;
  padding: 10px 0;
  // border-top: 1px solid #d1d1d1;
  cursor: pointer;
  i {
    font-size: 21px;
    &:hover {
      animation: circle 1.5s ease-in forwards;
    }
  }
  i:nth-child(1) {
    color: #e31b1b;
  }
  i:nth-child(2) {
    color: #378c37;
  }
  i:nth-child(3) {
    color: #07a1e1;
  }
}
> a {
  &:hover {
    text-decoration: none !important;
  }
}

.user_images {
  position: absolute;
  > div {
    span:nth-child(2) {
      padding-top: 2px;
      color: white;
    }
  }
}

.nearby_people_user_name {
  position: absolute;
  bottom: 40px;
  left: 30px;
  color: white;
}

.mainGrid {
  padding-top: 15px;
  display: grid;
  grid-gap: 15px 15px;
  justify-content: center;
  // justify-content: flex-start;
  grid-template-columns: auto auto auto auto;
}

.noCards {
  padding-top: 15px;
  display: grid;
  grid-gap: 15px 15px;
  justify-content: center;
  // justify-content: flex-start;
  grid-template-columns: auto auto auto auto;
}

.cardsLessThan4 {
  padding-top: 15px;
  display: grid;
  grid-gap: 15px 15px;
  justify-content: flex-start;
  // justify-content: flex-start;
  grid-template-columns: auto auto auto auto;
}

@media (min-width: 1350px) and (max-width: 8000px) {
  .WUsercard {
    width: 235px;
    position: relative;
    height: 260px !important;
    text-align: center;
    // border: 1px solid #e5e5e5;
    background: #ffffff;
    // box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12) !important;
    color: rgba(0, 0, 0, 0.87);
    border-radius: 5px;
    &:hover {
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15) !important;
      transition: 0.2s ease-in-out;
    }
    // user Photo Count Scss
    .WPhotocount {
      display: flex !important;
      position: absolute;
      left: 12px;
      top: 15px;
      display: inline-block;
      > i {
        float: right;
        padding: 5px 10px 5px 7px;
        color: #fff;
        border-radius: 25px;
        margin: 5px;
        font-size: 12px;
        span {
          padding-left: 5px;
          font-size: 12px;
        }
      }
    }
    // User Image Scss
    .WPhoto {
      width: 100%;
      img {
        width: 100%;
        border-radius: 9px;
        height: 260px !important;
        object-fit: cover;
      }
    }
    // User Data Scss
    .WUserdata {
      width: 100%;
      padding-left: 15px;
      text-align: left;
      bottom: 10px;
      position: absolute;
      // padding: 13px 0;
      p {
        font-size: 15px;
        font-weight: 600;
        color: white !important;
      }
      > span {
        font-size: 13px;
        font-weight: 400;
        line-height: 0;
        color: white;
      }

      h6 {
        color: white;
        font-size: 10px;
        // margin: 5px 0 0 0;
      }
    }
  }
}

@media (min-width: 1330px) and (max-width: 1349px) {
  .WUsercard {
    width: 230px;
    position: relative;
    height: 260px !important;
    text-align: center;
    // border: 1px solid #e5e5e5;
    background: #ffffff;
    // box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12) !important;
    color: rgba(0, 0, 0, 0.87);
    border-radius: 5px;
    &:hover {
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15) !important;
      transition: 0.2s ease-in-out;
    }
    // user Photo Count Scss
    .WPhotocount {
      display: flex !important;
      position: absolute;
      left: 12px;
      top: 15px;
      display: inline-block;
      > i {
        float: right;
        padding: 5px 10px 5px 7px;
        color: #fff;
        border-radius: 25px;
        margin: 5px;
        font-size: 12px;
        span {
          padding-left: 5px;
          font-size: 12px;
        }
      }
    }
    // User Image Scss
    .WPhoto {
      width: 100%;
      img {
        width: 100%;
        border-radius: 9px;
        height: 260px !important;
        object-fit: cover;
      }
    }
    // User Data Scss
    .WUserdata {
      width: 100%;
      padding-left: 15px;
      text-align: left;
      bottom: 10px;
      position: absolute;
      // padding: 13px 0;
      p {
        font-size: 15px;
        font-weight: 600;
        color: white !important;
      }
      > span {
        font-size: 13px;
        font-weight: 400;
        line-height: 0;
        color: white;
      }

      h6 {
        color: white;
        font-size: 10px;
        // margin: 5px 0 0 0;
      }
    }
  }
}

@media (min-width: 1300px) and (max-width: 1329px) {
  .WUsercard {
    width: 230px;
    position: relative;
    height: 260px !important;
    text-align: center;
    // border: 1px solid #e5e5e5;
    background: #ffffff;
    // box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12) !important;
    color: rgba(0, 0, 0, 0.87);
    border-radius: 5px;
    &:hover {
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15) !important;
      transition: 0.2s ease-in-out;
    }
    // user Photo Count Scss
    .WPhotocount {
      display: flex !important;
      position: absolute;
      left: 12px;
      top: 15px;
      display: inline-block;
      > i {
        float: right;
        padding: 5px 10px 5px 7px;
        color: #fff;
        border-radius: 25px;
        margin: 5px;
        font-size: 12px;
        span {
          padding-left: 5px;
          font-size: 12px;
        }
      }
    }
    // User Image Scss
    .WPhoto {
      width: 100%;
      img {
        width: 100%;
        border-radius: 9px;
        height: 260px !important;
        object-fit: cover;
      }
    }
    // User Data Scss
    .WUserdata {
      width: 100%;
      padding-left: 15px;
      text-align: left;
      bottom: 10px;
      position: absolute;
      // padding: 13px 0;
      p {
        font-size: 15px;
        font-weight: 600;
        color: white !important;
      }
      > span {
        font-size: 13px;
        font-weight: 400;
        line-height: 0;
        color: white;
      }

      h6 {
        color: white;
        font-size: 10px;
        // margin: 5px 0 0 0;
      }
    }
  }
}

@media (min-width: 1280px) and (max-width: 1299px) {
  .WUsercard {
    width: 220px;
    position: relative;
    height: 260px !important;
    text-align: center;
    // border: 1px solid #e5e5e5;
    background: #ffffff;
    // box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12) !important;
    color: rgba(0, 0, 0, 0.87);
    border-radius: 5px;
    &:hover {
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15) !important;
      transition: 0.2s ease-in-out;
    }
    // user Photo Count Scss
    .WPhotocount {
      display: flex !important;
      position: absolute;
      left: 12px;
      top: 15px;
      display: inline-block;
      > i {
        float: right;
        padding: 5px 10px 5px 7px;
        color: #fff;
        border-radius: 25px;
        margin: 5px;
        font-size: 12px;
        span {
          padding-left: 5px;
          font-size: 12px;
        }
      }
    }
    // User Image Scss
    .WPhoto {
      width: 100%;
      img {
        width: 100%;
        border-radius: 9px;
        height: 260px !important;
        object-fit: cover;
      }
    }
    // User Data Scss
    .WUserdata {
      width: 100%;
      padding-left: 15px;
      text-align: left;
      bottom: 10px;
      position: absolute;
      // padding: 13px 0;
      p {
        font-size: 15px;
        font-weight: 600;
        color: white !important;
      }
      > span {
        font-size: 13px;
        font-weight: 400;
        line-height: 0;
        color: white;
      }

      h6 {
        color: white;
        font-size: 10px;
        // margin: 5px 0 0 0;
      }
    }
  }
}

// for smaller screens 1120

@media (min-width: 1250px) and (max-width: 1279px) {
  .mainGrid {
    padding-top: 15px;
    display: grid;
    grid-gap: 15px 15px;
    justify-content: space-evenly;
    grid-template-columns: auto auto auto auto;
  }
  .WUsercard {
    width: 215px;
    position: relative;
    height: 260px !important;
    text-align: center;
    // border: 1px solid #e5e5e5;
    background: #ffffff;
    // box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12) !important;
    color: rgba(0, 0, 0, 0.87);
    border-radius: 5px;
    &:hover {
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15) !important;
      transition: 0.2s ease-in-out;
    }
    // user Photo Count Scss
    .WPhotocount {
      display: flex !important;
      position: absolute;
      left: 12px;
      top: 15px;
      display: inline-block;
      > i {
        float: right;
        padding: 5px 10px 5px 7px;
        color: #fff;
        border-radius: 25px;
        margin: 5px;
        font-size: 12px;
        span {
          padding-left: 5px;
          font-size: 12px;
        }
      }
    }
    // User Image Scss
    .WPhoto {
      width: 100%;
      img {
        width: 100%;
        border-radius: 9px;
        height: 260px !important;
        object-fit: cover;
      }
    }
    // User Data Scss
    .WUserdata {
      width: 100%;
      padding-left: 15px;
      text-align: left;
      bottom: 10px;
      position: absolute;
      // padding: 13px 0;
      p {
        font-size: 15px;
        font-weight: 600;
        color: white !important;
      }
      > span {
        font-size: 13px;
        font-weight: 400;
        line-height: 0;
        color: white;
      }

      h6 {
        color: white;
        font-size: 10px;
        // margin: 5px 0 0 0;
      }
    }
  }
}

@media (min-width: 1220px) and (max-width: 1249px) {
  .mainGrid {
    padding-top: 15px;
    display: grid;
    grid-gap: 15px 15px;
    justify-content: space-evenly;
    grid-template-columns: auto auto auto auto;
  }
  .WUsercard {
    width: 210px;
    position: relative;
    height: 260px !important;
    text-align: center;
    // border: 1px solid #e5e5e5;
    background: #ffffff;
    // box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12) !important;
    color: rgba(0, 0, 0, 0.87);
    border-radius: 5px;
    &:hover {
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15) !important;
      transition: 0.2s ease-in-out;
    }
    // user Photo Count Scss
    .WPhotocount {
      display: flex !important;
      position: absolute;
      left: 12px;
      top: 15px;
      display: inline-block;
      > i {
        float: right;
        padding: 5px 10px 5px 7px;
        color: #fff;
        border-radius: 25px;
        margin: 5px;
        font-size: 12px;
        span {
          padding-left: 5px;
          font-size: 12px;
        }
      }
    }
    // User Image Scss
    .WPhoto {
      width: 100%;
      img {
        width: 100%;
        border-radius: 9px;
        height: 260px !important;
        object-fit: cover;
      }
    }
    // User Data Scss
    .WUserdata {
      width: 100%;
      padding-left: 15px;
      text-align: left;
      bottom: 10px;
      position: absolute;
      // padding: 13px 0;
      p {
        font-size: 15px;
        font-weight: 600;
        color: white !important;
      }
      > span {
        font-size: 13px;
        font-weight: 400;
        line-height: 0;
        color: white;
      }

      h6 {
        color: white;
        font-size: 10px;
        // margin: 5px 0 0 0;
      }
    }
  }
}

@media (min-width: 1190px) and (max-width: 1219px) {
  .mainGrid {
    padding-top: 15px;
    display: grid;
    grid-gap: 15px 15px;
    justify-content: space-evenly;
    grid-template-columns: auto auto auto auto;
  }
  .WUsercard {
    width: 205px;
    position: relative;
    height: 260px !important;
    text-align: center;
    // border: 1px solid #e5e5e5;
    background: #ffffff;
    // box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12) !important;
    color: rgba(0, 0, 0, 0.87);
    border-radius: 5px;
    &:hover {
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15) !important;
      transition: 0.2s ease-in-out;
    }
    // user Photo Count Scss
    .WPhotocount {
      display: flex !important;
      position: absolute;
      left: 12px;
      top: 15px;
      display: inline-block;
      > i {
        float: right;
        padding: 5px 10px 5px 7px;
        color: #fff;
        border-radius: 25px;
        margin: 5px;
        font-size: 12px;
        span {
          padding-left: 5px;
          font-size: 12px;
        }
      }
    }
    // User Image Scss
    .WPhoto {
      width: 100%;
      img {
        width: 100%;
        border-radius: 9px;
        height: 260px !important;
        object-fit: cover;
      }
    }
    // User Data Scss
    .WUserdata {
      width: 100%;
      padding-left: 15px;
      text-align: left;
      bottom: 10px;
      position: absolute;
      // padding: 13px 0;
      p {
        font-size: 15px;
        font-weight: 600;
        color: white !important;
      }
      > span {
        font-size: 13px;
        font-weight: 400;
        line-height: 0;
        color: white;
      }

      h6 {
        color: white;
        font-size: 10px;
        // margin: 5px 0 0 0;
      }
    }
  }
}

@media (min-width: 1150px) and (max-width: 1189px) {
  .mainGrid {
    padding-top: 15px;
    display: grid;
    grid-gap: 15px 15px;
    justify-content: space-evenly;
    grid-template-columns: auto auto auto auto;
  }
  .WUsercard {
    width: 195px;
    position: relative;
    height: 250px !important;
    text-align: center;
    // border: 1px solid #e5e5e5;
    background: #ffffff;
    // box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12) !important;
    color: rgba(0, 0, 0, 0.87);
    border-radius: 5px;
    &:hover {
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15) !important;
      transition: 0.2s ease-in-out;
    }
    // user Photo Count Scss
    .WPhotocount {
      display: flex !important;
      position: absolute;
      left: 12px;
      top: 15px;
      display: inline-block;
      > i {
        float: right;
        padding: 5px 10px 5px 7px;
        color: #fff;
        border-radius: 25px;
        margin: 5px;
        font-size: 12px;
        span {
          padding-left: 5px;
          font-size: 12px;
        }
      }
    }
    // User Image Scss
    .WPhoto {
      width: 100%;
      img {
        width: 100%;
        border-radius: 9px;
        height: 250px !important;
        object-fit: cover;
      }
    }
    // User Data Scss
    .WUserdata {
      width: 100%;
      padding-left: 15px;
      text-align: left;
      bottom: 10px;
      position: absolute;
      // padding: 13px 0;
      p {
        font-size: 15px;
        font-weight: 600;
        color: white !important;
      }
      > span {
        font-size: 13px;
        font-weight: 400;
        line-height: 0;
        color: white;
      }

      h6 {
        color: white;
        font-size: 10px;
        // margin: 5px 0 0 0;
      }
    }
  }
}

@media (min-width: 1120px) and (max-width: 1149px) {
  .mainGrid {
    padding-top: 15px;
    display: grid;
    grid-gap: 15px 15px;
    justify-content: space-evenly;
    grid-template-columns: auto auto auto auto;
  }
  .WUsercard {
    width: 190px;
    position: relative;
    height: 250px !important;
    text-align: center;
    // border: 1px solid #e5e5e5;
    background: #ffffff;
    // box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12) !important;
    color: rgba(0, 0, 0, 0.87);
    border-radius: 5px;
    &:hover {
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15) !important;
      transition: 0.2s ease-in-out;
    }
    // user Photo Count Scss
    .WPhotocount {
      display: flex !important;
      position: absolute;
      left: 12px;
      top: 15px;
      display: inline-block;
      > i {
        float: right;
        padding: 5px 10px 5px 7px;
        color: #fff;
        border-radius: 25px;
        margin: 5px;
        font-size: 12px;
        span {
          padding-left: 5px;
          font-size: 12px;
        }
      }
    }
    // User Image Scss
    .WPhoto {
      width: 100%;
      img {
        width: 100%;
        border-radius: 9px;
        height: 250px !important;
        object-fit: cover;
      }
    }
    // User Data Scss
    .WUserdata {
      width: 100%;
      padding-left: 15px;
      text-align: left;
      bottom: 10px;
      position: absolute;
      // padding: 13px 0;
      p {
        font-size: 15px;
        font-weight: 600;
        color: white !important;
      }
      > span {
        font-size: 13px;
        font-weight: 400;
        line-height: 0;
        color: white;
      }

      h6 {
        color: white;
        font-size: 10px;
        // margin: 5px 0 0 0;
      }
    }
  }
}

@media (min-width: 1030px) and (max-width: 1119px) {
  .cardsLessThan4 {
    padding-top: 15px;
    display: grid;
    grid-gap: 15px 15px;
    justify-content: flex-start;
    // justify-content: flex-start;
    grid-template-columns: auto auto auto;
  }
  .mainGrid {
    padding-top: 15px;
    display: grid;
    grid-gap: 15px 15px;
    justify-content: space-evenly;
    grid-template-columns: auto auto auto;
  }
  .WUsercard {
    width: 240px;
    position: relative;
    height: 280px !important;
    text-align: center;
    // border: 1px solid #e5e5e5;
    background: #ffffff;
    // box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12) !important;
    color: rgba(0, 0, 0, 0.87);
    border-radius: 5px;
    &:hover {
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15) !important;
      transition: 0.2s ease-in-out;
    }
    // user Photo Count Scss
    .WPhotocount {
      display: flex !important;
      position: absolute;
      left: 12px;
      top: 15px;
      display: inline-block;
      > i {
        float: right;
        padding: 5px 10px 5px 7px;
        color: #fff;
        border-radius: 25px;
        margin: 5px;
        font-size: 12px;
        span {
          padding-left: 5px;
          font-size: 12px;
        }
      }
    }
    // User Image Scss
    .WPhoto {
      width: 100%;
      img {
        width: 100%;
        border-radius: 9px;
        height: 280px !important;
        object-fit: cover;
      }
    }
    // User Data Scss
    .WUserdata {
      width: 100%;
      padding-left: 15px;
      text-align: left;
      bottom: 10px;
      position: absolute;
      // padding: 13px 0;
      p {
        font-size: 15px;
        font-weight: 600;
        color: white !important;
      }
      > span {
        font-size: 13px;
        font-weight: 400;
        line-height: 0;
        color: white;
      }

      h6 {
        color: white;
        font-size: 10px;
        // margin: 5px 0 0 0;
      }
    }
  }
}

@media (min-width: 992px) and (max-width: 1029px) {
  .cardsLessThan4 {
    padding-top: 15px;
    display: grid;
    grid-gap: 15px 15px;
    justify-content: flex-start;
    // justify-content: flex-start;
    grid-template-columns: auto auto auto;
  }
  .mainGrid {
    padding-top: 15px;
    display: grid;
    grid-gap: 15px 15px;
    justify-content: space-evenly;
    grid-template-columns: auto auto auto;
  }
  .WUsercard {
    width: 220px;
    position: relative;
    height: 240px !important;
    text-align: center;
    // border: 1px solid #e5e5e5;
    background: #ffffff;
    // box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12) !important;
    color: rgba(0, 0, 0, 0.87);
    border-radius: 5px;
    &:hover {
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15) !important;
      transition: 0.2s ease-in-out;
    }
    // user Photo Count Scss
    .WPhotocount {
      display: flex !important;
      position: absolute;
      left: 12px;
      top: 15px;
      display: inline-block;
      > i {
        float: right;
        padding: 5px 10px 5px 7px;
        color: #fff;
        border-radius: 25px;
        margin: 5px;
        font-size: 12px;
        span {
          padding-left: 5px;
          font-size: 12px;
        }
      }
    }
    // User Image Scss
    .WPhoto {
      width: 100%;
      img {
        width: 100%;
        border-radius: 9px;
        height: 240px !important;
        object-fit: cover;
      }
    }
    // User Data Scss
    .WUserdata {
      width: 100%;
      padding-left: 15px;
      text-align: left;
      bottom: 10px;
      position: absolute;
      // padding: 13px 0;
      p {
        font-size: 15px;
        font-weight: 600;
        color: white !important;
      }
      > span {
        font-size: 13px;
        font-weight: 400;
        line-height: 0;
        color: white;
      }

      h6 {
        color: white;
        font-size: 10px;
        // margin: 5px 0 0 0;
      }
    }
  }
}

@media (min-width: 920px) and (max-width: 991px) {
  .cardsLessThan4 {
    padding-top: 15px;
    display: grid;
    grid-gap: 15px 15px;
    justify-content: flex-start;
    // justify-content: flex-start;
    grid-template-columns: auto auto auto;
  }
  .mainGrid {
    padding-top: 15px;
    display: grid;
    grid-gap: 15px 15px;
    justify-content: space-evenly;
    grid-template-columns: auto auto auto;
  }
  .WUsercard {
    position: relative;
    height: 260px !important;
    width: 260px;
    text-align: center;
    // border: 1px solid #e5e5e5;
    background: #ffffff;
    // box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12) !important;
    color: rgba(0, 0, 0, 0.87);
    border-radius: 5px;
    &:hover {
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15) !important;
      transition: 0.2s ease-in-out;
    }
    // user Photo Count Scss
    .WPhotocount {
      display: flex !important;
      position: absolute;
      left: 12px;
      top: 15px;
      display: inline-block;
      > i {
        float: right;
        padding: 5px 10px 5px 7px;
        color: #fff;
        border-radius: 25px;
        margin: 5px;
        font-size: 12px;
        span {
          padding-left: 5px;
          font-size: 12px;
        }
      }
    }
    // User Image Scss
    .WPhoto {
      width: 100%;
      img {
        width: 100%;
        border-radius: 9px;
        height: 260px !important;
        object-fit: cover;
      }
    }
    // User Data Scss
    .WUserdata {
      width: 100%;
      padding-left: 15px;
      text-align: left;
      bottom: 10px;
      position: absolute;
      // padding: 13px 0;
      p {
        font-size: 15px;
        font-weight: 600;
        color: white !important;
      }
      > span {
        font-size: 13px;
        font-weight: 400;
        line-height: 0;
        color: white;
      }

      h6 {
        color: white;
        font-size: 10px;
        // margin: 5px 0 0 0;
      }
    }
  }
}

@media (min-width: 850px) and (max-width: 919px) {
  .cardsLessThan4 {
    padding-top: 15px;
    display: grid;
    grid-gap: 15px 15px;
    justify-content: flex-start;
    // justify-content: flex-start;
    grid-template-columns: auto auto auto;
  }
  .mainGrid {
    padding-top: 15px;
    display: grid;
    grid-gap: 15px 15px;
    justify-content: space-evenly;
    grid-template-columns: auto auto auto;
  }
  .WUsercard {
    position: relative;
    height: 240px !important;
    width: 240px;
    text-align: center;
    // border: 1px solid #e5e5e5;
    background: #ffffff;
    // box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12) !important;
    color: rgba(0, 0, 0, 0.87);
    border-radius: 5px;
    &:hover {
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15) !important;
      transition: 0.2s ease-in-out;
    }
    // user Photo Count Scss
    .WPhotocount {
      display: flex !important;
      position: absolute;
      left: 12px;
      top: 15px;
      display: inline-block;
      > i {
        float: right;
        padding: 5px 10px 5px 7px;
        color: #fff;
        border-radius: 25px;
        margin: 5px;
        font-size: 12px;
        span {
          padding-left: 5px;
          font-size: 12px;
        }
      }
    }
    // User Image Scss
    .WPhoto {
      width: 100%;
      img {
        width: 100%;
        border-radius: 9px;
        height: 240px !important;
        object-fit: cover;
      }
    }
    // User Data Scss
    .WUserdata {
      width: 100%;
      padding-left: 15px;
      text-align: left;
      bottom: 10px;
      position: absolute;
      // padding: 13px 0;
      p {
        font-size: 15px;
        font-weight: 600;
        color: white !important;
      }
      > span {
        font-size: 13px;
        font-weight: 400;
        line-height: 0;
        color: white;
      }

      h6 {
        color: white;
        font-size: 10px;
        // margin: 5px 0 0 0;
      }
    }
  }
}

@media (min-width: 775px) and (max-width: 849px) {
  .cardsLessThan4 {
    padding-top: 15px;
    display: grid;
    grid-gap: 15px 15px;
    justify-content: flex-start;
    // justify-content: flex-start;
    grid-template-columns: auto auto auto;
  }
  .mainGrid {
    padding-top: 15px;
    display: grid;
    grid-gap: 15px 15px;
    justify-content: space-evenly;
    grid-template-columns: auto auto auto;
  }
  .WUsercard {
    position: relative;
    height: 240px !important;
    width: 220px;
    text-align: center;
    // border: 1px solid #e5e5e5;
    background: #ffffff;
    // box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12) !important;
    color: rgba(0, 0, 0, 0.87);
    border-radius: 5px;
    &:hover {
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15) !important;
      transition: 0.2s ease-in-out;
    }
    // user Photo Count Scss
    .WPhotocount {
      display: flex !important;
      position: absolute;
      left: 12px;
      top: 15px;
      display: inline-block;
      > i {
        float: right;
        padding: 5px 10px 5px 7px;
        color: #fff;
        border-radius: 25px;
        margin: 5px;
        font-size: 12px;
        span {
          padding-left: 5px;
          font-size: 12px;
        }
      }
    }
    // User Image Scss
    .WPhoto {
      width: 100%;
      img {
        width: 100%;
        border-radius: 9px;
        height: 240px !important;
        object-fit: cover;
      }
    }
    // User Data Scss
    .WUserdata {
      width: 100%;
      padding-left: 15px;
      text-align: left;
      bottom: 10px;
      position: absolute;
      // padding: 13px 0;
      p {
        font-size: 15px;
        font-weight: 600;
        color: white !important;
      }
      > span {
        font-size: 13px;
        font-weight: 400;
        line-height: 0;
        color: white;
      }

      h6 {
        color: white;
        font-size: 10px;
        // margin: 5px 0 0 0;
      }
    }
  }
}

@media (min-width: 710px) and (max-width: 774px) {
  .cardsLessThan4 {
    padding-top: 15px;
    display: grid;
    grid-gap: 15px 15px;
    justify-content: flex-start;
    // justify-content: flex-start;
    grid-template-columns: auto auto auto;
  }
  .mainGrid {
    padding-top: 15px;
    display: grid;
    grid-gap: 15px 15px;
    justify-content: space-evenly;
    grid-template-columns: auto auto auto;
  }
  .WUsercard {
    position: relative;
    height: 220px !important;
    width: 200px;
    text-align: center;
    // border: 1px solid #e5e5e5;
    background: #ffffff;
    // box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12) !important;
    color: rgba(0, 0, 0, 0.87);
    border-radius: 5px;
    &:hover {
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15) !important;
      transition: 0.2s ease-in-out;
    }
    // user Photo Count Scss
    .WPhotocount {
      display: flex !important;
      position: absolute;
      left: 12px;
      top: 15px;
      display: inline-block;
      > i {
        float: right;
        padding: 5px 10px 5px 7px;
        color: #fff;
        border-radius: 25px;
        margin: 5px;
        font-size: 12px;
        span {
          padding-left: 5px;
          font-size: 12px;
        }
      }
    }
    // User Image Scss
    .WPhoto {
      width: 100%;
      img {
        width: 100%;
        border-radius: 9px;
        height: 220px !important;
        object-fit: cover;
      }
    }
    // User Data Scss
    .WUserdata {
      width: 100%;
      padding-left: 15px;
      text-align: left;
      bottom: 10px;
      position: absolute;
      // padding: 13px 0;
      p {
        font-size: 15px;
        font-weight: 600;
        color: white !important;
      }
      > span {
        font-size: 13px;
        font-weight: 400;
        line-height: 0;
        color: white;
      }

      h6 {
        color: white;
        font-size: 10px;
        // margin: 5px 0 0 0;
      }
    }
  }
}

@media (min-width: 610px) and (max-width: 709px) {
  .cardsLessThan4 {
    padding-top: 15px;
    display: grid;
    grid-gap: 15px 15px;
    justify-content: flex-start;
    // justify-content: flex-start;
    grid-template-columns: auto auto;
  }
  .mainGrid {
    padding-top: 15px;
    display: grid;
    grid-gap: 15px 15px;
    justify-content: space-evenly;
    grid-template-columns: auto auto;
  }
  .WUsercard {
    position: relative;
    height: 280px !important;
    width: 260px;
    text-align: center;
    // border: 1px solid #e5e5e5;
    background: #ffffff;
    // box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12) !important;
    color: rgba(0, 0, 0, 0.87);
    border-radius: 5px;
    &:hover {
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15) !important;
      transition: 0.2s ease-in-out;
    }
    // user Photo Count Scss
    .WPhotocount {
      display: flex !important;
      position: absolute;
      left: 12px;
      top: 15px;
      display: inline-block;
      > i {
        float: right;
        padding: 5px 10px 5px 7px;
        color: #fff;
        border-radius: 25px;
        margin: 5px;
        font-size: 12px;
        span {
          padding-left: 5px;
          font-size: 12px;
        }
      }
    }
    // User Image Scss
    .WPhoto {
      width: 100%;
      img {
        width: 100%;
        border-radius: 9px;
        height: 280px !important;
        object-fit: cover;
      }
    }
    // User Data Scss
    .WUserdata {
      width: 100%;
      padding-left: 15px;
      text-align: left;
      bottom: 10px;
      position: absolute;
      // padding: 13px 0;
      p {
        font-size: 15px;
        font-weight: 600;
        color: white !important;
      }
      > span {
        font-size: 13px;
        font-weight: 400;
        line-height: 0;
        color: white;
      }

      h6 {
        color: white;
        font-size: 10px;
        // margin: 5px 0 0 0;
      }
    }
  }
}

@media (min-width: 577px) and (max-width: 609px) {
  .cardsLessThan4 {
    padding-top: 15px;
    display: grid;
    grid-gap: 15px 15px;
    justify-content: flex-start;
    // justify-content: flex-start;
    grid-template-columns: auto auto;
  }
  .mainGrid {
    padding-top: 15px;
    display: grid;
    grid-gap: 15px 15px;
    justify-content: space-evenly;
    grid-template-columns: auto auto;
  }
  .WUsercard {
    position: relative;
    height: 260px !important;
    width: 240px;
    text-align: center;
    // border: 1px solid #e5e5e5;
    background: #ffffff;
    // box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12) !important;
    color: rgba(0, 0, 0, 0.87);
    border-radius: 5px;
    &:hover {
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15) !important;
      transition: 0.2s ease-in-out;
    }
    // user Photo Count Scss
    .WPhotocount {
      display: flex !important;
      position: absolute;
      left: 12px;
      top: 15px;
      display: inline-block;
      > i {
        float: right;
        padding: 5px 10px 5px 7px;
        color: #fff;
        border-radius: 25px;
        margin: 5px;
        font-size: 12px;
        span {
          padding-left: 5px;
          font-size: 12px;
        }
      }
    }
    // User Image Scss
    .WPhoto {
      width: 100%;
      img {
        width: 100%;
        border-radius: 9px;
        height: 260px !important;
        object-fit: cover;
      }
    }
    // User Data Scss
    .WUserdata {
      width: 100%;
      padding-left: 15px;
      text-align: left;
      bottom: 10px;
      position: absolute;
      // padding: 13px 0;
      p {
        font-size: 15px;
        font-weight: 600;
        color: white !important;
      }
      > span {
        font-size: 13px;
        font-weight: 400;
        line-height: 0;
        color: white;
      }

      h6 {
        color: white;
        font-size: 10px;
        // margin: 5px 0 0 0;
      }
    }
  }
}
