// Main Scroll Scss
.WMeetuserscroll {
  height: calc(100vh - 230px);
  overflow-y: auto;
  // padding-bottom: 130px;
}

.loadMore {
  margin: 10px 0;
  margin: 10px 0;
  justify-content: center;
  display: flex;
  padding-bottom: 80px;

  justify-content: center;
  display: flex;
  > button {
    cursor: pointer;
    font-family: "Product Sans Bold";
    font-size: 18px;
    color: white;
    background: linear-gradient(to bottom right, #f80402 0, #a50f0d);
    padding: 10px 20px;
    width: 200px;
    border: none;
    border-radius: 5px;
  }
}

// ------------------ Banner Scss Start ------------------ //
.WMeetuser {
  // background: #f0f0f0;
  min-height: 90px;
  // Main Banner Scss
  .WUserbanner {
    padding: 20px 0 15px;
    > div {
      img {
        width: 70px;
        height: 70px;
        // border-radius: 50px;
        // border: 1px solid #4b4b4b;
        margin: 0 auto;
        cursor: pointer;
      }
    }
  }
  // Active User Premium Scss
  .WSuperpower {
    margin-top: 5px;
    button {
      border: 1px solid #4b4b4b;
      background: #fff;
      border-radius: 22px;
      color: #4b4b4b;
      padding: 5px 25px;
      font-weight: 700;
      margin: 0;
      cursor: pointer;
      a {
        color: #4b4b4b !important;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}

// ------------------ Banner Scss End ------------------ //
@media screen and (min-width: 767px) and (max-width: 859px) {
  .WFilter {
    font-family: "Product Sans" !important;
    margin-top: 5px !important;
  }
  .WBoost {
    span {
      padding-left: 10px !important;
    }
  }
  .WUserbanner {
    > div {
      img {
        width: 45px !important;
        height: 45px !important;
        margin-top: 5px !important;
      }
    }
  }
  .WSuperpower {
    margin-top: 0 !important;
    padding-top: 5px !important;
    button {
      padding: 10px 20px !important;
      display: inline-block;
      font-size: 11px;
      a {
        color: #4b4b4b !important;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
  .WUserNotification {
    font-size: 12px;
  }
}

@media screen and (min-width: 860px) and (max-width: 945px) {
  .WFilter {
    font-family: "Product Sans" !important;
    margin-top: 5px !important;
  }
  .WUserbanner {
    > div {
      img {
        width: 50px !important;
        height: 50px !important;
        margin-top: 5px !important;
      }
    }
  }
  .WSuperpower {
    margin-top: 5px !important;
    button {
      font-size: 13px !important;
      padding: 10px 20px !important;
      a {
        color: #4b4b4b !important;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
  .WUserNotification {
    font-size: 14px;
  }
}

@media screen and (min-width: 946px) and (max-width: 992px) {
  .WFilter {
    font-family: "Product Sans" !important;
    margin-top: 5px !important;
  }
  .WUserbanner {
    > div {
      img {
        width: 58px !important;
        height: 60px !important;
        margin-top: 5px !important;
      }
    }
  }
  .WSuperpower {
    margin-top: 0 !important;
    button {
      padding: 10px 20px !important;
      font-size: 14px !important;
      margin-top: 10px !important;
      a {
        color: #4b4b4b !important;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
  .WUserNotification {
    font-size: 16px;
  }
}
