// Global Variable Scss
@import "../../Variable.scss";

// Web View Module Style
.WebView {
  // background: $background-light;
  // background: #fff;
  overflow: hidden;
  height: 100vh;
  background: #fff;
}

/* based on url the div color changes **/
.whiteBg {
  background: #fff;
}

.my__account {
  cursor: pointer;
  > div {
    > button {
      font-family: "Circular Air Book";
      text-transform: capitalize;
      background: white !important;
      color: #484848 !important;
      border: none;
    }
  }
}

.new__sidepanel {
  width: 300px;
  height: calc(100vh - 122px);
}

@media (min-width: 768px) and (max-width: 1366px) {
  .new__sidepanel {
    width: 300px;
    height: calc(100vh - 60px);
    // overflow-y: auto;
  }
}

@media (min-width: 880px) and (max-width: 1000px) {
  .new__sidepanel {
    width: 250px;
  }
  .new__view__render {
    width: calc(100vw - 250px) !important;
  }
}

@media (min-width: 768px) and (max-width: 879px) {
  .new__sidepanel {
    width: 220px;
  }
  .new__view__render {
    width: calc(100vw - 220px) !important;
  }
}

@media (min-width: 567px) and (max-width: 767px) {
  .new__sidepanel {
    width: 100px;
  }
  .new__view__render {
    width: calc(100vw - 100px) !important;
  }
}

@media (min-height: 800px) and (max-height: 865px) {
  .new__sidepanel {
    height: calc(100vh - 60px);
    overflow-y: auto;
  }
  .WUsermenu_sub {
    margin-bottom: 60px;
  }
}

@media (min-height: 600px) and (max-height: 799px) {
  .new__sidepanel {
    overflow-y: auto;
  }
  .WUsermenu_sub {
    margin-bottom: 60px;
  }
}

.new__view__render {
  width: calc(100vw - 301px);
  background: #f1f1f1;
}

.m_global_customLoader {
  position: absolute !important;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
  top: 50px;
  left: 50%;
  opacity: 1;
  width: 90%;
  padding: 10px;
  border-radius: 5px;
  background: white;
  transform: translate(-50%, -50%);
  z-index: 9999 !important;
  > div {
    > span {
      font-family: "Circular Air Book";
    }
  }
}

.greyishBg {
  background: #f6f6f6;
}

.smallDialogWithProps {
  height: "100%";
  justify-content: "center";
  align-items: "center";
  flex-direction: "column";
  display: "flex";
  background-color: "white";
}

.matchFound_users_image {
  height: 150px !important;
  width: 150px !important;
  border-radius: 50%;
  margin: 10px;
}

.sideBox {
  background-color: "#f6f6f6";
}

// @media screen and (min-width: 577px) and (max-width: 766px) {
//   .WebView {
//     > div {
//       padding-right: 0 !important;
//     }
//   }
// }

// @media screen and (min-width: 767px) and (max-width: 992px) {
//   .WebView {
//     > div {
//       padding-right: 0 !important;
//     }
//   }
// }
