// User Main Name Module
.user_headername {
  > h2 {
    > i {
      font-size: 12px;
      color: green;
      position: relative;
      left: 10px;
      bottom: 10px;
    }
  }
}

.viewer {
  background: transparent !important;
}

.d_oup_moments_closeBtn {
  position: absolute;
  right: 0px;
  top: 0px;
  right: -10px;
  top: -10px;
  background: #fff;
  box-shadow: 0px 1px 4px #000029;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  cursor: pointer !important;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999 !important;
}

.otherUsersProfile_likes_n_comment {
  .likes_n_comments {
    display: flex;
    flex-direction: row;
    align-items: center;
    > span {
      // cursor: pointer;
      margin-right: 10px;
    }

    padding-top: 10px;
    font-family: "Product Sans Bold";
    font-size: 20px;
    color: #414141;
  }
}

.other_images_preview {
  position: relative;
  box-shadow: 0px 3px 6px #00000029;
  height: 150px;
  width: 150px;
  margin: 5px 10px;
  > img {
    cursor: pointer;
    height: inherit !important;
    object-fit: cover !important;
    width: inherit !important;
  }
}

.other_images_preview_video {
  position: relative;
  box-shadow: 0px 3px 6px #00000029;
  height: 150px;
  width: 150px;
  margin: 5px 10px;
  > div {
    height: inherit !important;
    object-fit: cover !important;
    width: inherit !important;
  }
}

.alredyEnabled_button {
  cursor: pointer;
  margin: 0px 10px;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: red;
  -webkit-box-shadow: 0 3px 4px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 4px 0px rgba(0, 0, 0, 0.5);
}

.buttons {
  cursor: pointer;
  margin: 0px 10px;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: #fff;
  -webkit-box-shadow: 0 3px 4px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 4px 0px rgba(0, 0, 0, 0.5);
}

.online {
  border-radius: 50%;
  height: 12px;
  width: 12px;
  background: #008000;
}

.offline {
  background: #aeaeae;
  border-radius: 50%;
  height: 12px;
  width: 12px;
}

.left_arrow_border {
  border: 1px solid #d1d1d1;
  /* padding: 6px; */
  height: 35px;
  width: 40px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.otheruser_profile {
  > .header {
    // position: sticky;
    background: white;
    z-index: 2;
    top: 0;
    height: 100%;
    width: 100%;
  }
}

// OtherUser Profile Scroll
.Wotheruser_Scroll {
  outline: none;
  margin-top: 30px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 9px 8px 15px -10px rgba(0, 0, 0, 0.42);
  border-radius: 8px;
  height: 100vh;
  overflow: auto;
  position: relative;
  scrollbar-width: thin;
}

.label {
  color: #afafaf !important;
}

.OUP_Wcharge_wallet {
  // border: 1px solid transparent;
  width: 100%;
  margin-top: 15px !important;
  background: linear-gradient(to bottom right, #f80402 0, #a50f0d);
  border-radius: 5px;
  padding: 10px 0px;
  color: #fff;
  font-weight: 700;
  margin: 0;
  cursor: pointer;
}

// User Setting Style Module
.userprofile_setting {
  > button {
    border: 1px solid #d1d1d1;
    padding: 9px 9px;
    border-radius: 8px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    margin-left: 10px;
    background: #fff;
    &:before {
      padding-right: 10px;
    }
    &:hover {
      color: #fff;
      border: 1px solid #d1d1d1;
    }
  }
  > a {
    padding: 13px;
    border-radius: 8px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    background: linear-gradient(to bottom right, #f80402 0, #a50f0d);
    &:before {
      padding-right: 10px;
    }
    &:hover {
      color: #fff;

      text-decoration: none;
    }
    > i {
      padding-right: 10px;
      font-size: 19px;
    }
    span {
      font-size: 15px;
    }
  }
  > .user_option {
    border: 1px solid #888;
    padding: 13px;
    border-radius: 8px;
    color: #888;
    font-size: 19px;
    margin-left: 15px;
    cursor: pointer;
    &:hover {
      color: #e31b1b;
      border: 1px solid #e31b1b;
    }
  }
}

// User Add Photo Module
.otheruser_photo {
  > div {
    height: 175px !important;
    cursor: pointer;
    > i {
      font-size: 25px;
    }
    img {
      width: 190px;
      height: 175px;
      // padding-right: 5px;
    }
  }
  .add_media {
    padding: 50px 0 !important;
    input {
      padding: 70px;
    }
    &:hover {
      background-color: #a1a1a1 !important;
      transition: width 5s ease-in;
    }
  }
}

// Header Style Module
.userpro_header {
  h5 {
    font-size: 18px;
    font-family: "Circular Air Bold";
    color: #000;
    opacity: 1;
    text-transform: capitalize;
  }
}

.m_userpro_header {
  h5 {
    font-size: 18px;
    font-family: "Circular Air Bold";
    color: #808080;
    opacity: 1;
    text-transform: capitalize;
  }
}

.MUserextra {
  > p {
    font-family: "Circular Air Bold";
    color: #808080;
  }
}

.MProfileshow {
  > div {
    > p {
      font-family: "Circular Air Bold";
      color: #808080;
    }
  }
}

.Mrightarrow {
  font-family: "Circular Air Book";
  color: #d1d1d1;
}

// User Answer Style Module
.user_answer {
  > div {
    > div:nth-child(1) {
      > p {
        font-size: 15px;
        color: #484848;
        opacity: 0.7;
        font-family: "Circular Air Light";
        text-transform: capitalize;
      }
    }
    > div:nth-child(2) {
      > p {
        font-size: 15px;
        color: #000;
        font-family: "Circular Air Book";
        text-transform: capitalize;
      }
    }
  }
}

// Share User Profile Module
.share_profile {
  > p:nth-child(1) {
    padding: 5px 0;
    cursor: pointer;
    > i {
      color: #f80402;
      font-size: 16px;
    }
    span {
      font-family: "Circular Air Bold";
      font-size: 16px;
      color: #d1d1d1;
    }
  }
  > p:nth-child(2) {
    padding: 5px 0;
    cursor: pointer;

    span {
      font-family: "Circular Air Bold";
      padding-left: 5px;
      color: #d1d1d1;
      text-transform: uppercase;
      font-size: 16px;
    }
  }
}

// React Slick Slider Style Module
.User_Profileshow {
  > .slick-slider.slick-initialized {
    > .slick-list {
      > .slick-track {
        > div {
          > div {
            > div {
              img {
                margin: 0 auto;
                // width: 100%;
                width: 180px;
                height: 180px;
                border-radius: 5px;
                // padding-right: 10px;
                margin-left: 10px;
              }
            }
          }
        }
      }
    }
  }
}

// User Slider No Profile at that it show dummy color as a box
.Wuserprofile_noinput {
  width: 175px !important;
  height: 180px;
  background: #ababab;
  border-radius: 5px;
  cursor: pointer;
  > label {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 175px;
    border-radius: 5px;
    opacity: 0.88;
    cursor: pointer;
    > i {
      color: #fff;
      font-size: 20px;
    }
    p {
      color: #fff;
      padding-left: 10px;
      font-size: 16px;
    }
  }
}

.slick-arrow.slick-prev.slick-disabled,
.slick-arrow.slick-next {
  display: none !important;
}

.name {
  width: 200px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.d_oup_menu {
  > div {
    > ul {
      > li {
        > p {
          > span {
            font-family: "Product Sans";
          }
        }
      }
    }
  }
}
