// Other User Profile info Style Module
.Motheruser_info {
  height: 140vh;
  > div:nth-child(1) {
    height: 35px !important;
    > div:nth-child(1) {
      > h4 {
        > strong {
          font-size: 18px;
          color: #000;
          font-family: "Circular Air Bold";
        }
        > i {
          font-size: 11px;
          position: relative;
          bottom: 10px;
          left: 5px;
          color: green;
        }
      }
    }
    > div:nth-child(2) {
      > i {
        position: absolute;
        bottom: 35px;
        left: 10px;
        background: #f74167;
        padding: 18px;
        border-radius: 50%;
        color: #fff;
      }
    }
    p {
      font-size: 13px;
      color: rgb(247, 65, 103);
      font-weight: 600;
      padding-top: 5px;
      margin: 0;
      span {
        background: #f74167;
        color: #fff;
        margin-right: 10px;
      }
    }
  }
}

.otherUserProfileFromChat-profilePic {
  object-fit: cover !important;
}

.Mbasic {
  p {
    color: #d1d1d1;
    font-size: 14px;
    font-family: "Circular Air Light";
  }
}
.Mbasicanswer {
  font-size: 14px;
  font-family: "Circular Air Light";
  color: #d1d1d1;
}

.m_menuItem {
  font-family: "Circular Air Book" !important;
}

// Thums Up Style Module
.Motheruser_thumpup {
  position: fixed !important;
  bottom: 50px;
  left: 0;
  z-index: 9999;
  > div {
    > i:nth-child(1) {
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
      padding: 20px;
      border-radius: 50%;
      margin: 0 10px;
      font-size: 26px;
      background: #fff;
      color: #f74167;
      z-index: 9999;
    }
    > i:nth-child(2) {
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
      padding: 20px;
      border-radius: 50%;
      font-size: 16px;
      background: #fff;
      color: #1e90ff;
      z-index: 9999;
    }
    > i:nth-child(3) {
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
      padding: 20px;
      border-radius: 50%;
      margin: 0 10px;
      font-size: 26px;
      background: #fff;
      color: #7fff95;
      z-index: 9999;
    }
  }
}

// OtherUser Profile Video Style
.MotherUser_Video {
  > video {
    width: 100% !important;
    height: 350px !important;
    object-fit: cover;
  }
}

.selfProfile-header {
  height: 44px;
  position: absolute !important;
  top: 0px !important;
  width: 100%;
}

.selfProfile-scrollView {
  height: calc(100vh - 44px);
  overflow-y: auto;
}

.m_oup_id {
  > span:nth-child(1) {
    font-family: "Circular Air Book";
    color: #fff;
    background: #e31b1b;
    padding: 0px 5px;
    font-size: 11px;
  }
  > span:nth-child(2) {
    padding-left: 5px;
    font-family: "Circular Air Light";
    color: #e31b1b;
    font-size: 11px;
  }
}

.m_rec_report_user {
  // padding-bottom: 150px !important;
}

.m_moments_boxes {
  padding: 3px !important;
  > img {
    width: 100%;
    border-radius: 5px;
    height: 100%;
    object-fit: cover;
  }

  > video {
    border-radius: 5px;
    width: 100%;
    height: 100%;
  }
}

.m_thumbsup_icon {
  background: #808080;
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.m_moments_view_all {
  text-align: right;
  font-family: "Circular Air Book";
  color: #d1d1d1;
  font-size: 14px;
}

.m_moments_header {
  font-size: 18px;
  color: #e31b1b;
  text-align: center;
  font-family: "Circular Air Bold";
}

.m_mobile_moments_screen {
  height: 100vh;
}

.d_moments_scroll {
  margin-top: 59px;
  height: calc(100vh - 59px);
  overflow-y: auto;
}

.m_oup_moments_postImageVideo {
  > img {
    height: inherit;
    width: 100%;
  }
  > video {
    height: inherit;
    width: 100%;
  }
}

.m_moments_fixed_header {
  height: 59px !important;
  position: absolute !important;
  top: 0px;
  width: 100%;
}

.m_oup_chat {
  background: #fff;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 10px;
  box-shadow: 0 3px 4px 0px rgba(0, 0, 0, 0.5);
}

.m_oup_header {
  top: 0px !important;
  position: fixed !important;
  height: 43px;
  background: black;
  opacity: 0.5;
}
