// Tabs Background Color Module
.Web_dates {
  background: linear-gradient(to bottom right, #f80402 0, #a50f0d);
  width: 100%;
  height: 100%;
  min-height: 60px;
  .Webdatesboost {
    border: 2px solid #fff;
    border-radius: 22px;
    padding: 5px 0;
    margin: 5px 0;
    background: transparent !important;
    cursor: pointer;
    cursor: pointer;
    > a {
      > i {
        color: #fff;
        span {
          color: #fff;
          padding-left: 15px;
          font-weight: 500;
        }
      }
    }
  }
}

// User Setting Icon Module
.user_setting {
  i {
    border: 2px solid #e31b1b;
    padding: 5px;
    border-radius: 8px;
    color: #e31b1b;
    font-size: 17px;
    margin-left: 10px;
    margin-top: 10px;
    cursor: pointer;
  }
}

// Tabs Style Module
.date_tabs {
  > div {
    > header {
      box-shadow: none;
      background: linear-gradient(to bottom right, #f80402 0, #a50f0d) !important;
      > div {
        > div {
          div {
            width: 0 !important;
          }
          > div {
            > div {
              > button {
                color: #fff !important;
                > span {
                  > span {
                    span {
                      font-size: 18px;
                      text-transform: initial !important;
                    }
                  }
                }
                &:focus {
                  outline: none !important;
                }
              }
            }
            > span {
              background-color: #fff !important;
            }
          }
        }
      }
    }
    > div {
      position: absolute;
      padding-top: 20px !important;
      display: inline-flex;
    }
  }
}
