// Global Scss File
@import "../../../../../Variable.scss";

// Header Style Module
.MOtp_main {
  h6 {
    font-size: 17px;
    font-family: "Circular Air Book";
    color: #888;
  }
  p {
    font-family: "Circular Air Book";
    color: #e31b1b;
    font-size: 14px;
  }
  > .MVerify_otp {
    > div {
      padding: 20px 0;
        > input {
          height: 50px;
          margin-right: 3px;
          font-size: 16px !important;
          background-color: #f4f8fb;
          border-radius: 4px;
          border: 1px solid #f4f8fb;
        }
    }
  }
  > .Motp_fail {
    p:nth-child(1) {
      color: #e31b1b;
      font-size: 18px;
    }
    p:nth-child(2) {
      font-size: 11px;
      color: #888;
    }
  }
}

// Resend OTP Style Module
.Mresend_otp {
  > div {
    > div {
      > i {
        position: absolute;
        top: 10px;
        right: 0;
        font-size: 25px;
        color: #000;
      }
    }
  }
  p {
    color: #888;
  }
  button {
    background: #e31b1b;
    width: 100%;
    padding: 10px 0;
    color: #fff;
    border: none;
  }
}
