// Global Scss File
@import "../../../../../Variable.scss";

.M_login_info {
  font-family: "Circular Air Book";
}

.Mlogin_header {
  h6 {
    font-size: 17px;
    font-family: "Circular Air Book";
    color: #888;
  }
  > div {
    > div {
      // width: 95%;
      > div {
        > div {
          background-color: transparent !important;
        }
      }
    }
  }

  > .Msend_btn {
    > p {
      font-size: 11px;
      color: #888;
    }
  }
}

input {
  &:focus {
    box-shadow: none !important;
    outline: none !important;
  }
}

.Minttellinput {
  width: 100%;
  > div {
    width: 95%;
    > input {
      font-size: 16px !important;
      width: 100% !important;
    }
  }
  // > div {
  //   > div {
  //     > div {
  //       div:nth-child(2) {
  //         padding-left: 10px !important;
  //       }
  //     }
  //   }
  // }
}
