.WMainbox {
  // ------------------ Navbar Scss Start ------------------ //
  .WMeetnew {
    // background: linear-gradient(to bottom right, #e31b1b 0%, #ff7b43 100%);
    // background: #e31b1b;
    background: #fff;
    width: 100%;
    height: 100%;
    min-height: 60px;
  }
  .nearby_people {
    > div {
      p {
        font-family: "Avenir", "Product Sans Bold" !important;

        font-size: 18px;
        font-weight: bold;
      }
    }
  }
  // Navbar Filter Button Scss
  .WFilter {
    font-family: "Avenir", "Product Sans" !important;

    border: 2px solid #fff;
    border-radius: 22px;
    padding: 5px 0;
    margin: 5px 0;
    cursor: pointer;
    > i {
      color: #fff;
      span {
        color: #fff;
        padding-left: 2px;
        font-weight: 500;
      }
    }
  }
  // Navbar Boost Button Scss
  .WBoost {
    border: 2px solid #fff;
    border-radius: 22px;
    padding: 5px 0;
    margin: 5px 0;
    background: transparent !important;
    cursor: pointer;
    > a {
      color: #fff;
      > i {
        color: #fff !important;
        span {
          color: #fff;
          padding-left: 15px;
          font-weight: 500;
        }
      }
    }
  }
  // ------------------ Navbar Scss End ------------------ //
}

.discoverPeople_header {
  font-size: 25px;
  font-weight: 500;
  font-family: "Product Sans Bold" !important;
}

.boost_views {
  background: #b057e8;
  color: white;
  font-size: 13px;
  font-family: "Product Sans";
  position: absolute;
  width: 55px;
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
  top: 25px;
  // right: -2px;
  padding-left: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.boostModal {
  height: 600px;
  > div {
    height: calc(600px - 88px);
    overflow-y: auto;
  }
}

.boostLikeCard {
  height: 270px !important;
  width: 250px !important;
  > img {
    object-fit: cover;
    width: 250px !important;
    height: 270px !important;
  }
}

.boostValues {
  font-size: 16px !important;
  font-family: "Product Sans" !important;
  color: #484848 !important;
}

.boostVal {
  padding-left: 5px;
  font-size: 16px !important;
  font-family: "Product Sans Bold" !important;
  color: #e31b1b !important;
}

@media (min-width: 576px) and (max-width: 852px) {
  .w_header {
    > div {
      > div:nth-child(1) {
        img {
          display: none;
        }
      }
      > div:nth-child(2) {
        padding-top: 20px;
      }
    }
  }
}
