@font-face {
  font-family: "Product Sans";
  src: url("./asset/Fonts/Product\ Sans\ Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Product Sans Bold";
  src: url("./asset/Fonts/Product\ Sans\ Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Circular Air Bold";
  src: url("./asset/Fonts/circular_air_bold.otf") format("truetype");
}
@font-face {
  font-family: "Circular Air Book";
  src: url("./asset/Fonts/circular_air_book.otf") format("truetype");
}
@font-face {
  font-family: "Circular Air Light";
  src: url("./asset/Fonts/circular_air_light.otf") format("truetype");
}
// All Project Body Scss
body {
  padding: 0;
  font-family: "Product Sans" !important;
  scrollbar-width: thin !important;
  width: 100%;

  button {
    &:focus {
      outline: none !important;
    }
  }
}

code {
  font-family: "Product Sans" !important;
}

// fonts
@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700&display=swap");

// All Combine Scss
@import "./Variable.scss";
@import "./Common.scss";
@import "./Components/Drawer/Drawer.scss";
@import "./Components/MobileHeader/MobileHeader.scss";
@import "./Components/MobileNextButton/NextButton.scss";
@import "./Components/Model/model.scss";
@import "./View/LandingPage/LoginModuleMobile/UserSignup/DobInput/DobInput.scss";
@import "./View/LandingPage/LoginModuleMobile/UserSignup/DobInput/DobInput.scss";
@import "./View/LandingPage/LoginModuleMobile/UserSignup/FirstName/FirstName.scss";
@import "./View/LandingPage/LoginModuleMobile/UserSignup/Gender/GenderInput.scss";
@import "./View/LandingPage/LoginModuleMobile/UserSignup//LoginTypeSelection/LoginType.scss";
@import "./View/LandingPage/LoginModuleMobile/UserSignup/MobileInput/Mobileinput.scss";
@import "./View/LandingPage/LoginModuleMobile/UserSignup/OtpInput/OTPInput.scss";
@import "./View/LandingPage/LoginModuleMobile/UserSignup/ProfileInput/ProfileInput.scss";
@import "./View/LandingPage/LoginModuleMobile/UserSignup//WelcomePage/WelcomePage.scss";
@import "./View/MobileHomePage/Components/Chats/Chats.scss";
@import "./View/MobileHomePage/Components/Coins/CoinBalance.scss";
@import "./View/MobileHomePage/Components/Dates/Dates.scss";
@import "./View/MobileHomePage/Components/UserProfile/UserProfile.scss";
@import "./View/MobileHomePage/Components/Footer/Footer.scss";
// @import "./View/MobileHomePage/Components/Friends/Friends.scss";
@import "./View/MobileHomePage/Components/Discover/Discover.scss";
@import "./View/MobileHomePage/Index.scss";
@import "./View/MobileHomePage/Components/AppSetting/Appsettings.scss";
// @import "./View/MobileHomePage/Components/Friends/AddFriend.scss";
@import "./View/MobileHomePage/Components/Location/Location.scss";
@import "./View/MobileHomePage/Components/Prospects/Prospects.scss";
@import "./View/MobileHomePage/Components/Location/SelectLocation.scss";
@import "./View/MobileHomePage/Components/Settings/Setings.scss";
