// Mobile-UI SignUp Screens (Skip Button) Right Top Corner Module
.Mskipbtn {
  position: absolute;
  top: 0;
  right: 15px;
  p {
    font-size: 16px !important;
    font-weight: 600 !important;
  }
}

// Mobile Common Go-back Button
.MCommonbackbutton {
  font-size: 24px;
  color: $text-darkpink;
}

#innerVideoContent {
  margin: 20px auto 0px auto;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  height: calc(100vh - 142px);
  overflow-y: auto !important;
  width: 98%;
}

#innerDiscoverContent {
  margin: 20px auto 0px auto;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  height: calc(100vh - 203px);
  margin-bottom: 50px;
  overflow-y: auto !important;
  width: 98%;
}

#innerChatContent {
  margin: 20px auto 0px auto;
  background: #f1f1f1 0% 0% no-repeat padding-box;
  // box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
  // border-radius: 8px;
  height: calc(100vh - 142px);
  // overflow-y: hidden !important;
  width: 98%;
}

.app-links {
  bottom: 80px;
  right: 50px;
}

.cursor__pointer {
  cursor: pointer;
}

// Mobile Common Header Text
.MCommonheader {
  p {
    font-size: 22px;
    font-weight: bold;
    display: block;
    margin: 0;
    color: $text-darkblack;
  }
  p:nth-child(1) {
    font-size: 22px;
    font-weight: bold;
    display: block;
    font-family: "Circular Air Bold";
    margin: 0;
    color: #808080;
  }
  p:nth-child(2) {
    font-size: 22px;
    font-family: "Circular Air Bold";
    color: #e31b1b;
    display: block;
    margin: 0;
  }
}

.m_profileScreenHeader {
  p {
    font-size: 22px;
    font-weight: bold;
    display: block;
    margin: 0;
    color: $text-darkblack;
  }
  // p:nth-child(1) {
  //   font-size: 22px;
  //   font-weight: bold;
  //   display: block;
  //   font-family: "Circular Air Bold";
  //   margin: 0;
  //   color: $text-darkblack;
  // }
  p:nth-child(2) {
    font-size: 16px !important;
    font-family: "Circular Air Bold" !important;
    color: #a9a9a9 !important;
    display: block;
    margin: 0;
  }
}

// Mobile Common Next Button
.MCommonbottomnextarrow {
  margin: 13px;
  border-radius: 50%;
  position: fixed;
  bottom: 0px;
  right: 0px;
}

// Mobile Common Input Type
.MInputCommon {
  // margin-top: 20px;
  input {
    padding: 2px 0px;
    width: 85%;
    font-size: 16px !important;
    font-family: "Circular Air Book";
    border: none;
    color: #d1d1d1;
    background: #161616;
    font-weight: 500;
    border-bottom: 1px solid;
  }
}

// Mobile Common Subtitle like ( this is how it shown in seeme )  Message
.MNotificationmessage {
  span {
    font-family: "Circular Air Book";
    margin: 0;
    font-size: 13px;
    padding-top: 5px;
    color: $light-gray;
  }
}

// Web Common Subtitle like ( this is how it shown in seeme )  Message
.WNotificationmessage {
  span {
    margin: 0;
    font-size: 13px;
    padding-top: 5px;
    color: $light-gray;
  }
}

// Mobile Common Checkbox Scss in Login-Module For User Questions
.MCheckbox {
  > span:first-child {
    position: fixed !important;
    right: 10px !important;
    left: auto !important;
  }
}

// Mobile After Login All Pages Drawer Width
.MCommonwidth {
  width: 100vw;
}

// Mobile After Login Profile Picture (Image) Top Right Corneer
.Msettings {
  img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
  }
  p {
    font-family: "Circular Air Light";
    font-size: 16px;
    color: #d1d1d1;
    margin: 0;
  }
}

// Mobile After Success Login Coinbalance Of User Top Right Corner
.coinbalances {
  display: flex;
  float: right;
  border: $border-goldcolor;
  border-radius: 24px;
  padding: 2px 10px !important;
  img {
    width: 20px;
    height: 20px;
    padding-top: 2px;
    padding-right: 2px;
  }
  span {
    position: relative;
    right: 20px;
    top: 2px;
  }
}

.coinbalance_wallet {
  display: flex;
  float: right;
  justify-content: center;
  border: $border-goldcolor;
  border-radius: 24px;
  padding: 2px 10px !important;
  img {
    width: 20px;
    height: 20px;
    padding-top: 2px;
    padding-right: 2px;
  }
  span {
    position: relative;
    right: 20px;
    top: 2px;
  }
}

// For the UserProfile in Left Side Profile Picture in every tabs style Module
.Mcmn_prospect {
  color: #000;

  > div:nth-child(1) {
    img {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      border: 1px solid #888;
    }
  }
  > div:nth-child(2) {
    > h4 {
      font-family: "Circular Air Bold" !important;
      font-size: 14px !important;
      color: #000;
      opacity: 0.8;
    }
  }
  &:hover {
    text-decoration: none !important;
  }
}

// Web-UI If API Data is Not Avabile then it's Show nodata Content Data Style Module
.Wcommon_nodata {
  position: relative;
  top: 10rem;
}

.m_loading_loader {
  top: 45%;
  padding: 10px;
  left: 50%;
  border-radius: 8px;
  transform: translate(-50%, -50%);
  position: absolute;
  background: #fff;
  > div:nth-child(1) {
  }
  > div:nth-child(2) {
    font-family: "Circular Air Book";
  }
}

// Web-UI Login Step in Next (Button) Module Common Input Style
.W_userdatainput {
  input {
    border-bottom: 2px solid #ccc !important;
    border: none;
    width: 100%;
    padding: 0 15px;
    height: 40px;
    &:focus,
    &:active,
    &:focus {
      border-bottom: 2px solid #e31b1b !important;
    }
  }
}

// Web-UI Login Step Singal & Multiple Checkbox Select UserInfo Module
.Wuser_option {
  > div {
    display: inline-block !important;
    > label {
      display: inline-block !important;
      margin: 0 10px !important;
      > span:nth-child(1) {
        padding-top: 18px !important;
      }
    }
  }
}

// Web-UI SignUp Screens (Skip Button) Right Top Corner Module
.right_skipbtn {
  position: absolute;
  top: 30px;
  right: 35px;
  cursor: pointer;
  p {
    font-weight: 600;
    font-size: 15px;
  }
}

// Web-UI SignUp Screens (back Button) LEft Top Corner Module
.left_skipbtn {
  position: absolute;
  top: 15px;
  left: 20px;
  cursor: pointer;
  p {
    font-weight: 600;
    font-size: 15px;
  }
}

.headerName {
  font-size: 1.40625vw !important;
  font-family: "Product Sans Bold" !important;
  color: #484848;
  font-weight: bold;
}

.subHeaderName {
  > h5 {
    font-size: 1.0416vw !important;
    font-family: "Product Sans" !important;
    color: #484848;
  }
}
