html {
  font-family: sans-serif !important;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Nunito Sans", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-scrollbar-width: thin;
  -ms-scrollbar-width: thin;
  -o-scrollbar-width: thin;
  -webkit-scrollbar-width: thin;
  scrollbar-width: thin;
  width: 100%;
}

code {
  font-family: "Nunito Sans", sans-serif !important;
}
