// All Color Code for this App as below
body {
  // overflow: hidden;
  input {
    &:focus {
      outline: none !important;
    }
  }
}

// Background Color Code
$background-white: #ffffff;
$background-black: #000000;
$background-gray: #f8f8f8;
$background-light: #e5e5e5;
$background-darkpink: #f80402;
$background-lightskin: #fffacd;
$background-lightyellow: #ffeb96;

// Text Color Code
$text-white: #ffffff;
$text-black: #000000;
$text-darkblack: #424242;
$text-lightgray: #6c757d;
$text-darkpink: #f80402;
$light-gray: #a9a9a9;
$text-red: #ff0000;
$text-yellow: #ffeb96;

// Border Color Code
$border-lightcolor: 1px solid #e5e5e5;
$border-lightcolorborder: #e5e5e5;
$border-goldcolor: 1px solid #f80402;
$border-bottomcolorlight: 1px solid #c3c3c3;
$border-bottomcolorlightdark: 1px solid #d9d9d9;
$border-bottomcolorblack: 1px solid #000000;
$border-blackcolor: #000000;
$border-whitecolor: 1px solid #ffffff;
$border-pinkcolor: 1px solid #f80402;

// Button Color Code
$facebook: #3b5998;

// Gradiant Color Code
$bggradiant-color: linear-gradient(to bottom right, #f80402 0, #a50f0d);

// Box-Shadow Color Code
$boxshadow-light: 0px 0 2px 0 rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
$boxshadow-belowside: 0px 4px 4px 0 rgba(0, 0, 0, 0.4);
$boxshadow-dark: 0 2px 4px 0 rgba(115, 101, 97, 0.27);
$boxshadow-onesideshadow: 0 5px #c5c5c5;
