// Messages Module
.user_messages {
  max-width: 100%;
  outline: none;
  // height: 100vh;
  height: inherit;
  width: 24%;
  margin-left: 1%;
  margin-right: 2%;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  scrollbar-width: thin;
}

.rightSideChatMessages {
  width: 72%;
  background: #fff;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
}

.no__chats {
  width: 240px;
  height: 200px;
}

@media (min-width: 768px) and (max-width: 1400px) {
  .no__chats {
    width: 12.8205vw;
    height: 10.6837vw;
  }
}

@media (min-width: 1366px) and (max-width: 1600px) {
  .user_messages {
    width: 25%;
    margin-left: 1%;
    margin-right: 2%;
  }
  .rightSideChatMessages {
    width: 71%;
  }
}

@media (min-width: 991px) and (max-width: 1365px) {
  .user_messages {
    width: 32%;
    margin-left: 1%;
    margin-right: 2%;
  }
  .rightSideChatMessages {
    width: 64%;
  }
}

@media (min-width: 768px) and (max-width: 1000px) {
  .noDataFountText {
    font-size: 16px !important;
  }
  .chatNotStarted > div:nth-child(1) {
    text-align: center;
  }
  .chatNotStarted > div:nth-child(1) > span {
    font-size: 24px;
  }
  .chatNotStarted > div:nth-child(2) {
    text-align: center;
  }
  .chatNotStarted > div:nth-child(2) > span {
    font-size: 16px;
  }
}

@media (min-width: 767px) and (max-width: 990px) {
  .user_messages {
    width: 38%;
    margin-left: 1%;
    margin-right: 2%;
  }
  .rightSideChatMessages {
    width: 58%;
  }
}

.chat_handlers {
  background: white;
  border: none !important;
  padding: 0px !important;
  cursor: pointer;
}

.gif {
  border: 2px solid #e31b1b;
  transition: all 0.3s ease;
  margin-left: 10px;
  background: #fff;
  color: #424242;
  padding: 4px;
  font-size: 12px;
  border-radius: 8px;
  cursor: pointer;
}

.w_common_friends {
  background: blue;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  right: 0px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  > img {
    height: 15px;
  }
}

.w_common_matched {
  border-radius: 50%;
  height: 20px;
  width: 20px;
  right: 0px;
  left: 0px;
  position: absolute;
  > img {
    height: 18px;
  }
}

.w_matchFoundData {
  position: relative !important;
  display: flex;
  flex-direction: column;
  border-radius: 50%;
  cursor: pointer;
  font-size: 10px;
  box-shadow: 0px 3px 6px #00000029;
  padding: 5px;
  > img {
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 50%;
  }
}

.d_matched_viewMore {
  display: flex;
  flex-direction: column;
  border-radius: 50%;
  cursor: pointer;
  font-size: 10px;
  box-shadow: 0px 3px 6px #00000029;
  padding: 5px;
  > img {
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 50%;
  }
}

.w_matchFoundData_WName {
  width: 60px !important;
  color: #484848;
  font-family: "Product Sans Bold";
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
  text-align: center;
}

.d_newMatchesText {
  color: #e31b1b;
  font-size: 14px;
  font-family: "Product Sans Bold";
}

.d_chat_transfer_coins_header {
  color: #e31b1b;
  font-size: 24px;
  font-family: "Product Sans Bold";
}

.d_chat_transfer_coins_name {
  color: #474747;
  font-size: 14px;
}

.d_chat_transfer_coins_user_name {
  font-size: 18px;
  color: #484848;
}

.d_chat_transfer_input_box {
  > input {
    width: 100%;
    padding-bottom: 5px;
    padding-top: 5px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #484848;
  }
}

.d_chat_transfer_confirm_disabled {
  width: 100%;
  background: #d8d8d8;
  border: none;
  color: white;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  padding: 10px 0px;
  margin-top: 35px;
  border-radius: 5px;
}

.d_chat_transfer_confirm {
  width: 100%;
  border: none;
  background: linear-gradient(to bottom right, #f80402 0, #a50f0d);
  color: white;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  padding: 10px 0px;
  margin-top: 35px;
  border-radius: 5px;
}

.gif_scroll_screen {
  height: 260px;
  overflow-y: scroll;
  > div {
    justify-content: space-evenly;
    > img {
      margin: 5px;
      border: 1px solid #e6e6e6;
      border-radius: 5px;
    }
  }
}

.gif_input_box {
  padding: 10px 10px 10px 45px;
  border-radius: 5px !important;
  border: 1px solid #e2e2e2;
  background: #f4f4f4;
  font-size: 14px;
  font-family: inherit !important;
  width: inherit !important;
}

.search_user {
  border-radius: 8px;
}

.gif_search_input {
  top: 9px;
  left: 30px;
  position: absolute;
}

.selectedImage:focus,
.selectedImage:active {
  border: 1px solid red;
}

.previewButtonAlignment {
  flex-direction: row;
  display: flex;
  justify-content: center;
  > button {
    cursor: pointer;
    padding: 10px 50px;
    background: linear-gradient(to bottom right, #f80402 0, #a50f0d);
    border: none !important;
    color: #fff;
    margin-top: 5px;
    border-radius: 5px;
    margin: 30px;
    font-weight: 200;
  }
}

.coinPopupBtn {
  padding: 10px 50px;
  font-family: "Product Sans";
  font-size: 16px;
  cursor: pointer;
  background: linear-gradient(to bottom right, #f80402 0, #a50f0d);
  border: none !important;
  color: #fff;
  border-radius: 5px;
  margin: 20px;
  font-weight: 200;
}

.dateOptions_circle {
  height: 160px;
  width: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #343434;
  border-radius: 50%;
  cursor: pointer;
  > img {
    height: 3.125vw;
    width: 3.125vw;
  }
}

.fixDate {
  // cursor: pointer;
  display: flex;
  flex-direction: row;
  border: 1px solid #e7e7e7;
  border-radius: 5px;
  align-items: center;
  margin-right: 15px;
  > div:nth-child(1) {
    padding: 0px 10px;
  }
  > div:nth-child(2) {
    > div:nth-child(1) {
      font-family: "Product Sans Bold";
      font-size: 13px;
      text-align: left;
      color: #484848;
      padding-right: 15px;
    }
    > div:nth-child(2) {
      padding-right: 15px;
      font-family: "Product Sans";
      font-size: 10px;
      color: #484848;
      text-align: left;
    }
  }
}

.date_options {
  font-size: 20px;
  font-family: "Product Sans Bold";
  color: #484848;
  text-align: center;
}

.user_chatsetting {
  // padding-top: 10px;
  > i {
    border: 2px solid #e31b1b;
    padding: 6px;
    border-radius: 12px;
    height: 32px !important;
    margin-left: 5px;
    color: #e31b1b;
    cursor: pointer;
  }
}

.friendUserIcon {
  background: #00007f;
  left: 40px;
  top: 5px;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  position: absolute;
  > img {
    height: 13px !important;
    margin-left: 3px;
    margin-top: 2.5px;
    width: 13px !important;
    position: absolute;
  }
}

.matchedUserIcon {
  position: absolute !important;
  .d_matched_heart {
    height: 20px;
    width: 20px;
    position: absolute;
    top: 5px;
    left: -3px;
  }
}

.d_notMatched_coin {
  height: 28px !important;
  width: 28px !important;
  left: -10px;
  bottom: 0px;
  position: absolute;
}

.media_main {
  position: relative;
}

.onlineDot {
  width: 15px;
  height: 15px;
  background-color: #74ec2c;
  position: absolute;
  border-radius: 50%;
  bottom: 7px;
  left: 48px;
}

.user_media {
  padding-top: 13px;
  position: relative;
}

.matched_friendUserIcon {
  position: absolute;
  top: 5px;
  left: 43px;
  background: darkblue;
  border-radius: 50%;
  height: 18px;
  width: 18px;
  > img {
    height: 13px !important;
    width: 13px !important;
    margin-left: 2px;
  }
}

// User Active Message Background Style Module
.simple_mess {
  font-family: "Product Sans";
  cursor: pointer;
  img {
    border-radius: 50%;
    width: 55px;
    height: 55px;
    object-fit: cover;
  }
}

.UserMessageactive {
  background: #f1f1f1;
}

// User Total Number of Messages Style Module
.total_messages {
  position: absolute;
  right: 0;
  bottom: 10px;
  // border: 2px solid #e31b1b;
  color: #e31b1b;
  border-radius: 10px;
  padding: 0 5px;
  font-weight: bold;
}

.string_payload {
  word-break: break-word;
}

.chatroom {
  width: 100%;
  border-radius: 5px;
  // overflow: hidden;
  scrollbar-width: thin;
  > .chats {
    max-width: 100%;
    outline: none;
    overflow-y: auto;

    // height: calc(100vh - 350px);
    height: calc(100vh - 372px);

    padding: 0 20px;
    margin: 10px 0 0;
    > .chat.img_left {
      float: left;
      clear: both;
      background: #fff;
      p {
        margin: 0;
        color: #fff;
      }
      img {
        // margin-right: 10px;
        height: 20px;
        width: 15px;
        border-radius: 5px;
      }
    }
    > .chat.img_right {
      float: right;
      clear: both;
      background: #fff;
      p {
        margin: 0;
        color: #fff;
      }
      img {
        // margin-right: 10px;
        height: 20px;
        width: 20px;
        border-radius: 5px;
      }
    }
  }
  .input {
    height: 40px;
    background-color: #fff;
    border-radius: 6px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    > .chat_option {
      display: flex;
      align-items: center;
      width: 200px;
      > .chat_send_button {
        color: #e31b1b;
        width: 70px;
        text-align: right;
        font-family: "Product Sans" !important;
        padding-right: 10px;
        size: 18px;
        cursor: pointer !important;
      }
      > .chat_send_button_disabled {
        cursor: not-allowed !important;
        color: grey;
        font-family: "Product Sans" !important;
        width: 70px;
        text-align: right;
        padding-right: 10px;
        size: 18px;
        cursor: pointer;
      }
      > .chat_emoji_gift {
        > .chat_smiley {
          height: inherit;
          align-items: center;
          display: flex;
          cursor: pointer;
        }
        > .chat_gift_box {
          height: inherit;
          align-items: center;
          display: flex;
          cursor: pointer;
        }
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 120px;
      }
    }
    > .chat_box {
      width: calc(100% - 200px);

      > .chat_box_form {
        > .chat_box_input {
          padding-left: 10px;
          color: #e31b1b !important;
          font-size: 14px !important;
          font-family: "Product Sans" !important;
          background-color: #fff;
          border: none !important;
        }
      }
    }
  }
}

.smiley {
  background: linear-gradient(to bottom right, #f80402 0, #a50f0d);
  height: 40px;
  width: 40px;
  border-radius: 5px;
  cursor: pointer;
}

// Emoji Icon's Style Module
.emoji-mart-preview {
  display: none;
}

.send_image_attachment {
  display: flex !important;
  height: 100%;
  align-items: center;
  margin-right: 10px;
  margin-left: 10px;
  width: 40px;
}

.send_image {
  display: flex;
  align-items: center;
  padding-right: 7px;
}

.more_options {
  border: none !important;
  padding: 0px !important;
  background: white;
  display: flex;
  cursor: pointer;
  justify-content: space-evenly;
  > button {
    margin-left: 5px !important;
    padding: 2px !important;
    // border: 2px solid #e31b1b;
    transition: all 0.3s ease;
    border-radius: 12px;
  }
}

.more_options_disabled {
  border: none !important;
  padding: 0px !important;
  background: white;
  display: flex;
  cursor: not-allowed;
  justify-content: space-evenly;
  > button {
    margin-left: 5px !important;
    padding: 2px !important;
    // border: 2px solid #e31b1b;
    transition: all 0.3s ease;
    border-radius: 12px;
  }
}

// For only Mobile and Tablet User Message Right Side Open Drawer Style Module
.Userchats {
  width: 67vw;
  .message_close {
    i {
      border: 2px solid #e31b1b;
      padding: 5px;
      border-radius: 8px;
      color: #e31b1b;
      font-size: 17px;
      margin-top: 2px;
      cursor: pointer;
    }
  }
}

.send_location {
  cursor: pointer;
  margin-right: 8px;
  border: none !important;
  background: white;
  padding: 0px !important;
}

.chatAttachmentBtn {
  border: none;
  background: #fff;
  border: 2px solid #e31b1b;
  border-radius: 5px;
  width: 130px;
  height: 100px;
  margin: 5px;
  > div {
    > div {
      font-size: 16px;
      font-family: "Product Sans";
      color: #484848;
    }
  }
}

.previewAttachmentText {
  color: #e31b1b;
  font-size: 24px;
  font-family: "Product Sans Bold";
}

.send_location_disabled {
  margin-right: 8px;
  cursor: not-allowed;
  border: none !important;
  background: white;
  padding: 0px !important;
}

// Media Query for the Chat input Module for the Mobile
@media screen and (max-width: 525px) {
  .chatroom {
    > .chats {
      height: 83vh;
      margin: 0;
    }
  }
}

// Send Location Model Css
.Chart_cotainer {
  > div {
    h5 {
      font-weight: 500;
    }
    .send_location {
      border: 2px solid #e31b1b;
      background: #fff;
      padding: 0px 15px;
      border-radius: 4px;
      color: #000;
      font-weight: 500;
    }
    .cancle_location {
      border: 2px solid #d1d1d1;
      background: #fff;
      padding: 0px 15px;
      border-radius: 4px;
      color: #000;
      font-weight: 500;
    }
  }
}

.dialogPrev_cancelButton {
  border: none;
  cursor: pointer;
  background: #fff;
  box-shadow: 0px 1px 4px #000029;
  height: 34px;
  width: 34px;
  border-radius: 50px;
  position: absolute;
  top: -14px;
  right: -14px;
  > img {
    margin-left: 1px;
    margin-top: 7px;
  }
}

.Sendlocation_btn {
  text-align: center;
  font-weight: bold;
  color: white;
  font-size: 20px;
  background-color: #f50057;
  padding: 10px;
  width: 100%;
  border: none;
}

.purchaseCoinButton {
  margin-top: 30px;
  font-weight: bold;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  color: white;
  background: linear-gradient(to bottom right, #f80402 0, #a50f0d);
}

.pac-container {
  z-index: 9999;
}

.magnifyingGlass {
  position: absolute;
  right: 35px;
  top: 21px;
  > img {
    height: 16px;
    width: 16px;
  }
}

.attachmentButton:hover {
  background: none !important;
}

.magnifyingGlass_prospects {
  cursor: pointer;
  position: absolute;
  right: 12px;
  top: 6px;
  > img {
    height: 16px;
    width: 16px;
  }
}

.updated__chat__view {
  height: calc(100vh - 222px);
  > div {
    height: inherit;
    > div:nth-child(1) {
      height: inherit;
    }
    > div:nth-child(2) {
      height: inherit;
    }
  }
}

.searchText {
  color: #c8cfe0 !important;
  font-size: 14px !important;
  font-family: "Product Sans" !important;
}

.ChatPage_FilterUser_Search {
  position: relative;
  > #exampleInputEmail1 {
    background: #f1f1f1;
    border-radius: 6px;
    color: #484848 !important;
    font-size: 14px !important;
    font-family: "Product Sans" !important;
    border-color: #c1c1c1;
  }
  > #exampleInputEmail1::placeholder {
    border-radius: 6px;
    color: #c1c1c1 !important;
    font-size: 14px !important;
    font-family: "Product Sans" !important;
    border-color: #c1c1c1;
  }
}

.ChatPage_LeftSide_User_Image {
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 50%;
  padding: 5px;
  position: relative;
}

.get_chance_to_connect {
  font-family: "Product Sans" !important;
  font-size: 18px;
  color: #484848;
}

.ChatPage_RightSide_Selected_User {
  cursor: pointer;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 50%;
  padding: 5px;
  height: 60px;
  width: 60px;
  > img {
    object-fit: cover;
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }
}

.google_map_chat {
  > div {
    > div:nth-child(4) {
      > div:nth-child(2) {
        > div {
          width: 90%;

          input {
            width: 90%;
            height: 40px;
            padding-left: 16px;
            margin-top: 2px;
            position: absolute !important;
            top: 130px !important;
            left: 25px !important;
            border-radius: 20px !important;
            border: none !important;
            opacity: 0.8;
            // left: 14px;
            // position: absolute;
            // top: 130px;
            // border-radius: 22px;
            // margin-left: 10px;
            // width: 90% !important;
            // opacity: 0.8;
            // border-width: 0px;
          }
        }
      }
    }
  }
}

.basic__user__info {
  > div:nth-child(1) {
    > img {
      border-radius: 50%;
      object-fit: cover;
    }
  }
  > div:nth-child(2) {
    padding-left: 15px;
    font-family: "Product Sans Bold";
    text-transform: capitalize;
    font-size: 18px;
  }
}

.noDataFountText {
  font-size: 20px;
  font-family: "Product Sans";
  color: #484848;
}

.user_messages_list {
  overflow-y: auto;
  scrollbar-width: thin;
  height: calc(100vh - 365px);
  background: white;
}

.chat_message_section_header {
  height: 82.5px;
}

.chat_message_section {
  // height: 100vh;
  height: calc(100vh - 314px);
  > .chat_messages {
    height: inherit;
  }
}

.chatNotStarted {
  > div:nth-child(1) {
    color: #484848;
    font-size: 30px;
  }
  > div:nth-child(2) {
    font-size: 20px;
    color: #484848;
    opacity: 0.5;
  }
}

.menuItem {
  font-family: "Avenir", "Product Sans" !important;
  font-size: 13px;
}

.emojiPicker {
  // width: 338px;
  position: absolute;
  right: 30px;
  bottom: 135px;
}

.skeleton_img_left {
  float: left;
  clear: both;
  // background: #fff;
  p {
    margin: 0;
    color: #fff;
  }
  img {
    // margin-right: 10px;
    height: 20px;
    width: 15px;
    border-radius: 25px;
  }
}
.skeleton_img_right {
  float: right;
  clear: both;
  // background: #fff;
  p {
    margin: 0;
    color: #fff;
  }
  img {
    // margin-right: 10px;
    height: 20px;
    width: 20px;
    border-radius: 25px;
  }
}

.attachment_label {
  margin: 0 !important;
  justify-content: flex-end;
  align-items: center;
  display: flex;
  height: 100%;
  cursor: pointer;
}

.attachment_label_disabled {
  margin: 0 !important;
  cursor: not-allowed;
  justify-content: flex-end;
  align-items: center;
  display: flex;
  pointer-events: none;
  height: 100%;
}

.normalText.left {
  margin: 10px 0px;
  display: block;
  position: relative;
  > div {
    display: block;
    max-width: 65%;
    width: max-content;
    > span {
      padding: 5px 13px;
      font-size: 13px;
      color: #484848;
      font-family: "Product Sans" !important;
      width: max-content;
      background: white;
      border: 1px solid #e31b1b;
      border-radius: 5px;
      display: block;
      word-wrap: break-word;
    }
  }
}

.attachment_ack_m_l {
  position: absolute;
  font-size: 14px;
  bottom: 10px;
  right: 50px;
  font-family: "Product Sans";

  > span.ack.right {
    text-shadow: #fff 1px 1px 0px;
  }
  > span.ack.left {
    text-shadow: #fff 1px 1px 0px;
  }
}

.attachment_ack {
  position: absolute;
  font-size: 14px;
  bottom: 10px;
  right: 15px;
  font-family: "Product Sans";
  // display: flex;
  // justify-content: flex-end;
  // align-items: flex-end;
  > span.ack.right {
    text-shadow: #fff 1px 1px 0px;
    // background: white;
    // border: 1px solid #c8cfe0;
    // border-radius: 5px;
    // padding: 8px;
  }
  > span.ack.left {
    text-shadow: #fff 1px 1px 0px;
    // background: white;
    // border: 1px solid #e31b1b;
    // border-radius: 5px;
    // padding: 8px;
  }
}

.c_dropdown {
  z-index: 9;
  position: absolute;
  width: 50px;
  > div {
    cursor: pointer;
    padding: 6px 0;
  }
  .c_dropdown_location {
    // background: #e95457;
    border-radius: 50%;
  }
}

.image.left {
  margin: 10px 0px;
  height: 200px;
  width: 280px;
  display: flex;
  position: relative;
  > div {
    display: block;
    max-width: 65%;
    width: max-content;
    > img {
      // padding: 5px 13px;
      // font-size: 14px;
      // width: max-content;
      background: white;
      border: 1px solid #e31b1b;
      border-radius: 5px;
      display: block;
      // word-wrap: break-word;
    }
    > div {
      > video {
        background: white;
        border: 1px solid #e31b1b !important;
        border-radius: 5px;
        display: block;
      }
    }
  }
}

.image.right {
  margin: 10px 0px;
  display: flex;
  justify-content: flex-end;
  position: relative;
  > div {
    display: block;
    width: max-content;
    max-width: 65%;
    > img {
      // padding: 5px 13px;
      // font-size: 14px;
      text-align: right;
      background: white;
      border: 1px solid #c8cfe0;
      color: black;
      border-radius: 5px;
      display: block;
      // word-wrap: break-word;
    }
    > div {
      > video {
        background: white;
        border: 1px solid #c8cfe0;
        border-radius: 5px;
        display: block;
      }
    }
  }
}

.normalText.right {
  margin: 10px 0px;
  display: flex;
  justify-content: flex-end;
  position: relative;
  > div {
    display: block;
    width: max-content;
    max-width: 65%;
    > span {
      padding: 5px 13px;
      font-size: 14px;
      text-align: right;
      color: #484848;
      font-family: "Product Sans" !important;
      background: white;
      border: 1px solid #c8cfe0;

      border-radius: 5px;
      display: block;
      word-wrap: break-word;
    }
  }
}

.physicalDateModal_header {
  color: #e31b1b;
  font-family: "Product Sans Bold";
  font-size: 24px;
}

.physicalDateModal_text {
  color: #484848;
  font-family: "Product Sans";
  font-size: 14px;
}

.physicalDateModal_cat_text {
  color: #484848;
  font-family: "Product Sans Bold";
  font-size: 20px;
}

// custom loader
.chat_screen_progressBar {
  z-index: 9999;
  position: absolute;
  left: 50%;
  top: 35%;
  transform: translate(-50%, -50%);
}

.coinAnimation {
  width: 200px;
  height: 200px;
}

.video-camera {
  border-radius: 5px;
  border: 1px solid #e6e6e6;
  padding: 4px 8px;
  margin-right: 15px;
}

.c-button {
  border: none !important;
  background: transparent !important;
  padding: 0px !important;
  cursor: pointer !important;
}

.c-button-disabled {
  border: none !important;
  background: transparent !important;
  padding: 0px !important;
  cursor: not-allowed !important;
}
