.d_chat_input_container {
  position: relative;
  height: 40px;
  width: 100%;
  display: flex;
  flex-direction: row;
  > div:nth-child(1) {
    padding: 0px 10px;
  }
  > div:nth-child(3) {
    padding: 0px 10px;
  }
}

.blockedUserInput {
  color: rgb(84, 84, 84);
  font-size: 13px;
  font-family: "Product Sans";
}

.d_chat_input_area {
  position: relative;
  width: 100%;
  > form {
    height: 40px !important;
    width: inherit !important;
    > input {
      border-radius: 5px;
      padding-left: 20px;

      width: inherit !important;
      height: 40px !important;
      border: 1px solid #e31b1b;
    }
    > input::placeholder {
      color: #e31b1b;
      opacity: 0.6;
    }
  }
}

.d_chat_options {
  top: 8px;
  right: 20px;
  position: absolute;
  width: 90px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.d_chat_send_btn {
  background: linear-gradient(to bottom right, #f80402 0, #a50f0d);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer !important;
  font-family: "Circular Air Book";
  position: absolute;
  right: 10px;
  height: 100%;
  padding: 0 30px;
}
