// Slider Section Scss
.MainSlider {
  img {
    width: 100%;
    min-height: 400px;
  }
  .carousel-caption {
    display: block !important;
    position: absolute;
    bottom: 35%;
    h3 {
      font-size: 5vh;
    }
    p {
      font-size: 2vh;
    }
  }
}

// Media Query for ( min-width:320px to max-width:417px )
@media only screen and (min-width: 320px) and (max-width: 417px) {
  .MainSlider {
    .carousel-caption {
      display: block !important;
      position: absolute;
      bottom: 5% !important;
      h3 {
        font-size: 3vh !important;
      }
      p {
        font-size: 2vh !important;
      }
    }
  }
}

// Media Query for ( min-width:418px to max-width:417px )
@media only screen and (min-width: 418px) and (max-width: 678px) {
  .MainSlider {
    .carousel-caption {
      display: block !important;
      position: absolute;
      bottom: 18% !important;
      h3 {
        font-size: 6vh !important;
      }
      p {
        font-size: 3vh !important;
      }
    }
  }
}

.bgImg {
  background: url("../../../asset/images/BG.webp");
}
