.mainScreen {
  // padding: 24px;
  font-family: "Product Sans" !important;
  overflow: auto !important;
  // height: 100vh !important;
  margin-top: 30px !important;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  height: calc(100vh - 150px) !important;
  padding-bottom: 60px;
}

.planCard {
  width: 28%;
}

.m_planCard {
  width: 90%;
  margin: 0px auto 15px auto;
}

.infoCard {
  background: #f1f1f1;
  text-align: center;
  border-radius: 12px;
  width: 23%;
  cursor: pointer;
  > div:nth-child(2) {
    font-size: 20px;
    padding: 10px 0;
    font-family: "Product Sans Bold";
  }
  > div:nth-child(3) {
    > div {
      padding: 5px 0;
      font-size: 13px;
      font-family: "Product Sans Bold";
      color: #474747;
    }
  }
  > button {
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    border: none;
    padding: 5px 20px;
  }
}

.plansCoinCard {
  background: #f1f1f1;
  text-align: center;
  border-radius: 12px;
  width: 23%;
  cursor: pointer;
  > div:nth-child(1) {
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    padding: 6px 0;
    color: white;
    font-family: "Product Sans Bold";
    font-size: 18px;
    text-align: center;
  }
  > div:nth-child(2) {
    margin-top: 5px;

    // font-family: "Product Sans Bold";
    // font-size: 18px;
    // text-align: center;
    // padding: 6px;
    // width: 6vw;
    // margin: auto;
    // border-radius: 4px;
    // margin-top: 20px !important;
    // margin-bottom: 10px !important;
  }
  > div:nth-child(3) {
    font-family: "Product Sans";
    font-size: 14px;
    text-align: center;
    padding: 6px 0;
  }
  > div:nth-child(4) {
    font-family: "Product Sans";
    font-size: 14px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  > button {
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    border: none;
    padding: 5px 20px;
  }
  > div:nth-child(5) {
    font-family: "Product Sans";
    font-size: 14px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (min-width: 1400px) and (max-width: 4096px) {
  .newCoinCard {
    width: 14vw !important;
  }
}

@media only screen and (min-width: 991px) and (max-width: 1399px) {
  .newCoinCard {
    width: 18vw;
    div:nth-child(2) {
      width: 10vw;
    }
  }
}

@media only screen and (min-width: 576px) and (max-width: 990px) {
  .newCoinCard {
    width: 24vw;
    div:nth-child(2) {
      width: 14vw;
    }
  }
}

.premiumUserScreen {
  background: #f6f6f6;
  overflow-y: auto !important;
  height: calc(100vh - 120px) !important;
  padding-bottom: 60px;
}

.activatePlanScreen {
  // padding: 24px;
  font-family: "Product Sans" !important;
  // overflow: auto !important;
  // height: 100vh !important;
  margin-top: 30px !important;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  // height: calc(100vh - 220px) !important;
}

@media (min-width: 700px) and (max-width: 830px) {
}

.tabActive {
  background: linear-gradient(to bottom right, #f80402 0, #a50f0d);
  color: white;
  border-radius: 6px;
  box-shadow: 0px 2px 3px #0000001a;
  text-align: center;
  padding: 12px 5px;
  font-size: 14px;
  width: 150px;
  border: 1px solid #e6e6e6;
  cursor: pointer;
}

.withdrawEarningsButton {
  border: none;
  margin-right: 15px;
  background: linear-gradient(to bottom right, #f80402 0, #a50f0d);
  box-shadow: 0px 2px 3px #0000001a;
  padding: 5px 40px;
  color: white;
  border-radius: 4px;
}

.withdrawCoins-input {
  width: 100%;
  > label {
    > span {
      // color: #e31b1b;
      font-family: "Product Sans" !important;
    }
  }
  > div {
    > input {
      font-family: "Product Sans" !important;
    }
  }
}

.withdrawEarningsButton-Disabled {
  border: none;
  margin-right: 15px;
  background: #f1f1f1;
  box-shadow: 0px 2px 3px #0000001a;
  padding: 5px 40px;
  color: white;
  border-radius: 4px;
}

.tabInActive {
  background: #fff;
  color: #474747;
  border-radius: 6px;
  box-shadow: 0px 2px 3px #0000001a;
  text-align: center;
  padding: 12px 5px;
  font-size: 14px;
  width: 150px;
  border: 1px solid #e6e6e6;
  cursor: pointer;
}

.modal-tabActive {
  background: linear-gradient(to bottom right, #f80402 0, #a50f0d);
  color: #fff;
  border-radius: 6px;
  box-shadow: 0px 2px 3px #0000001a;
  text-align: center;
  padding: 12px 5px;
  font-size: 14px;
  width: 130px;
  border: 1px solid #e6e6e6;
  cursor: pointer;
}
.modal-tabInActive {
  background: #fff;
  color: #474747;
  border-radius: 6px;
  box-shadow: 0px 2px 3px #0000001a;
  text-align: center;
  padding: 12px 5px;
  font-size: 14px;
  width: 130px;
  border: 1px solid #e6e6e6;
  cursor: pointer;
}

.commonHeader {
  color: #808080;
  font-size: 13px;
}

.coinBalance {
  font-family: "Product Sans Bold";
  color: #474747;
  font-size: 28px;
  font-weight: 500;
}

.recentTransactions {
  padding-right: 55px !important;
  color: #f42e70;
  font-size: 18px;
  cursor: pointer;
}

.buyCoinsText {
  color: #a0a0a0;
  font-size: 13px;
}

.expectedPrice {
  color: #aeaeae;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  text-decoration: line-through;
}

.actualPrice {
  color: #00aa1a;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}

.lotofdollars {
  height: 80px;
  width: 80px;
  text-align: center;
}

.coinCard {
  border: 1px solid #dee2e6 !important;
  border-radius: 8px;
  // cursor: pointer;
  > hr {
    margin: 4px !important;
  }
}

.coinCard:hover {
  cursor: pointer;
}

.coinCardsLayout {
  // border: 1px solid #e6e6e6;
  // border-radius: 16px;
}

.coinCardsContainer {
  padding-left: 48px;
  padding-right: 48px;
  padding-top: 32px;
}

.cardsLayout {
  padding-top: 40px;
  padding-left: 180px !important;
  padding-right: 180px !important;
}

.paymentMethod {
  padding-bottom: 15px;
  color: #474747;
  font-size: 18px;
  font-weight: 400;
}

.selectedPlan {
  border-radius: 12px !important;
  border: 3px solid #e31b1b !important;
}

.paymentMethodLinks {
  cursor: pointer;
  box-shadow: 0px 3px 6px #0000001a;
}

.planName {
  width: 100px;
}

.realCoinBalance {
  padding-left: 65px;
  color: #808080 !important;
  font-size: 14px !important;
  > span {
    color: #00aa1a !important;
    font-size: 18px !important;
    font-weight: 600 !important;
  }
}

.transactionModalHeader {
  font-weight: 500;
  font-size: 20px;
}

.cancelButton {
  border: none;
  cursor: pointer;
  background: #fff;
  box-shadow: 0px 1px 4px #000029;
  height: 34px;
  width: 34px;
  border-radius: 50px;
  position: absolute;
  top: -14px;
  right: -14px;
  > img {
    margin-left: 11px;
    margin-top: 7px;
  }
}

/*********************************/

.planHeader {
  font-size: 24px !important;
  font-family: "Product Sans Bold";
  color: #484848;
  margin: none !important;
}

.premium_info1 {
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  background: #fff;
  margin-top: 30px;
  // border: 1px solid #e6e6e6;
  border-radius: 8px;
}

.datumPremiumText {
  padding-top: 34px;
  padding-left: 34px;
  font-size: 18px;
  font-weight: 400;
}

.datumPremiumText2 {
  font-size: 18px;
  font-weight: 400;
}

.datumPremiumShortText {
  width: 180px;
  text-align: center;
}

.user_images {
  position: relative;
  > div {
    > div:nth-child(1) {
      left: 23%;
      position: absolute;
      z-index: 10;
    }
    > div:nth-child(2) {
      position: relative;
      z-index: 99;
      > div {
        left: 35px;
        bottom: -15px;
        position: absolute;
      }
    }
    > div:nth-child(3) {
      right: 23%;
      z-index: 10;
      position: absolute;
    }
  }
}

.datumPremiumRow2 {
  position: relative;
  > div {
    position: absolute;
    left: 75px;
    bottom: 10px;
  }
}

/******************************************/

.activate_plan_text {
  color: #a0a0a0;
  width: 250px;
  font-size: 13px;
  padding-bottom: 25px;
}

.planInfo_desc {
  text-align: center;
  font-size: 12px;
  font-family: "Product Sans";
  color: #484848;
}

.getItNow,
getItNow:hover {
  border-radius: 30px;
  color: #b0b7c6;
  font-weight: 500;
  padding: 8px 18px;
  border: 2px solid #b0b7c6;
  cursor: pointer;
}

.existingPlanPurchased {
  border-radius: 5px;
  background: linear-gradient(to bottom right, #f80402 0, #a50f0d);
  color: #fff;
  font-family: "Product Sans Bold";
  font-size: 20px;
  padding: 5px 40px;
  border: 2px solid #e31b1b;
  cursor: pointer;
}

.getItNowActive {
  border-radius: 30px;
  background: linear-gradient(to bottom right, #f80402 0, #a50f0d);
  color: #fff;
  font-weight: 500;
  padding: 8px 18px;
  border: 2px solid #e31b1b;
  cursor: pointer;
}

.planAlreadyActivated {
  border-radius: 30px;
  background: linear-gradient(to bottom right, #f80402 0, #a50f0d);
  color: #fff;
  font-weight: 500;
  padding: 10px 18px;
  // border: 2px solid #e31b1b;
  cursor: pointer;
}

.month_duration {
  color: #474747;
  font-size: 15px;
}

.discount_price {
  color: #aeaeae;
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  text-decoration: line-through;
}

.actualPrice_premium {
  color: #00aa1a;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}

.paymentMethod_premium {
  padding-bottom: 15px;
  color: #474747;
  font-size: 15px;
  font-weight: 400;
}

#paypal_button {
  > div {
    > div {
      > div {
        border-radius: 6px !important;
        height: 50px !important;
        width: 250px !important;
      }
    }
  }
}

.premiumPlanKeyPair {
  color: #00aa1a;
  font-size: 13px;
  font-weight: 600;
  text-align: center;
}

/*******************************************/

@media (min-width: 900px) and (max-width: 1199px) {
  .cardsLayout {
    padding-left: 110px !important;
    padding-right: 110px !important;
  }
}

@media (min-width: 1000px) and (max-width: 1099px) {
  .cardsLayout {
    padding-left: 60px !important;
    padding-right: 60px !important;
  }
}

@media (min-width: 567px) and (max-width: 999px) {
  .cardsLayout {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
}

@media (min-width: 1200px) and (max-width: 1300px) {
  .user_images {
    position: relative;
    > div {
      > div:nth-child(1) {
        left: 20%;
        position: absolute;
        z-index: 10;
      }
      > div:nth-child(2) {
        position: relative;
        z-index: 99;
        > div {
          left: 35px;
          bottom: -15px;
          position: absolute;
        }
      }
      > div:nth-child(3) {
        right: 20%;
        z-index: 10;
        position: absolute;
      }
    }
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .user_images {
    position: relative;
    > div {
      > div:nth-child(1) {
        left: 10%;
        position: absolute;
        z-index: 10;
      }
      > div:nth-child(2) {
        position: relative;
        z-index: 99;
        > div {
          left: 35px;
          bottom: -15px;
          position: absolute;
        }
      }
      > div:nth-child(3) {
        right: 10%;
        z-index: 10;
        position: absolute;
      }
    }
  }
}

@media (min-width: 900px) and (max-width: 991px) {
  .user_images {
    position: relative;
    > div {
      > div:nth-child(1) {
        left: 28%;
        position: absolute;
        z-index: 10;
      }
      > div:nth-child(2) {
        position: relative;
        z-index: 99;
        > div {
          left: 35px;
          bottom: -15px;
          position: absolute;
        }
      }
      > div:nth-child(3) {
        right: 28%;
        z-index: 10;
        position: absolute;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 899px) {
  .user_images {
    position: relative;
    > div {
      > div:nth-child(1) {
        left: 22%;
        position: absolute;
        z-index: 10;
      }
      > div:nth-child(2) {
        position: relative;
        z-index: 99;
        > div {
          left: 35px;
          bottom: -15px;
          position: absolute;
        }
      }
      > div:nth-child(3) {
        right: 22%;
        z-index: 10;
        position: absolute;
      }
    }
  }
}

.d_earning_tabs {
  > div {
    > div {
      overflow-y: auto;
      height: calc(100vh - 300px);
      > div {
        height: inherit;
        > div {
          height: inherit;
          > div {
            height: inherit;
            > div {
              height: inherit;
            }
          }
        }
      }
    }
  }
}

.topUp_walletBalance {
  color: #808080 !important;
  font-size: 18px;
}

.topUp_balance {
  color: #474747;
  font-size: 25px;
  font-family: "Product Sans Bold";
}

.topUp_data_txnId {
  color: #474747;
  font-size: 16px;
  font-family: "Product Sans";
}

.topUp_coins_received {
  font-size: 20px;
  color: #474747;
  display: flex;
  align-items: center;
  font-family: "Product Sans";
}

.topUp_notes {
  color: #474747;
  font-size: 16px;
  font-family: "Product Sans";
}

.topUpC_time {
  font-size: 16px;
  color: #474747;
  font-family: "Product Sans";
}

.topUp_tabs {
  position: relative !important;
  height: calc(100vh - 190.5px);
  overflow-y: auto;
  > div {
    > div {
      height: calc(100vh - 238.5px);
    }
  }
}

.noCoins_type {
  font-family: "Product Sans Bold";
  font-size: 20px;
}

.noCoins_text {
  font-family: "Product Sans";
  font-size: 16px;
}

.debitRound {
  background: #ff0000;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  z-index: 2;
}

.creditRound {
  background: #1ac71a;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  z-index: 2;
}

// .line:first-child {
//   border: none;
// }

// .line:last-child {
//   border: none;
// }

.line {
  z-index: 1;
  height: 179%;
  border: 1px solid #0000000d;
  position: absolute;
}

.loader {
  position: absolute;
  z-index: 999;
  left: 45%;
  top: 35%;
}

.earningsModalMaxAmount {
  color: #484848;
  font-size: 14px;
  font-family: "Product Sans";
  > span {
    color: #e31b1b;
    font-size: 14px;
    font-family: "Product Sans";
  }
}
